<!-- <div class="row"> -->
<div class="col-lg-12">
  <div class="card">
    <div class="card-header">
      <div class="d-flex align-items-center flex-wrap gap-2">
        <div class="flex-grow-1">
          <h4 class="card-title m-0">Group {{group?.groupName}} Clients List</h4>
        </div>
        <div class="flex-shrink-0">
          <div class="hstack text-nowrap gap-2">
            <button type="button" class="btn btn-success add-btn btn-sm" (click)="openAddClientDialoge(clientContent)">
              <i class="ri-add-fill me-1 align-bottom"></i> Add Client
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--end col-->
<!-- </div> -->

<div class="ag-theme-alpine" appTableView>
  <ag-grid-angular class="gridScrollbar" style="width: 100%; height: 60vh;" [gridOptions]="gridOpts">
  </ag-grid-angular>
</div>

<ng-template #clientContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <form [formGroup]="addClientToGroupForm" (ngSubmit)="submitAddClientToGroup()">
    <div class="modal-body">

      <div class="mb-1">
        <label for="clientName" class="form-label font-weight-bold">Client Name</label>
        <div class="input-group">
          <ng-select class="w-100" id="clientName" formControlName="clientId"
            [ngClass]="{ 'is-submitted':(form['clientId'].touched || uiState.submitted) && addClientToGroupForm.invalid }"
            required>
            <ng-option *ngFor="let name of uiState.clientsList" [value]="name.sNo">{{name.fullName}}
            </ng-option>
          </ng-select>
          <div class="invalid-feedback d-inline-block mt-0"
            *ngIf="(form['clientId'].touched || uiState.submitted) && addClientToGroupForm.invalid">
            Required</div>
        </div>
      </div>

      <div>
        <label for="groupName" class="form-label font-weight-bold">Group Name</label>
        <div class="input-group">
          <ng-select class="w-100" id="groupName" formControlName="groupName"
            [ngClass]="{ 'is-submitted': (form['groupName'].touched || uiState.submitted) && addClientToGroupForm.invalid }"
            required>
            <ng-option *ngFor="let name of groupsList" [value]="name.groupName">{{name.groupName}}
            </ng-option>
          </ng-select>
          <div class="invalid-feedback d-inline-block mt-0"
            *ngIf="(form['groupName'].touched || uiState.submitted) && addClientToGroupForm.invalid">
            Required</div>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-sm btn-success">Save</button>
      <button type="button" class="btn btn-sm btn-outline-danger" (click)="modal.close('cancel')">Cancel</button>
    </div>
  </form>
</ng-template>