.ng-select .ng-select-container {
	min-height: 28px !important;
	height: fit-content !important;
	max-height: fit-content !important;
}

.ng-select.ng-select-multiple.ng-select-disabled > .ng-select-container .ng-value-container .ng-value .ng-value-label {
	color: #000 !important;
}
