<form class="mb-4" id="CustomerServiceForm" [formGroup]="formGroup" (ngSubmit)="submitForm(formGroup)"
    autocomplete="off">
    <ngb-accordion #acc="ngbAccordion" activeIds="1,2,3,4">

        <!-- Client Details -->
        <ngb-panel id="1" title="Client Details" cardClass="open my-4" [ngSwitch]="uiState.editMode">

            <!-- In Case Of Create Start-->
            <ng-template ngbPanelContent="1" *ngSwitchCase="false">
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
                    <div class="container-fluid mb-3">
                        <div class="row  my-2">

                            <!-- ID -->
                            <div class="col-lg-4 col-md-6 col-sm-12 my-1">
                                <label for="id" class="asterisk-input">Client ID</label>
                                <input type="text" id="clientID" class="form-control form-control-sm"
                                    formControlName="clientID"
                                    [ngClass]="{'is-invalid':(f.clientID?.touched || submitted) && f.clientID?.invalid}"
                                    placeholder="Client ID" readonly>
                                <span class="invalid-feedback fw-bold"
                                    *ngIf=" (f.clientID?.touched || submitted) && f.clientID?.invalid">
                                    Required
                                </span>
                            </div>

                            <!-- Client Info  -->
                            <div class="col-lg-4 col-md-6 col-sm-12 my-1">
                                <label for="ClientName" class="asterisk-input">Client Name</label>
                                <div class="input-group input-group-sm">
                                    <input type="text" id="ClientName" formControlName="clientName" readonly
                                        [ngClass]="{'is-invalid':(f.clientName?.touched || submitted) && f.clientName?.invalid}"
                                        class="form-control form-control-sm" placeholder="Client Name">
                                    <button class="btn btn-info btn-sm d-flex align-items-center"
                                        id="clientInfoModalBtn" type="button"
                                        (click)="openSearchClientDialoge(content)">
                                        <i class="ri-user-search-fill mx-1"></i>
                                        Search
                                    </button>
                                </div>
                                <span class="invalid-feedback fw-bold"
                                    *ngIf=" (f.clientName?.touched || submitted) && f.clientName?.invalid">
                                    Required
                                </span>
                            </div>

                            <!-- Producer ( Salesman )-->
                            <div class="col-lg-4 col-md-6 col-sm-12 my-1">
                                <label for="producer" class="asterisk-input">Producer (Salesman)</label>
                                <input type="text" class="form-control form-control-sm" readonly placeholder="Producer."
                                    formControlName="producer"
                                    [ngClass]="{'is-invalid':(f.producer?.touched || submitted) && f.producer?.invalid}">
                                <span class="invalid-feedback fw-bold"
                                    *ngIf=" (f.producer?.touched || submitted) && f.producer?.invalid">
                                    Required
                                </span>
                            </div>

                        </div>
                    </div>
                </div>
            </ng-template>
            <!-- In Case Of Create End-->

            <!-- In Case Of Edit Start-->
            <ng-template ngbPanelContent="1" *ngSwitchCase="true">
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
                    <div class="container-fluid mb-3">
                        <div class="row  my-2">
                            <!-- ID -->
                            <div class="col-lg-3 col-md-6 col-sm-12 my-1">
                                <label for="id" class="asterisk-input">Client ID</label>
                                <input type="text" id="clientID" class="form-control form-control-sm"
                                    formControlName="clientID"
                                    [ngClass]="{'is-invalid':(f.clientID?.touched || submitted) && f.clientID?.invalid}"
                                    placeholder="Client ID" readonly>
                                <span class="invalid-feedback fw-bold"
                                    *ngIf=" (f.clientID?.touched || submitted) && f.clientID?.invalid">
                                    Required
                                </span>
                            </div>

                            <!-- Client Info -->
                            <div class="col-lg-3 col-md-6 col-sm-12 my-1">
                                <label for="ClientName" class="asterisk-input">Client Name</label>
                                <div class="input-group input-group-sm">
                                    <input type="text" id="ClientName" formControlName="clientName" readonly
                                        [ngClass]="{'is-invalid':(f.clientName?.touched || submitted) && f.clientName?.invalid}"
                                        class="form-control form-control-sm" placeholder="Client Name">
                                    <button class="btn btn-info btn-sm d-flex align-items-center"
                                        id="clientInfoModalBtn" type="button" (click)="openSearchClientDialoge(content)"
                                        *ngIf="!uiState.editMode">
                                        <i class="ri-user-search-fill mx-1"></i>
                                        Search
                                    </button>
                                </div>
                                <span class="invalid-feedback fw-bold"
                                    *ngIf=" (f.clientName?.touched || submitted) && f.clientName?.invalid">
                                    Required
                                </span>
                            </div>

                            <!-- Request No. -->
                            <div class="col-lg-3 col-md-6 col-sm-12 my-1">
                                <label for="requestNo" class="asterisk-input">Request No.</label>
                                <input type="text" class="form-control form-control-sm" readonly
                                    placeholder="Request No." formControlName="requestNo"
                                    [ngClass]="{'is-invalid':(f.requestNo?.touched || submitted) && f.requestNo?.invalid}">
                                <span class="invalid-feedback fw-bold"
                                    *ngIf=" (f.requestNo?.touched || submitted) && f.requestNo?.invalid">
                                    Required
                                </span>
                            </div>

                            <!-- Branch -->
                            <div class="col-lg-3 col-md-6 col-sm-12 my-1">
                                <label for="branch">Branch</label>
                                <ng-select id="branch" class="is-invalid" [searchable]="false" formControlName="branch"
                                    [items]="(formData | async)?.Branch?.content!" bindLabel="name" bindValue="name"
                                    [loading]="formData ? false : true" placeholder="Branch">
                                </ng-select>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <!-- In Case Of Edit End-->

        </ngb-panel>
        <!-- end Client Details-->

        <!--start Policy/Endorsement Details -->
        <ngb-panel id="2" title="Policy/Endorsement Details" cardClass="open my-4" [ngSwitch]="uiState.editMode">

            <!-- In Case Of Create Start-->
            <ng-template ngbPanelContent="2" *ngSwitchCase="false">
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingTwo">
                    <div class="container-fluid mb-3">
                        <div class="row  my-2">
                            <div class="col-lg-4 col-md-6 col-sm-12 my-1">
                                <!-- Endors Type -->
                                <div class="accordion-info mb-2">
                                    <label for="endorsType" class="asterisk-input">Endors Type</label>
                                    <ng-select id="endorsType" placeholder="Select Endors Type"
                                        formControlName="endorsType" class="is-invalid"
                                        [ngClass]="{'is-invalid': (f.endorsType?.touched || submitted) && f.endorsType?.invalid}"
                                        [items]="(formData | async)?.PolicyEndorsTypes?.content!" bindLabel="name"
                                        bindValue="name" [loading]="formData ? false : true"
                                        (change)="getSimilarAndRequir($event)">
                                    </ng-select>
                                    <div class="invalid-feedback fw-bold"
                                        *ngIf=" (f.endorsType?.touched || submitted) && f.endorsType?.invalid">
                                        Required
                                    </div>
                                </div>

                                <!-- Policy No -->
                                <div class="accordion-info mb-2">
                                    <label for="policyNo" class="asterisk-input">Policy No</label>
                                    <input type="text" class="form-control form-control-sm" readonly
                                        placeholder="Policy No." id="policyNo" aria-label="Policy No"
                                        formControlName="policyNo"
                                        [ngClass]="{'is-invalid':(f.policyNo?.touched || submitted) && f.policyNo?.invalid}">
                                    <div class="invalid-feedback fw-bold"
                                        *ngIf=" (f.policyNo?.touched || submitted) && f.policyNo?.invalid">
                                        Required
                                    </div>
                                </div>

                                <!-- Issued By -->
                                <div class="accordion-info mb-2">
                                    <label for="issuedBy" class="asterisk-input">Issued By</label>
                                    <input type="text" class="form-control form-control-sm" name="issuedBy" readonly
                                        placeholder="Issued By." id="issuedBy" formControlName="insurComp"
                                        [ngClass]="{'is-invalid':(f.insurComp?.touched || submitted) && f.insurComp?.invalid}">
                                    <div class="invalid-feedback fw-bold"
                                        *ngIf=" (f.insurComp?.touched || submitted) && f.insurComp?.invalid">
                                        Required
                                    </div>
                                </div>

                                <!-- Expiry Date -->
                                <div class="accordion-info mb-2">
                                    <label for="expiryDate" class="asterisk-input">Expiry Date</label>
                                    <app-gregorian-picker [model]="f.existingPolExpDate?.value" [required]="true"
                                        (dateChange)="expiryDate($event)" [disabled]="true"
                                        [submitted]="submitted"></app-gregorian-picker>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-12 my-1">
                                <!-- Class Of Insurance -->
                                <div class="accordion-info mb-2">
                                    <label for="classOfInsurance" class="asterisk-input">Class Of Insurance</label>
                                    <input type="text" class="form-control form-control-sm" name="classOfInsurance"
                                        readonly placeholder="Class Of Insurance." id="classOfInsurance"
                                        formControlName="classOfBusiness"
                                        [ngClass]="{'is-invalid': (f.classOfBusiness?.touched || submitted) && f.classOfBusiness?.invalid}">
                                    <div class="invalid-feedback fw-bold"
                                        *ngIf=" (f.classOfBusiness?.touched || submitted) && f.classOfBusiness?.invalid">
                                        Required
                                    </div>
                                </div>

                                <!-- Line Of Business -->
                                <div class="accordion-info mb-2">
                                    <label for="lineOfBusiness" class="asterisk-input">Line Of Business</label>
                                    <input type="text" class="form-control form-control-sm" name="lineOfBusiness"
                                        readonly placeholder="Line Of Business." id="lineOfBusiness"
                                        formControlName="lineOfBusiness"
                                        [ngClass]="{'is-invalid': (f.lineOfBusiness?.touched || submitted) && f.lineOfBusiness?.invalid}">
                                    <div class="invalid-feedback fw-bold"
                                        *ngIf=" (f.lineOfBusiness?.touched || submitted) && f.lineOfBusiness?.invalid">
                                        Required
                                    </div>
                                </div>

                                <!-- DeadLine -->
                                <div class="accordion-info mb-2">
                                    <label for="deadLine" class="asterisk-input">DeadLine</label>
                                    <app-gregorian-picker [model]="f.existingPolExpDate?.value" [required]="true"
                                        [submitted]="submitted"
                                        (dateChange)="deadlineDate($event)"></app-gregorian-picker>
                                </div>

                                <!-- Request Details -->
                                <div class="accordion-info mb-2">
                                    <label for="requestDetails" class="asterisk-input">Request Details</label>
                                    <textarea class="form-control form-control-sm" name="requestDetails"
                                        id="requestDetails" rows="2" formControlName="requestDetails"></textarea>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-ms-12 my-1">
                                <!-- Net Premium -->
                                <div class="accordion-info mb-2">
                                    <label for="netPremium">Net Premium</label>
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control form-control-sm input-text-right"
                                            placeholder="0.00" InputMask id="netPremium" formControlName="netPremium"
                                            [ngClass]="{'is-invalid': (f.netPremium?.touched || submitted) && f.netPremium?.invalid}"
                                            (input)="vatHandler()">
                                        <span class="input-group-text" id="SAR">SAR</span>
                                        <div class="invalid-feedback fw-bold d-block"
                                            *ngIf=" (f.netPremium?.touched || submitted) &&  f.netPremium?.invalid ">
                                            Required
                                        </div>
                                    </div>
                                </div>
                                <!-- Policy Fees -->
                                <div class="accordion-info mb-2">
                                    <label for="policyFees">
                                        Policy
                                        Fees
                                    </label>
                                    <div class="input-group input-group-sm">
                                        <input type="text" id="policyFees" name="policyFees"
                                            class="form-control form-control-sm input-text-right" placeholder="0.00"
                                            InputMask formControlName="policyFees"
                                            [ngClass]="{'is-invalid': (f.policyFees?.touched || submitted) && f.policyFees?.invalid}"
                                            (input)="vatHandler()">
                                        <span class="input-group-text" id="">SAR</span>
                                    </div>
                                    <div class="invalid-feedback fw-bold d-block"
                                        *ngIf="(f.policyFees?.touched || submitted) &&  f.policyFees?.invalid">
                                        Required
                                    </div>
                                </div>
                                <!-- VAT -->
                                <div class="accordion-info mb-2">
                                    <div class="lables">
                                        <label for="vatPerc">VAT</label>
                                    </div>
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend">
                                            <ng-select id="vatPerc" name="VAT" placeholder="0%"
                                                [items]="(formData | async)?.VATPercentage?.content!" bindLabel="name"
                                                bindValue="name" [loading]="formData ? false : true"
                                                formControlName="vatPerc" (change)="vatHandler()">
                                            </ng-select>
                                        </div>
                                        <input type="text" id="vatPercValue" name="vatPercValue"
                                            class="form-control form-control-sm input-text-right"
                                            formControlName="vatValue" placeholder="0.00" InputMask readonly>
                                        <span class="input-group-text" id="">SAR</span>
                                    </div>
                                </div>

                                <!-- Total Premium -->
                                <div class="accordion-info mb-2">
                                    <div class="lables">
                                        <label for="totalPremium">Total Premium</label>
                                    </div>
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control form-control-sm input-text-right"
                                            name="totalPremium" id="totalPremium" placeholder="0.00"
                                            formControlName="totalPremium" readonly InputMask
                                            [ngClass]="{'is-invalid': (f.totalPremium?.touched || submitted) && f.totalPremium?.invalid}">
                                        <span class="input-group-text" id="SAR">SAR</span>
                                    </div>
                                    <div class="invalid-feedback fw-bold d-block"
                                        *ngIf="(f.totalPremium?.touched || submitted) &&  f.totalPremium?.invalid">
                                        Required
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <!-- In Case Of Create End-->

            <!-- In Case Of Edit Start-->
            <ng-template ngbPanelContent="2" *ngSwitchCase="true">
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingTwo">
                    <div class="container-fluid row mb-3">
                        <!-- Policy / Endorsement Details Start -->
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <div class="card ribbon-box border shadow-none mb-lg-0 h-100">
                                <div class="card-body">
                                    <div class="ribbon ribbon-info round-shape">Policy/Endorsement Details</div>
                                    <div class="ribbon-content mt-4 text-muted">
                                        <div class="row  my-2">
                                            <div class="col-12 my-1">
                                                <!-- Endors Type -->
                                                <div class="accordion-info mb-2">
                                                    <label for="endorsType" class="asterisk-input">Endors Type</label>
                                                    <ng-select id="endorsType" placeholder="Select Endors Type"
                                                        formControlName="endorsType" class="is-invalid"
                                                        [ngClass]="{'is-invalid': (f.endorsType?.touched || submitted) && f.endorsType?.invalid}"
                                                        [items]="(formData | async)?.PolicyEndorsTypes?.content!"
                                                        bindLabel="name" bindValue="name"
                                                        [loading]="formData ? false : true"
                                                        (change)="getSimilarAndRequir($event)">
                                                    </ng-select>
                                                    <div class="invalid-feedback fw-bold"
                                                        *ngIf=" (f.endorsType?.touched || submitted) && f.endorsType?.invalid">
                                                        Required
                                                    </div>
                                                </div>

                                                <!-- Policy No -->
                                                <div class="accordion-info mb-2">
                                                    <label for="policyNo" class="asterisk-input">Policy No</label>
                                                    <input type="text" class="form-control form-control-sm" readonly
                                                        placeholder="Policy No." id="policyNo" aria-label="Policy No"
                                                        formControlName="policyNo"
                                                        [ngClass]="{'is-invalid':(f.policyNo?.touched || submitted) && f.policyNo?.invalid}">
                                                    <div class="invalid-feedback fw-bold"
                                                        *ngIf=" (f.policyNo?.touched || submitted) && f.policyNo?.invalid">
                                                        Required
                                                    </div>
                                                </div>

                                                <!-- Class Of Insurance -->
                                                <div class="accordion-info mb-2">
                                                    <label for="classOfInsurance" class="asterisk-input">Class Of
                                                        Insurance</label>
                                                    <input type="text" class="form-control form-control-sm"
                                                        name="classOfInsurance" readonly
                                                        placeholder="Class Of Insurance." id="classOfInsurance"
                                                        formControlName="classOfBusiness"
                                                        [ngClass]="{'is-invalid': (f.classOfBusiness?.touched || submitted) && f.classOfBusiness?.invalid}">
                                                    <div class="invalid-feedback fw-bold"
                                                        *ngIf=" (f.classOfBusiness?.touched || submitted) && f.classOfBusiness?.invalid">
                                                        Required
                                                    </div>
                                                </div>

                                                <!-- Line Of Business -->
                                                <div class="accordion-info mb-2">
                                                    <label for="lineOfBusiness" class="asterisk-input">Line Of
                                                        Business</label>
                                                    <input type="text" class="form-control form-control-sm"
                                                        name="lineOfBusiness" readonly placeholder="Line Of Business."
                                                        id="lineOfBusiness" formControlName="lineOfBusiness"
                                                        [ngClass]="{'is-invalid': (f.lineOfBusiness?.touched || submitted) && f.lineOfBusiness?.invalid}">
                                                    <div class="invalid-feedback fw-bold"
                                                        *ngIf=" (f.lineOfBusiness?.touched || submitted) && f.lineOfBusiness?.invalid">
                                                        Required
                                                    </div>
                                                </div>

                                                <!-- Issued By -->
                                                <div class="accordion-info mb-2">
                                                    <label for="issuedBy" class="asterisk-input">Issued By</label>
                                                    <input type="text" class="form-control form-control-sm"
                                                        name="issuedBy" readonly placeholder="Issued By." id="issuedBy"
                                                        formControlName="insurComp"
                                                        [ngClass]="{'is-invalid':(f.insurComp?.touched || submitted) && f.insurComp?.invalid}">
                                                    <div class="invalid-feedback fw-bold"
                                                        *ngIf=" (f.insurComp?.touched || submitted) && f.insurComp?.invalid">
                                                        Required
                                                    </div>
                                                </div>

                                                <!-- Expiry Date -->
                                                <div class="accordion-info mb-2">
                                                    <label for="expiryDate" class="asterisk-input">Expiry Date</label>
                                                    <app-gregorian-picker [model]="f.existingPolExpDate?.value"
                                                        [required]="true" (dateChange)="expiryDate($event)"
                                                        [disabled]="true"
                                                        [submitted]="submitted"></app-gregorian-picker>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Policy / Endorsement Details End -->

                        <!-- Amount Info Start -->
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <div class="card ribbon-box border shadow-none mb-lg-0 h-100">
                                <div class="card-body">
                                    <div class="ribbon ribbon-info round-shape">Policy/Endorsement Details</div>
                                    <div class="ribbon-content mt-4 text-muted">
                                        <div class="row  my-2">
                                            <div class="col-12 my-1">
                                                <!-- Net Premium -->
                                                <div class="accordion-info mb-2">
                                                    <label for="netPremium">Net Premium</label>
                                                    <div class="input-group input-group-sm">
                                                        <input type="text"
                                                            class="form-control form-control-sm input-text-right"
                                                            placeholder="0.00" InputMask id="netPremium"
                                                            formControlName="netPremium"
                                                            [ngClass]="{'is-invalid': (f.netPremium?.touched || submitted) && f.netPremium?.invalid}"
                                                            (input)="vatHandler()">
                                                        <span class="input-group-text" id="SAR">SAR</span>
                                                        <div class="invalid-feedback fw-bold d-block"
                                                            *ngIf=" (f.netPremium?.touched || submitted) &&  f.netPremium?.invalid ">
                                                            Required
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Policy Fees -->
                                                <div class="accordion-info mb-2">
                                                    <label for="policyFees">
                                                        Policy
                                                        Fees
                                                    </label>
                                                    <div class="input-group input-group-sm">
                                                        <input type="text" id="policyFees" name="policyFees"
                                                            class="form-control form-control-sm input-text-right"
                                                            placeholder="0.00" InputMask formControlName="policyFees"
                                                            [ngClass]="{'is-invalid': (f.policyFees?.touched || submitted) && f.policyFees?.invalid}"
                                                            (input)="vatHandler()">
                                                        <span class="input-group-text" id="">SAR</span>
                                                    </div>
                                                    <div class="invalid-feedback fw-bold d-block"
                                                        *ngIf="(f.policyFees?.touched || submitted) &&  f.policyFees?.invalid">
                                                        Required
                                                    </div>
                                                </div>

                                                <!-- VAT -->
                                                <div class="accordion-info mb-2">
                                                    <div class="lables">
                                                        <label for="vatPerc">VAT</label>
                                                    </div>
                                                    <div class="input-group input-group-sm">
                                                        <div class="input-group-prepend">
                                                            <ng-select id="vatPerc" name="VAT" placeholder="0%"
                                                                [items]="(formData | async)?.VATPercentage?.content!"
                                                                bindLabel="name" bindValue="name"
                                                                [loading]="formData ? false : true"
                                                                formControlName="vatPerc" (change)="vatHandler()">
                                                            </ng-select>
                                                        </div>
                                                        <input type="text" id="vatPercValue" name="vatPercValue"
                                                            class="form-control form-control-sm input-text-right"
                                                            formControlName="vatValue"
                                                            [ngClass]="{'is-invalid': (f.vatValue?.touched || submitted) && f.vatValue?.invalid}"
                                                            placeholder="0.00" InputMask readonly>
                                                        <span class="input-group-text" id="">SAR</span>
                                                    </div>
                                                    <div class="invalid-feedback fw-bold d-block"
                                                        *ngIf="(f.vatValue?.touched || submitted) &&  f.vatValue?.invalid">
                                                        Required
                                                    </div>
                                                </div>

                                                <!-- Total Premium -->
                                                <div class="accordion-info mb-2">
                                                    <div class="lables">
                                                        <label for="totalPremium">Total Premium</label>
                                                    </div>
                                                    <div class="input-group input-group-sm">
                                                        <input type="text"
                                                            class="form-control form-control-sm input-text-right"
                                                            name="totalPremium" id="totalPremium" placeholder="0.00"
                                                            formControlName="totalPremium" readonly InputMask
                                                            [ngClass]="{'is-invalid': (f.totalPremium?.touched || submitted) && f.totalPremium?.invalid}">
                                                        <span class="input-group-text" id="SAR">SAR</span>
                                                    </div>
                                                    <div class="invalid-feedback fw-bold d-block"
                                                        *ngIf="(f.totalPremium?.touched || submitted) &&  f.totalPremium?.invalid">
                                                        Required
                                                    </div>
                                                </div>

                                                <!-- DeadLine -->
                                                <div class="accordion-info mb-2">
                                                    <label for="deadLine" class="asterisk-input">DeadLine</label>
                                                    <app-gregorian-picker [model]="f.existingPolExpDate?.value"
                                                        [required]="true" [submitted]="submitted"
                                                        (dateChange)="deadlineDate($event)"></app-gregorian-picker>
                                                </div>

                                                <!-- Request Details -->
                                                <div class="accordion-info mb-2">
                                                    <label for="requestDetails" class="asterisk-input">Request
                                                        Details</label>
                                                    <textarea class="form-control form-control-sm" name="requestDetails"
                                                        id="requestDetails" rows="2"
                                                        formControlName="requestDetails"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Amount Info End -->

                        <!-- Requirements Start-->
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <div class="card ribbon-box border shadow-none mb-lg-0 h-100">
                                <div class="card-body">
                                    <div class="ribbon ribbon-info round-shape">Policy/Endorsement Details</div>
                                    <div class="ribbon-content mt-4 text-muted">
                                        <div class="row  my-2">
                                            <div class="col-12 my-1 table-responsive">
                                                <table class="table align-middle table-nowrap mb-0"
                                                    id="requiermentsTbl">
                                                    <thead class="table-light">
                                                        <tr>
                                                            <th class="col-lg-1 d-flex align-items-center" scope="col">
                                                                <span class="custom-control custom-checkbox">
                                                                    <input type="checkbox" class="text-dark"
                                                                        (change)="checkAllRequirments($event)"
                                                                        #checkAllRequierments>
                                                                </span>
                                                                <span class="ps-1">Select</span>

                                                            </th>
                                                            <th class="col-lg-10" scope="col">Item</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody formArrayName="requiermentsList">
                                                        <tr
                                                            *ngFor="let c of requirmentsControlArray.controls; index as i">
                                                            <ng-container [formGroupName]="i">
                                                                <td style="min-width: unset;">
                                                                    <input type="checkbox" formControlName="itemCheck"
                                                                        class="form-check-input"
                                                                        (change)="requirmentsChecker()" />
                                                                </td>
                                                                <td>{{ requirmentsControls(i,"itemValue").value }}
                                                                </td>
                                                            </ng-container>
                                                        </tr>
                                                        <tr *ngIf=" requirmentsControlArray.controls.length === 0 "
                                                            class="my-1 text-center text-dark fw-bold no-item-contact">
                                                            <td colspan="100">No items show</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Requirements End-->

                    </div>
                </div>
            </ng-template>
            <!-- In Case Of Edit End-->

        </ngb-panel>
        <!-- end Policy/Endorsement Details-->

        <!-- start Requirements & Endorsements -->
        <ngb-panel id="3" title="Requirements & Endorsements" cardClass="open my-4" *ngIf="!uiState.editMode">
            <ng-template ngbPanelContent="3">
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingThree">
                    <div class="container-fluid mb-3">
                        <div class="row  my-2">
                            <div class="col-xl-6 col-lg-12 col-md-12 mt-2">
                                <div class="card ribbon-box border shadow-none mb-lg-0 h-100">
                                    <div class="card-body">
                                        <div class="ribbon ribbon-info round-shape">Similar Clients List</div>
                                        <div class="ribbon-content mt-4 text-muted">
                                            <div class="row my-3">
                                                <div class="col-lg-12 table-responsive">
                                                    <table class="table align-middle table-nowrap mb-0">
                                                        <thead class="table-light">
                                                            <tr>
                                                                <th class="col-lg-3" scope="col">Endorse No.</th>
                                                                <th class="col-lg-9" scope="col">Endorse Type</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let endors of uiState.endorsTypes; index as i">
                                                                <td>{{ endors.id }}</td>
                                                                <td>{{ endors.name }}</td>
                                                            </tr>
                                                            <tr *ngIf=" uiState.endorsTypes.length === 0 "
                                                                class="my-1 text-center text-dark fw-bold no-item-contact">
                                                                <td colspan="100">No items show</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-12 col-md-12 mt-2">
                                <div class="card ribbon-box border shadow-none mb-lg-0 h-100">
                                    <div class="card-body">
                                        <div class="ribbon ribbon-info round-shape">Requirements</div>
                                        <div class="ribbon-content mt-4 text-muted">
                                            <div class="row my-3">
                                                <div class="col-lg-12 table-responsive">
                                                    <table class="table align-middle table-nowrap mb-0"
                                                        id="requiermentsTbl">
                                                        <thead class="table-light">
                                                            <tr>
                                                                <th class="col-lg-1 d-flex" scope="col">
                                                                    <div class="custom-control custom-checkbox">
                                                                        <input type="checkbox" class="text-dark"
                                                                            (change)="checkAllRequirments($event)"
                                                                            #checkAllRequierments>
                                                                    </div>
                                                                    <div class="ps-1">Select</div>

                                                                </th>
                                                                <th class="col-lg-11" scope="col">Item</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody formArrayName="requiermentsList">
                                                            <tr
                                                                *ngFor="let c of requirmentsControlArray.controls; index as i">
                                                                <ng-container [formGroupName]="i">
                                                                    <td>
                                                                        <input type="checkbox"
                                                                            formControlName="itemCheck"
                                                                            class="form-check-input"
                                                                            (change)="requirmentsChecker()" />
                                                                    </td>
                                                                    <td>{{ requirmentsControls(i,"itemValue").value }}
                                                                    </td>
                                                                </ng-container>
                                                            </tr>
                                                            <tr *ngIf=" requirmentsControlArray.controls.length === 0 "
                                                                class="my-1 text-center text-dark fw-bold no-item-contact">
                                                                <td colspan="100">No items show</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-panel>
        <!-- end Requirements & Endorsements -->

        <!-- start Documents -->
        <ngb-panel id="4" title="Documents" cardClass="open my-4">
            <ng-template ngbPanelContent="4">
                <app-dropzone (files)="documentsList($event)" [UploadedFiles]="docs" #dropzone></app-dropzone>
            </ng-template>
        </ngb-panel>
        <!-- end Documents -->

    </ngb-accordion>

    <!-- start Buttons -->
    <div class="card">
        <div class="container-fluid">
            <div class="card-body px-1">
                <div class=" d-lg-flex d-md-flex justify-content-end align-items-end">
                    <div class="col-lg-3 col-md-6">
                        <!-- In Case Of Create Start -->

                        <!-- Branch -->
                        <div class="form-group row" *ngIf="!uiState.editMode">
                            <label class="asterisk-input" for="branch">Branch</label>
                            <ng-select id="branch" class="is-invalid" [searchable]="false" formControlName="branch"
                                [ngClass]="{'is-submitted': (f.branch?.touched || submitted) && f.branch?.invalid}"
                                [items]="(formData | async)?.Branch?.content!" bindLabel="name" bindValue="name"
                                [loading]="formData ? false : true" placeholder="Branch">
                            </ng-select>
                            <span class="invalid-feedback fw-bold mt-0"
                                *ngIf="(f.branch?.touched || submitted) && f.branch?.invalid">Required</span>
                        </div>

                        <!-- In Case Of Create End -->
                    </div>

                    <!-- Buttons -->
                    <div class="col-md-6 mt-md-3 d-flex justify-content-end"
                        [ngClass]="{'col-lg-2':!uiState.editMode,'col-lg-3':!uiState.editMode}">
                        <!-- In Case Of Edit Start -->
                        <!-- Change Status -->
                        <div ngbDropdown class="d-inline-block mx-2" *ngIf="uiState.editMode">
                            <button type="button" class="btn btn-sm btn-info waves-effect" id="changeStatusDropdown"
                                ngbDropdownToggle>
                                Change status
                            </button>
                            <div ngbDropdownMenu aria-labelledby="actionDropdown" class="dropdown-menu">
                                <li *ngIf="uiState.editRequestData?.status !== requestStatus.Pending">
                                    <a class="btn btn-sm dropdown-item">{{ requestStatus.Pending }} &nbsp; &nbsp;
                                        &raquo;</a>
                                    <ul class="dropdown-menu dropdown-submenu">
                                        <li *ngFor="let el of (formData | async)?.PendingReason?.content!">
                                            <button class="btn btn-sm dropdown-item" type="button"
                                                (click)="changeRequestAlert(requestStatus.Pending, el.name)">{{
                                                el.name }}</button>
                                        </li>
                                    </ul>
                                </li>
                                <li *ngIf="uiState.editRequestData?.status !== requestStatus.Close">
                                    <button class="btn btn-sm dropdown-item" type="button"
                                        (click)="changeRequestAlert(requestStatus.Close)">{{
                                        requestStatus.Close }}</button>
                                </li>
                                <li *ngIf="uiState.editRequestData?.status !== requestStatus.Cancel">
                                    <button class="btn btn-sm dropdown-item" type="button"
                                        (click)="rejectRequets(requestStatus.Cancel)">{{
                                        requestStatus.Cancel }}</button>
                                </li>
                            </div>
                        </div>
                        <!-- In Case Of Edit End -->
                        <button type="submit" class="btn btn-success btn-sm me-2 bg-gradient waves-effect waves-light ">
                            <i class="  ri-save-2-fill"></i>
                            Save
                        </button>
                        <button type="button" class="btn btn-danger me-2 btn-sm bg-gradient waves-effect waves-light "
                            onclick="resetForm()">
                            <i class="ri-delete-bin-2-line"></i>
                            Clear
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end Buttons -->
</form>



<!-- Search Dialoge -->

<ng-template #content let-modal>
    <div class="modal-header mb-0">
        <h4 class="modal-title" id="modal-basic-title">Policy Search</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <form [formGroup]="searchClientForm" (ngSubmit)="PolicyData.setDataSource()">
        <div class="modal-body pt-1" style="overflow-y: unset !important;">
            <div class="row p-3">
                <div class="col-lg-10 col-md-10 col-sm-12 row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <label for="clientNo">Client Name</label>
                        <!-- <input id="clientNo" class="form-control form-control-sm" formControlName="clientNo" /> -->
                        <ng-select id="clientNo" placeholder="Select Client Name" formControlName="clientNo"
                            [items]="(formData | async)?.AllClients?.content!" bindLabel="name" bindValue="id"
                            [loading]="formData ? false : true">
                        </ng-select>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <label for="insuranceCompName">Insurance Company</label>
                        <!-- <input id="insuranceCompName" class="form-control form-control-sm"
                            formControlName="insuranceCompName" /> -->
                        <ng-select id="insuranceCompName" placeholder="Select Insurance Company"
                            formControlName="insuranceCompName"
                            [items]="(formData | async)?.InsuranceCompanies?.content!" bindLabel="name" bindValue="name"
                            [loading]="formData ? false : true">
                        </ng-select>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <label for="policyNo">Policy No</label>
                        <input id="policyNo" class="form-control form-control-sm" formControlName="policyNo"
                            style="height: 30px;" />
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 d-flex align-items-end">
                    <button type="submit" class="btn btn-primary btn-sm d-flex justify-content-center w-100"
                        style="height: 30px;"><i class="ri-search-line mx-1"></i>Search</button>

                </div>
            </div>

            <app-CS-Policy-list [filter]="searchClientForm.value" (dataEvent)="fillCSFormData($event)"
                #PolicyData></app-CS-Policy-list>
        </div>
    </form>
</ng-template>