<form class="mb-4" id="CustomerServiceForm" [formGroup]="formGroup" (ngSubmit)="submitForm(formGroup)"
    autocomplete="off">
    <ngb-accordion #acc="ngbAccordion" activeIds="1,2,3,4">

        <!-- Client Details -->
        <ngb-panel id="1" title="Client Details" cardClass="open my-4">
            <ng-template ngbPanelContent="1">
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
                    <div class="container-fluid mb-3">
                        <div class="row my-2">

                            <!-- ID -->
                            <div class="col-lg-4 col-md-6 col-sm-12 my-1">
                                <label for="id" class="asterisk-input">Client ID</label>
                                <input type="text" id="clientID" class="form-control form-control-sm"
                                    formControlName="clinetID"
                                    [ngClass]="{'is-invalid':(f.clientID?.touched || submitted) && f.clientID?.invalid}"
                                    placeholder="Client ID" readonly>
                                <div class="invalid-feedback fw-bold"
                                    *ngIf=" (f.clientID?.touched || submitted) && f.clientID?.invalid">
                                    Required
                                </div>
                            </div>

                            <!-- Client Info -->
                            <div class="col-lg-4 col-md-6 col-sm-12 my-1">
                                <label for="ClientName" class="asterisk-input">Client Name</label>
                                <div class="input-group input-group-sm">
                                    <input type="text" id="ClientName" formControlName="clientName" readonly
                                        [ngClass]="{'is-invalid':(f.clientName?.touched || submitted) && f.clientName?.invalid}"
                                        class="form-control form-control-sm" placeholder="Client Name">
                                    <button class="btn btn-info btn-sm d-flex align-items-center"
                                        id="clientInfoModalBtn" type="button" data-bs-toggle="modal"
                                        data-bs-target=".search-Policies-form-modal">
                                        <i class="ri-user-search-fill mx-1"></i>
                                        Search
                                    </button>
                                </div>
                                <div class="invalid-feedback fw-bold"
                                    *ngIf=" (f.clientName?.touched || submitted) && f.clientName?.invalid">
                                    Required
                                </div>
                            </div>

                            <!-- Producer ( Salesman )-->
                            <div class="col-lg-4 col-md-6 col-sm-12 my-1">
                                <label for="producer" class="asterisk-input">Producer (Salesman)</label>
                                <input type="text" class="form-control form-control-sm" readonly placeholder="Producer."
                                    formControlName="producer"
                                    [ngClass]="{'is-invalid':(f.producer?.touched || submitted) && f.producer?.invalid}">
                                <div class="invalid-feedback fw-bold"
                                    *ngIf=" (f.producer?.touched || submitted) && f.producer?.invalid">
                                    Required
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-panel>
        <!-- end Client Details-->

        <!--start Policy/Endorsement Details -->
        <ngb-panel id="2" title="Policy/Endorsement Details" cardClass="open my-4">
            <ng-template ngbPanelContent="2">
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingTwo">
                    <div class="container-fluid mb-3">
                        <div class="row my-2">
                            <div class="col-lg-4 col-md-6 col-sm-12 my-1">
                                <!-- Endors Type -->
                                <div class="accordion-info mb-2">
                                    <label for="endorsType" class="asterisk-input">Endors Type</label>
                                    <ng-select id="endorsType" placeholder="Select Endors Type"
                                        formControlName="endorsType" class="is-invalid"
                                        [ngClass]="{'is-submitted': (f.endorsType?.touched || submitted) && f.endorsType?.invalid}"
                                        [items]="(formData | async)?.PolicyEndorsTypes?.content!" bindLabel="name"
                                        bindValue="name" [loading]="formData ? false : true">
                                    </ng-select>
                                    <div class="invalid-feedback fw-bold"
                                        *ngIf=" (f.endorsType?.touched || submitted) && f.endorsType?.invalid">
                                        Required
                                    </div>
                                </div>

                                <!-- Policy No -->
                                <div class="accordion-info mb-2">
                                    <label for="policyNo" class="asterisk-input">Policy No</label>
                                    <input type="text" class="form-control form-control-sm" readonly
                                        placeholder="Policy No." id="policyNo" aria-label="Policy No"
                                        formControlName="policyNo"
                                        [ngClass]="{'is-invalid':(f.policyNo?.touched || submitted) && f.policyNo?.invalid}">
                                    <div class="invalid-feedback fw-bold"
                                        *ngIf=" (f.policyNo?.touched || submitted) && f.policyNo?.invalid">
                                        Required
                                    </div>
                                </div>

                                <!-- Issued By -->
                                <div class="accordion-info mb-2">
                                    <label for="issuedBy" class="asterisk-input">Issued By</label>
                                    <input type="text" class="form-control form-control-sm" name="issuedBy" readonly
                                        placeholder="Issued By." id="issuedBy" formControlName="insurComp"
                                        [ngClass]="{'is-invalid':(f.insurComp?.touched || submitted) && f.insurComp?.invalid}">
                                    <div class="invalid-feedback fw-bold"
                                        *ngIf=" (f.insurComp?.touched || submitted) && f.insurComp?.invalid">
                                        Required
                                    </div>
                                </div>

                                <!-- Expiry Date -->
                                <div class="accordion-info mb-2">
                                    <label for="expiryDate" class="asterisk-input">Expiry Date</label>
                                    <input type="text" class="format-date-picker form-control form-control-sm" readonly
                                        name="expiryDate" id="expiryDate" placeholder="yyyy/mm/dd"
                                        formControlName="existingPolExpDate"
                                        [ngClass]="{'is-invalid':(f.existingPolExpDate?.touched || submitted) && f.existingPolExpDate?.invalid}">
                                    <div class="invalid-feedback fw-bold"
                                        *ngIf=" (f.existingPolExpDate?.touched || submitted) && f.existingPolExpDate?.invalid">
                                        Required
                                    </div>
                                </div>

                                <!-- CS Special Conditions -->
                                <!-- <div class="accordion-info mb-2">
                                        <label for="csSpecialConditions" class="asterisk-input">CS Special Conditions</label>
                                    <textarea class="form-control form-control-sm" name="csSpecialConditions"
                                        id="csSpecialConditions" readonly rows="2" formControlName="cSSpecialConditions"></textarea>
                                </div> -->
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-12 my-1">
                                <!-- Class Of Insurance -->
                                <div class="accordion-info mb-2">
                                    <label for="classOfInsurance" class="asterisk-input">Class Of Insurance</label>
                                    <input type="text" class="form-control form-control-sm" name="classOfInsurance"
                                        readonly placeholder="Class Of Insurance." id="classOfInsurance"
                                        formControlName="classOfBusiness"
                                        [ngClass]="{'is-submitted': (f.classOfBusiness?.touched || submitted) && f.classOfBusiness?.invalid}">
                                    <div class="invalid-feedback fw-bold"
                                        *ngIf=" (f.classOfBusiness?.touched || submitted) && f.classOfBusiness?.invalid">
                                        Required
                                    </div>
                                </div>

                                <!-- Line Of Business -->
                                <div class="accordion-info mb-2">
                                    <label for="lineOfBusiness" class="asterisk-input">Line Of Business</label>
                                    <input type="text" class="form-control form-control-sm" name="lineOfBusiness"
                                        readonly placeholder="Line Of Business." id="lineOfBusiness"
                                        formControlName="lineOfBusiness"
                                        [ngClass]="{'is-submitted': (f.lineOfBusiness?.touched || submitted) && f.lineOfBusiness?.invalid}">
                                    <div class="invalid-feedback fw-bold"
                                        *ngIf=" (f.lineOfBusiness?.touched || submitted) && f.lineOfBusiness?.invalid">
                                        Required
                                    </div>
                                </div>

                                <!-- DeadLine -->
                                <div class="accordion-info mb-2">
                                    <label for="deadLine" class="asterisk-input">DeadLine</label>
                                    <div class="input-group input-group-sm">

                                        <input type="text" ngbDatepicker #d="ngbDatepicker" placeholder="yyyy-mm-dd"
                                            class="form-control form-control-sm" (click)="d.toggle()"
                                            formControlName="dateOfDeadline" [ngClass]="{
                                                      'is-invalid': submitted && f.dateOfDeadline?.invalid
                                                    }" readonly />

                                        <button class="btn btn-outline-secondary ri-calendar-2-line" type="button"
                                            (click)="d.toggle()"></button>
                                    </div>
                                    <div class="invalid-feedback fw-bold d-block" *ngIf="
                                                      (f.dateOfDeadline?.touched || submitted) &&
                                                      f.dateOfDeadline?.invalid
                                                    ">
                                        Required
                                    </div>
                                </div>

                                <!-- Request Details -->
                                <div class="accordion-info mb-2">
                                    <label for="requestDetails" class="asterisk-input">Request Details</label>
                                    <textarea class="form-control form-control-sm" name="requestDetails"
                                        id="requestDetails" rows="2" formControlName="requestDetails"></textarea>
                                </div>
                            </div>

                            <!-- Net Premium -->
                            <div class="col-lg-4 col-md-6 col-ms-12 my-1">
                                <div class="accordion-info mb-2">
                                    <label for="netPremium">Net Premium</label>
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control form-control-sm input-text-right"
                                            name="netPremium" placeholder="0.00" aria-label="netPremium" id="netPremium"
                                            formControlName="netPremium"
                                            [ngClass]="{'is-submitted': (f.netPremium?.touched || submitted) && f.netPremium?.invalid}">
                                        <span class="input-group-text" id="SAR">SAR</span>
                                        <div class="invalid-feedback fw-bold d-block"
                                            *ngIf=" (f.netPremium?.touched || submitted) &&  f.netPremium?.invalid ">
                                            Required
                                        </div>
                                    </div>
                                </div>
                                <!-- Policy Fees -->
                                <div class="accordion-info mb-2">
                                    <label for="policyFees">
                                        Policy
                                        Fees
                                    </label>
                                    <div class="input-group input-group-sm">
                                        <input type="text" id="policyFees" name="policyFees"
                                            class="form-control form-control-sm input-text-right" placeholder="0.00"
                                            formControlName="policyFees"
                                            [ngClass]="{'is-submitted': (f.policyFees?.touched || submitted) && f.policyFees?.invalid}">
                                        <span class="input-group-text" id="">SAR</span>
                                    </div>
                                    <div class="invalid-feedback fw-bold d-block"
                                        *ngIf="(f.policyFees?.touched || submitted) &&  f.policyFees?.invalid">
                                        Required
                                    </div>
                                </div>

                                <!-- VAT -->
                                <div class="accordion-info mb-2">
                                    <div class="lables">
                                        <label for="vatPerc">VAT</label>
                                    </div>
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend">
                                            <ng-select id="vatPerc" name="VAT" placeholder="0%" [items]="vats"
                                                bindLabel="name" bindValue="id" formControlName="vatPerc">
                                            </ng-select>
                                        </div>
                                        <input type="text" id="vatPercValue" name="vatPercValue"
                                            class="form-control form-control-sm input-text-right"
                                            formControlName="vatValue" placeholder="0.00" readonly>
                                        <span class="input-group-text" id="">SAR</span>
                                    </div>
                                </div>

                                <!-- Total Premium -->
                                <div class="accordion-info mb-2">
                                    <div class="lables">
                                        <label for="totalPremium">Total Premium</label>
                                    </div>
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control form-control-sm input-text-right"
                                            name="totalPremium" id="totalPremium" placeholder="0.00"
                                            formControlName="totalPremium" readonly
                                            [ngClass]="{'is-submitted': (f.totalPremium?.touched || submitted) && f.totalPremium?.invalid}">
                                        <span class="input-group-text" id="SAR">SAR</span>
                                    </div>
                                    <div class="invalid-feedback fw-bold d-block"
                                        *ngIf="(f.totalPremium?.touched || submitted) &&  f.totalPremium?.invalid">
                                        Required
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-panel>
        <!-- end Policy/Endorsement Details-->

        <!-- start Requirements & Endorsements -->
        <ngb-panel id="3" title="Requirements & Endorsements" cardClass="open my-4">
            <ng-template ngbPanelContent="3">
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingThree">
                    <div class="container-fluid mb-3">
                        <div class="row my-2">
                            <div class="col-xl-6 col-lg-12 col-md-12 mt-2">
                                <div class="card ribbon-box border shadow-none mb-lg-0 h-100">
                                    <div class="card-body">
                                        <div class="ribbon ribbon-info round-shape">Similar Clients List</div>
                                        <div class="ribbon-content mt-4 text-muted">
                                            <div class="row my-3">
                                                <div class="col-lg-12 table-responsive">
                                                    <table class="table align-middle table-nowrap mb-0"
                                                        id="similarClientsEndorseListTbl">
                                                        <thead class="table-light">
                                                            <tr>
                                                                <th class="col-lg-3" scope="col">Endorse No.</th>
                                                                <th class="col-lg-9" scope="col">Endorse Type</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="similarClientsEndorseList">
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-12 col-md-12 mt-2">
                                <div class="card ribbon-box border shadow-none mb-lg-0 h-100">
                                    <div class="card-body">
                                        <div class="ribbon ribbon-info round-shape">Requirements</div>
                                        <div class="ribbon-content mt-4 text-muted">
                                            <div class="row my-3">
                                                <div class="col-lg-12 table-responsive">
                                                    <table class="table align-middle table-nowrap mb-0"
                                                        id="requiermentsTbl">
                                                        <thead class="table-light">
                                                            <tr>
                                                                <th class="col-lg-1 d-flex" scope="col">
                                                                    <div class="custom-control custom-checkbox">
                                                                        <input id="checkAllRequierments" type="checkbox"
                                                                            class="text-dark">
                                                                    </div>
                                                                    <div class="ps-1">Select</div>

                                                                </th>
                                                                <th class="col-lg-11" scope="col">Item</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="requirements">
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-panel>
        <!-- end Requirements & Endorsements -->

        <!-- start Documents -->
        <ngb-panel id="4" title="Documents" cardClass="open my-4">
            <ng-template ngbPanelContent="4">
                <app-dropzone [UploadedFiles]="docs" #dropzone></app-dropzone>
            </ng-template>
        </ngb-panel>
        <!-- end Documents -->

    </ngb-accordion>

    <!-- start Buttons -->
    <div class="my-2 d-lg-flex d-md-flex justify-content-end align-items-end">

        <!-- Branch -->
        <div class="col-lg-3 col-md-6">
            <div class="lables form-group row">
                <label class="col-sm-2 col-form-label" for="branch">Branch</label>
                <ng-select id="branch" class="is-invalid" [searchable]="false" formControlName="branch"
                    [items]="branches" bindLabel="name" bindValue="id" [(ngModel)]="branchSelect">
                </ng-select>
            </div>
        </div>

        <!-- Buttons -->
        <div class="col-lg-2 col-md-6 mt-md-3 d-flex justify-content-end">
            <button type="submit" id="submittingFormBtn"
                class="btn btn-success btn-sm me-2 bg-gradient waves-effect waves-light ">
                <i class="  ri-save-2-fill"></i>
                Save
            </button>
            <button type="button" id="sa-warning"
                class="btn btn-danger me-2 btn-sm bg-gradient waves-effect waves-light " onclick="resetForm()">
                <i class="ri-delete-bin-2-line"></i>
                Clear
            </button>
        </div>
    </div>
    <!-- end Buttons -->
</form>