<form [formGroup]="formGroup">
    <div class="card">
        <div class="row justify-content-between align-items-center card-body">
            <!-- Insurance Company -->
            <div class="col-lg-4 col-md-6 col-sm-12 my-1">
                <div class="d-flex justify-content-between align-items-center">
                    <label for="status">Insurance Company
                    </label>
                </div>
                <ng-select [items]="(lookupData | async)?.InsuranceCompanies?.content!"
                    placeholder="Select Classes Of Business" [loading]="lookupData ? false : true" [hideSelected]="true"
                    [clearable]="true" [searchable]="true"
                    [ngClass]="{'is-submitted': (f.insuranceCompany?.touched || uiState.submitted) && f.insuranceCompany?.invalid}"
                    bindLabel="name" bindValue="name" formControlName="insuranceCompany"
                    (change)="gridApi.setDatasource(dataSource)">
                </ng-select>
                <span *ngIf="(f.insuranceCompany?.touched || uiState.submitted) && f.insuranceCompany?.invalid"
                    class="invalid-feedback fw-bold mt-0 d-inline-block">Required</span>
            </div>



            <div class="col-lg-8 col-md-6 col-sm-12 d-flex justify-content-end"><a type="button"
                    class="btn btn-sm btn-info mx-2 d-flex align-items-center" (click)="openformDialoge()"><i
                        class="ri-add-line align-bottom me-1"></i> Add
                    Life Plan </a></div>
        </div>
    </div>
    <div class="ag-theme-alpine" appTableView>
        <ag-grid-angular class="gridScrollbar" style="width: 100%; height: 30vh" [gridOptions]="gridOpts">
        </ag-grid-angular>
    </div>
    <ng-template #formDialoge let-modal>
        <div class="modal-header mb-0">
            <h4 class="modal-title" id="modal-basic-title">Edit Item</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <app-sub-loader *ngIf="uiState.isLoading"></app-sub-loader>

        <div class="modal-body p-1" style="overflow-y: unset !important;">
            <div class="p-3">
                <div class="row mb-2">
                    <!-- Plan Name -->
                    <div class="col-12 my-1">
                        <label for="item" class="asterisk-input">Plan Name</label>
                        <input id="item" class="form-control form-control-sm"
                            [ngClass]="{'is-invalid': (f.planName?.touched || uiState.submitted) && f.planName?.invalid}"
                            formControlName="planName" />
                        <span *ngIf="(f.planName?.touched || uiState.submitted) && f.planName?.invalid"
                            class="invalid-feedback fw-bold mt-0 d-inline-block">Required</span>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-success mx-2 d-flex align-items-center"><i
                        class="ri-edit-line mx-1" (click)="onSubmit(formGroup)"></i>{{uiState.editMode == false ? 'Add'
                    : 'Edit'}}</button>
                <button type="button" class="btn btn-outline-danger btn-sm" (click)="modal.close()">Close</button>
            </div>
        </div>
    </ng-template>
</form>