<div class="row justify-content-between align-items-center mb-3">
    <div class="col-12 d-flex justify-content-end">

        <a type="button" class="btn btn-sm btn-info mx-2  d-flex align-items-center"
            (click)="openInsuranceCompaniesDocumentsDialoge()">
            <i class="ri-add-line align-bottom me-1"></i> Add Company Documents
        </a>

    </div>
</div>

<div class="container-fluid mb-3 mx-auto">
    <div class="row card">
        <div class="col-12 mb-2 card-body">
            <div class=" ribbon-box border shadow-none">
                <div>
                    <span class="ribbon ribbon-info round-shape"><span> Insurance Company Documents
                        </span></span>
                    <div class="row mt-5 mx-2">
                        <div class="col-lg-6 col-md-6 col-sm-12 my-1">
                            <label for="company" class="asterisk-input">Insurance Company</label>
                            <ng-select id="company" class="is-invalid" placeholder="Select Insurance Company"
                                [items]="(lookupData | async)?.InsuranceCompanies?.content!"
                                [loading]="lookupData ? false : true" (change)="changeInsurance($event)"
                                [ngClass]="{'is-submitted': (f.company?.touched || uiState.submitted) && f.company?.invalid}"
                                [clearable]="true" [searchable]="true" bindLabel="name" bindValue="name">
                            </ng-select>
                            <span *ngIf="(f.company?.touched || uiState.submitted) && f.company?.invalid"
                                class="invalid-feedback fw-bold mt-0 d-inline-block">Required</span>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 my-1 mb-5">
                            <label for="type" class="asterisk-input">Class of Insurance</label>
                            <ng-select id="type" class="is-invalid" placeholder="Select Class of Insurance"
                                [items]="(lookupData | async)?.TypeOfCustomerServices?.content!"
                                [loading]="lookupData ? false : true" (change)="filterByType($event)"
                                [ngClass]="{'is-submitted': (f.type?.touched || uiState.submitted) && f.type?.invalid}"
                                [clearable]="true" [searchable]="true" bindLabel="name" bindValue="name">
                            </ng-select>
                            <span *ngIf="(f.type?.touched || uiState.submitted) && f.type?.invalid"
                                class="invalid-feedback fw-bold mt-0 d-inline-block">Required</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="ag-theme-alpine" appTableView>
    <ag-grid-angular class="gridScrollbar" style="width: 100%; height: 50vh" [gridOptions]="gridOpts">
    </ag-grid-angular>
</div>

<ng-template #InsuranceCompaniesDocumentsContent let-modal>
    <div class="modal-header mb-0">
        <h4 class="modal-title" id="modal-basic-title">Add Insurance Company Documents</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>

    <form [formGroup]="InsuranceCompaniesDocumentsForm"
        (ngSubmit)="submitInsuranceCompaniesDocumentsData(InsuranceCompaniesDocumentsForm)">
        <app-sub-loader *ngIf="uiState.isLoading"></app-sub-loader>
        <div class="modal-body p-1" style="overflow-y: unset !important;">

            <div class="container-fluid mb-3">
                <div class="card ribbon-box border shadow-none mb-lg-0 h-100">
                    <div class="card-body">
                        <div class="ribbon ribbon-info round-shape">
                            Insurance Companies
                        </div>
                        <div class="row my-4">
                            <div class="col-lg-6 col-md-6 col-sm-12 my-1">
                                <label for="company" class="asterisk-input">Insurance Company</label>
                                <ng-select id="company" class="is-invalid" placeholder="Select Insurance Company"
                                    [items]="(lookupData | async)?.InsuranceCompanies?.content!"
                                    [loading]="lookupData ? false : true"
                                    [ngClass]="{'is-submitted': (f.company?.touched || uiState.submitted) && f.company?.invalid}"
                                    [clearable]="true" [searchable]="true" formControlName="company" bindLabel="name"
                                    bindValue="name">
                                </ng-select>
                                <span *ngIf="(f.company?.touched || uiState.submitted) && f.company?.invalid"
                                    class="invalid-feedback fw-bold mt-0 d-inline-block">Required</span>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 my-1">
                                <label for="type" class="asterisk-input">Class of Insurance</label>
                                <ng-select id="type" class="is-invalid" placeholder="Select Class of Insurance"
                                    [items]="(lookupData | async)?.TypeOfCustomerServices?.content!"
                                    [loading]="lookupData ? false : true"
                                    [ngClass]="{'is-submitted': (f.type?.touched || uiState.submitted) && f.type?.invalid}"
                                    [clearable]="true" [searchable]="true" formControlName="type" bindLabel="name"
                                    bindValue="name">
                                </ng-select>
                                <span *ngIf="(f.type?.touched || uiState.submitted) && f.type?.invalid"
                                    class="invalid-feedback fw-bold mt-0 d-inline-block">Required</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="card ribbon-box border shadow-none mb-lg-0 h-100">
                <div class="card-body">
                    <div class="ribbon ribbon-info round-shape">
                        Upload Documents
                    </div>
                    <div class="row my-4">
                        <app-dropzone (files)="documentsList($event)" [UploadedFiles]="docs" #dropzone></app-dropzone>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-sm btn-soft-success mx-2 d-flex align-items-center"><i
                        class="ri-edit-line mx-1"></i>Save</button>
                <button type="button" class="btn btn-soft-danger btn-sm d-flex align-items-center"
                    (click)="modal.close()">
                    <i class="ri-close-fill"></i> Close</button>
            </div>
        </div>

    </form>
</ng-template>