<div class="row justify-content-between align-items-center mb-3">
    <div class="col-12 d-flex justify-content-end">

        <a type="button" class="btn btn-sm btn-info mx-2  d-flex align-items-center"
            (click)="openInsuranceCompaniesDocumentsDialoge()">
            <i class="ri-add-line align-bottom me-1"></i> Add Company Document
        </a>

    </div>
</div>

<ngb-accordion #acc="ngbAccordion" activeIds="1">
    <!-- Line Of Business -->
    <ngb-panel id="1" title="Insurance Company Documents" cardClass="open my-4">
        <ng-template ngbPanelContent="1">
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
                <div class="container-fluid mb-3">
                    <div class="card ribbon-box border shadow-none mb-lg-0 h-100">
                        <div class="card-body">
                            <div class="ribbon ribbon-info round-shape">
                                Filter Insurance Company Documents
                            </div>
                            <div class="row my-4">
                                <div class="col-lg-6 col-md-6 col-sm-12 my-1">
                                    <label for="company" class="asterisk-input">Insurance Company</label>
                                    <ng-select id="company" class="is-invalid" placeholder="Select Insurance Company"
                                        [items]="(lookupData | async)?.InsuranceCompanies?.content!"
                                        [loading]="lookupData ? false : true" (change)="changeInsurance($event)"
                                        [ngClass]="{'is-submitted': (f.company?.touched || uiState.submitted) && f.company?.invalid}"
                                        [clearable]="true" [searchable]="true" bindLabel="name" bindValue="name">
                                    </ng-select>
                                    <span *ngIf="(f.company?.touched || uiState.submitted) && f.company?.invalid"
                                        class="invalid-feedback fw-bold mt-0 d-inline-block">Required</span>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 my-1">
                                    <label for="type" class="asterisk-input">Line Of Insurance</label>
                                    <ng-select id="type" class="is-invalid" placeholder="Select Class Of Insurance"
                                        [items]="(lookupData | async)?.TypeOfCustomerServices?.content!"
                                        [loading]="lookupData ? false : true" (change)="filterByType($event)"
                                        [ngClass]="{'is-submitted': (f.type?.touched || uiState.submitted) && f.type?.invalid}"
                                        [clearable]="true" [searchable]="true" bindLabel="name" bindValue="name">
                                    </ng-select>
                                    <span *ngIf="(f.type?.touched || uiState.submitted) && f.type?.invalid"
                                        class="invalid-feedback fw-bold mt-0 d-inline-block">Required</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </ngb-panel>
</ngb-accordion>

<div class="ag-theme-alpine" appTableView>
    <ag-grid-angular class="gridScrollbar" style="width: 100%; height: 50vh" [gridOptions]="gridOpts">
    </ag-grid-angular>
</div>

<ng-template #InsuranceCompaniesDocumentsContent let-modal>
    <div class="modal-header mb-0">
        <h4 class="modal-title" id="modal-basic-title">Add Insurance Company Documents</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>

    <form [formGroup]="InsuranceCompaniesDocumentsForm"
        (ngSubmit)="submitInsuranceCompaniesDocumentsData(InsuranceCompaniesDocumentsForm)">
        <div class="modal-body p-1" style="overflow-y: unset !important;">
            <ngb-accordion #acc="ngbAccordion" activeIds="1,2">
                <!-- Insurance Company Documents -->
                <ngb-panel id="1" title="Insurance Company Documents" cardClass="open my-4">
                    <ng-template ngbPanelContent="1">
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
                            <div class="container-fluid mb-3">
                                <div class="row mb-2">
                                    <div class="col-lg-6 col-md-6 col-sm-12 my-1">
                                        <label for="company" class="asterisk-input">Insurance Company</label>
                                        <ng-select id="company" class="is-invalid"
                                            placeholder="Select Insurance Company"
                                            [items]="(lookupData | async)?.InsuranceCompanies?.content!"
                                            [loading]="lookupData ? false : true"
                                            [ngClass]="{'is-submitted': (f.company?.touched || uiState.submitted) && f.company?.invalid}"
                                            [clearable]="true" [searchable]="true" formControlName="company"
                                            bindLabel="name" bindValue="name">
                                        </ng-select>
                                        <span *ngIf="(f.company?.touched || uiState.submitted) && f.company?.invalid"
                                            class="invalid-feedback fw-bold mt-0 d-inline-block">Required</span>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 my-1">
                                        <label for="type" class="asterisk-input">Line Of Insurance</label>
                                        <ng-select id="type" class="is-invalid" placeholder="Select Class Of Insurance"
                                            [items]="(lookupData | async)?.TypeOfCustomerServices?.content!"
                                            [loading]="lookupData ? false : true"
                                            [ngClass]="{'is-submitted': (f.type?.touched || uiState.submitted) && f.type?.invalid}"
                                            [clearable]="true" [searchable]="true" formControlName="type"
                                            bindLabel="name" bindValue="name">
                                        </ng-select>
                                        <span *ngIf="(f.type?.touched || uiState.submitted) && f.type?.invalid"
                                            class="invalid-feedback fw-bold mt-0 d-inline-block">Required</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-panel>

                <ngb-panel id="2" title="Documents" cardClass="open my-4">
                    <ng-template ngbPanelContent="2">
                        <app-dropzone (files)="documentsList($event)" [UploadedFiles]="docs" #dropzone></app-dropzone>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>

            <div class="modal-footer">
                <button type="submit" class="btn btn-sm btn-success mx-2 d-flex align-items-center"><i
                        class="ri-edit-line mx-1"></i>Save</button>
                <button type="button" class="btn btn-outline-danger btn-sm" (click)="modal.close()">Close</button>
            </div>
        </div>

    </form>
</ng-template>