<div class="row">
    <div class="col-lg-5 col-md-4 col-sm-12">
        <div class="card">
            <div class="card-header border-0 pb-2">
                <div class="row">
                    <div class="col-6 d-flex justify-content-start align-items-center">
                        <h4 class="card-title ">Roles</h4>
                    </div>
                    <div class="col-6 d-flex justify-content-end align-items-center">
                        <button type="button" class="btn btn-success btn-sm" (click)="openAddRoleModal(content)">
                            <i class="ri-add-fill me-1 align-bottom"></i> Add Role
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body p-3 pt-1">
                <div class="ag-theme-alpine" appTableView>
                    <ag-grid-angular class="gridScrollbar" style="width: 100%; height: 75vh" [gridOptions]="gridOpts">
                    </ag-grid-angular>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-7 col-md-8 col-sm-12">
        <form [formGroup]="privilegesForm" (ngSubmit)="submitPrivilegesForm(privilegesForm)">

            <div class="card px-3">
                <div class="row">
                    <div class="col-12 row my-3">
                        <div class="col-6 d-flex justify-content-start align-items-center ps-3">
                            <h4 *ngIf="uiState.roleName" class="card-title ">{{ uiState.roleName }}</h4>
                        </div>
                        <div class="col-6 d-flex justify-content-end align-items-center">
                            <button type="submit" class="btn btn-success btn-sm mx-2">
                                <i class="ri-add-fill me-1 align-bottom"></i> Save
                            </button>
                            <button type="button" class="btn btn-soft-danger btn-sm" (click)="resePrivilegesForm()">
                                <i class="ri-delete-bin-2-line"></i> Reset
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-6 pb-4">
                        <ngb-accordion #acc="ngbAccordion">

                            <ngb-panel id="1" title="Master Tables" cardClass="open">
                                <ng-template ngbPanelContent="1">
                                    <div class="accordion-body">
                                        <div class="row">
                                            <div class="form-check mb-2 col-6"
                                                *ngFor="let item of globalArrs.MasterTable">
                                                <ng-container *ngIf="item.name === 'chMasterTabels' ">
                                                    <input class="form-check-input" type="checkbox"
                                                        [formControl]="item.control"
                                                        (change)="allItemsChecker('MasterTable',item.control.value!)">
                                                    <label class="form-check-label parent text-info">
                                                        {{item.label}}
                                                    </label>
                                                </ng-container>
                                                <ng-container *ngIf="item.name === 'chMasterTablesReadOnly'">
                                                    <input class="form-check-input" type="checkbox"
                                                        [formControl]="item.control">
                                                    <label class="form-check-label parent text-info">
                                                        {{item.label}}
                                                    </label>
                                                </ng-container>
                                                <ng-container
                                                    *ngIf="item.name !== 'chMasterTabels' && item.name !== 'chMasterTablesReadOnly'">
                                                    <input class="form-check-input" [formControl]="item.control"
                                                        type="checkbox" (change)="checkMasterItem('MasterTable')">
                                                    <label class="form-check-label parent">
                                                        {{item.label}}
                                                    </label>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngb-panel>

                            <ngb-panel id="2" title="Bussiness Development" cardClass="open">
                                <ng-template ngbPanelContent="2">
                                    <div class="accordion-body">
                                        <div class="row">
                                            <div class="form-check mb-2 col-6"
                                                *ngFor="let item of globalArrs.BussinessDevelopment">
                                                <ng-container *ngIf="item.name === 'chBussDevelopment' ">
                                                    <input class="form-check-input" type="checkbox"
                                                        [formControl]="item.control"
                                                        (change)="allItemsChecker('BussinessDevelopment',item.control.value!)">
                                                    <label class="form-check-label parent text-info">
                                                        {{item.label}}
                                                    </label>
                                                </ng-container>
                                                <ng-container *ngIf="item.name === 'chBusinessDevelopmentReadOnly'">
                                                    <input class="form-check-input" type="checkbox"
                                                        [formControl]="item.control">
                                                    <label class="form-check-label parent text-info">
                                                        {{item.label}}
                                                    </label>
                                                </ng-container>
                                                <ng-container
                                                    *ngIf="item.name !== 'chBussDevelopment' && item.name !== 'chBusinessDevelopmentReadOnly'">
                                                    <input class="form-check-input" [formControl]="item.control"
                                                        type="checkbox"
                                                        (change)="checkMasterItem('BussinessDevelopment')">
                                                    <label class="form-check-label parent">
                                                        {{item.label}}
                                                    </label>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngb-panel>

                            <ngb-panel id="3" title="Clients Registery" cardClass="open">
                                <ng-template ngbPanelContent="3">
                                    <div class="accordion-body">
                                        <div class="row">
                                            <div class="form-check mb-2 col-6"
                                                *ngFor="let item of globalArrs.ClientRegistry">
                                                <ng-container *ngIf="item.name === 'chClientsRegistryAdmin' ">
                                                    <input class="form-check-input" type="checkbox"
                                                        [formControl]="item.control"
                                                        (change)="allItemsChecker('ClientRegistry',item.control.value!)">
                                                    <label class="form-check-label parent text-info">
                                                        {{item.label}}
                                                    </label>
                                                </ng-container>
                                                <ng-container
                                                    *ngIf="item.name === 'chClientsRegistryAdministratorReadOnly'">
                                                    <input class="form-check-input" type="checkbox"
                                                        [formControl]="item.control">
                                                    <label class="form-check-label parent text-info">
                                                        {{item.label}}
                                                    </label>
                                                </ng-container>
                                                <ng-container
                                                    *ngIf="item.name !== 'chClientsRegistryAdmin' && item.name !== 'chClientsRegistryAdministratorReadOnly'">
                                                    <input class="form-check-input" [formControl]="item.control"
                                                        type="checkbox" (change)="checkMasterItem('ClientRegistry')">
                                                    <label class="form-check-label parent">
                                                        {{item.label}}
                                                    </label>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngb-panel>

                            <ngb-panel id="4" title="Production" cardClass="open">
                                <ng-template ngbPanelContent="4">
                                    <div class="accordion-body">
                                        <div class="row">
                                            <div class="form-check mb-2 col-6"
                                                *ngFor="let item of globalArrs.Production">
                                                <ng-container *ngIf="item.name === 'chProduction' ">
                                                    <input class="form-check-input" type="checkbox"
                                                        [formControl]="item.control"
                                                        (change)="allItemsChecker('Production',item.control.value!)">
                                                    <label class="form-check-label parent text-info">
                                                        {{item.label}}
                                                    </label>
                                                </ng-container>
                                                <ng-container *ngIf="item.name === 'chProductionReadOnly'">
                                                    <input class="form-check-input" type="checkbox"
                                                        [formControl]="item.control">
                                                    <label class="form-check-label parent text-info">
                                                        {{item.label}}
                                                    </label>
                                                </ng-container>
                                                <ng-container
                                                    *ngIf="item.name !== 'chProduction' && item.name !== 'chProductionReadOnly'">
                                                    <input class="form-check-input" [formControl]="item.control"
                                                        type="checkbox" (change)="checkMasterItem('Production')">
                                                    <label class="form-check-label parent">
                                                        {{item.label}}
                                                    </label>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngb-panel>

                            <ngb-panel id="5" title="Customer Service" cardClass="open">
                                <ng-template ngbPanelContent="5">
                                    <div class="accordion-body">
                                        <div class="row">
                                            <div class="form-check mb-2 col-6"
                                                *ngFor="let item of globalArrs.CustomerService">
                                                <ng-container *ngIf="item.name === 'chCustomerService' ">
                                                    <input class="form-check-input" type="checkbox"
                                                        [formControl]="item.control"
                                                        (change)="allItemsChecker('CustomerService',item.control.value!)">
                                                    <label class="form-check-label parent text-info">
                                                        {{item.label}}
                                                    </label>
                                                </ng-container>
                                                <ng-container *ngIf="item.name === 'chCustomerServiceReadOnly'">
                                                    <input class="form-check-input" type="checkbox"
                                                        [formControl]="item.control">
                                                    <label class="form-check-label parent text-info">
                                                        {{item.label}}
                                                    </label>
                                                </ng-container>
                                                <ng-container
                                                    *ngIf="item.name !== 'chCustomerService' && item.name !== 'chCustomerServiceReadOnly'">
                                                    <input class="form-check-input" [formControl]="item.control"
                                                        type="checkbox" (change)="checkMasterItem('CustomerService')">
                                                    <label class="form-check-label parent">
                                                        {{item.label}}
                                                    </label>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngb-panel>

                        </ngb-accordion>
                    </div>
                    <div class="col-lg-6 pb-4">
                        <ngb-accordion #acc="ngbAccordion">

                            <ngb-panel id="6" title="Claims Management System" cardClass="open">
                                <ng-template ngbPanelContent="6">
                                    <div class="accordion-body">
                                        <div class="row">
                                            <div class="form-check mb-2 col-6"
                                                *ngFor="let item of globalArrs.ClaimsManagement">
                                                <ng-container *ngIf="item.name === 'chClaims' ">
                                                    <input class="form-check-input" type="checkbox"
                                                        [formControl]="item.control"
                                                        (change)="allItemsChecker('ClaimsManagement',item.control.value!)">
                                                    <label class="form-check-label parent text-info">
                                                        {{item.label}}
                                                    </label>
                                                </ng-container>
                                                <ng-container *ngIf="item.name === 'chClaimsManagementSystemReadOnly'">
                                                    <input class="form-check-input" type="checkbox"
                                                        [formControl]="item.control">
                                                    <label class="form-check-label parent text-info">
                                                        {{item.label}}
                                                    </label>
                                                </ng-container>
                                                <ng-container
                                                    *ngIf="item.name !== 'chClaims' && item.name !== 'chClaimsManagementSystemReadOnly'">
                                                    <input class="form-check-input" [formControl]="item.control"
                                                        type="checkbox" (change)="checkMasterItem('ClaimsManagement')">
                                                    <label class="form-check-label child">
                                                        {{item.label}}
                                                    </label>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngb-panel>

                            <ngb-panel id="7" title="Financial Management System" cardClass="open">
                                <ng-template ngbPanelContent="7">
                                    <div class="accordion-body">
                                        <div class="row">
                                            <div class="form-check col-8 mb-2">
                                                <input class="form-check-input selectAll7" type="checkbox"
                                                    formControlName="chFinance"
                                                    (change)="allItemsChecker('FinancialManagement',ff.chFinance.value!)">
                                                <label class="form-check-label parent text-info" for="ChFinance">
                                                    Financial Management System
                                                </label>
                                            </div>
                                            <div class="form-check col-4 mb-2">
                                                <input class="form-check-input" type="checkbox"
                                                    formControlName="chFinancialManagementSystemReadOnly">
                                                <label class="form-check-label parent text-info"
                                                    for="ChFinancialManagementSystemReadOnly">
                                                    Read-Only
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="row">
                                                    <ng-container
                                                        *ngFor="let item of globalArrs.FinancialManagement.makeNewRoles">
                                                        <div class="form-check mb-2"
                                                            *ngIf="item.name === 'chFinMakeNew'">
                                                            <input class="form-check-input" type="checkbox"
                                                                [formControl]="item.control"
                                                                (change)="subItemsChecker('FinancialManagement','makeNewRoles',item.control.value!)">
                                                            <label class="form-check-label parent text-info">
                                                                {{item.label}}
                                                            </label>
                                                        </div>
                                                        <div class="form-check col-12 mb-2 ms-3"
                                                            *ngIf="item.name !== 'chFinMakeNew'">
                                                            <input class="form-check-input" type="checkbox"
                                                                [formControl]="item.control"
                                                                (change)="checkMasterItem('FinancialManagement','makeNewRoles')">
                                                            <label class="form-check-label child">
                                                                {{item.label}}
                                                            </label>
                                                        </div>
                                                    </ng-container>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <ng-container
                                                    *ngFor="let item of globalArrs.FinancialManagement.archivesRoles">
                                                    <div class="form-check mb-2" *ngIf="item.name === 'chFinArchive'">
                                                        <input class="form-check-input" type="checkbox"
                                                            [formControl]="item.control"
                                                            (change)="subItemsChecker('FinancialManagement','archivesRoles',item.control.value!)">
                                                        <label class="form-check-label parent text-info">
                                                            {{item.label}}
                                                        </label>
                                                    </div>
                                                    <div class="form-check col-12 mb-2 ms-3"
                                                        *ngIf="item.name !== 'chFinArchive'">
                                                        <input class="form-check-input" type="checkbox"
                                                            [formControl]="item.control"
                                                            (change)="checkMasterItem('FinancialManagement','archivesRoles')">
                                                        <label class="form-check-label child">
                                                            {{item.label}}
                                                        </label>
                                                    </div>
                                                </ng-container>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <ng-container
                                                    *ngFor="let item of globalArrs.FinancialManagement.approvalsRoles">
                                                    <div class="form-check mb-2" *ngIf="item.name === 'chFinApprovals'">
                                                        <input class="form-check-input" type="checkbox"
                                                            [formControl]="item.control"
                                                            (change)="subItemsChecker('FinancialManagement','approvalsRoles',item.control.value!)">
                                                        <label class="form-check-label parent text-info">
                                                            {{item.label}}
                                                        </label>
                                                    </div>
                                                    <div class="form-check col-12 mb-2 ms-3"
                                                        *ngIf="item.name !== 'chFinApprovals'">
                                                        <input class="form-check-input" type="checkbox"
                                                            [formControl]="item.control"
                                                            (change)="checkMasterItem('FinancialManagement','approvalsRoles')">
                                                        <label class="form-check-label child">
                                                            {{item.label}}
                                                        </label>
                                                    </div>
                                                </ng-container>
                                            </div>
                                            <div class="col-6">
                                                <ng-container
                                                    *ngFor="let item of globalArrs.FinancialManagement.reportsRoles">
                                                    <div class="form-check mb-2" *ngIf="item.name === 'chFinReports'">
                                                        <input class="form-check-input" type="checkbox"
                                                            [formControl]="item.control"
                                                            (change)="subItemsChecker('FinancialManagement','reportsRoles',item.control.value!)">
                                                        <label class="form-check-label parent text-info">
                                                            {{item.label}}
                                                        </label>
                                                    </div>
                                                    <div class="form-check col-12 mb-2 ms-3"
                                                        *ngIf="item.name !== 'chFinReports'">
                                                        <input class="form-check-input" type="checkbox"
                                                            [formControl]="item.control"
                                                            (change)="checkMasterItem('FinancialManagement','reportsRoles')">
                                                        <label class="form-check-label child">
                                                            {{item.label}}
                                                        </label>
                                                    </div>
                                                </ng-container>

                                                <ng-container
                                                    *ngFor="let item of globalArrs.FinancialManagement.generalRoles">
                                                    <div class="form-check mb-2">
                                                        <input class="form-check-input" type="checkbox"
                                                            [formControl]="item.control"
                                                            (change)="checkMasterItem('FinancialManagement','generalRoles')">
                                                        <label class="form-check-label child">
                                                            {{item.label}}
                                                        </label>
                                                    </div>
                                                </ng-container>

                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngb-panel>

                            <ngb-panel id="8" title="Human Resources" cardClass="open">
                                <ng-template ngbPanelContent="8">
                                    <div class="accordion-body">
                                        <div class="row">
                                            <div class="form-check col-6 mb-2">
                                                <input class="form-check-input" type="checkbox" formControlName="chHR"
                                                    (change)="allItemsChecker('HumanResources',ff.chHR.value!)">
                                                <label class="form-check-label parent text-info" for="ChHR">
                                                    Human Resources
                                                </label>
                                            </div>
                                            <div class="form-check col-6 mb-2">
                                                <input class="form-check-input" type="checkbox"
                                                    formControlName="chHRReadOnly">
                                                <label class="form-check-label parent text-info" for="ChHRReadOnly">
                                                    Read-Only
                                                </label>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-12 row">
                                                <ng-container
                                                    *ngFor="let item of globalArrs.HumanResources.payrollRoles">
                                                    <div class="form-check col-12 mb-2"
                                                        *ngIf="item.name === 'chPayroll'">
                                                        <input class="form-check-input" type="checkbox"
                                                            [formControl]="item.control"
                                                            (change)="subItemsChecker('HumanResources','payrollRoles',item.control.value!)">
                                                        <label class="form-check-label parent text-info">
                                                            {{item.label}}
                                                        </label>
                                                    </div>
                                                    <div class="form-check col-6 mb-2"
                                                        style="padding-inline-start: 40px;"
                                                        *ngIf="item.name !== 'chPayroll'">
                                                        <input class="form-check-input" type="checkbox"
                                                            [formControl]="item.control"
                                                            (change)="checkMasterItem('HumanResources','payrollRoles')">
                                                        <label class="form-check-label child">
                                                            {{item.label}}
                                                        </label>
                                                    </div>
                                                </ng-container>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <ng-container
                                                        *ngFor="let item of globalArrs.HumanResources.generalRoles">
                                                        <div class="form-check col-6 mb-2">
                                                            <input class="form-check-input" type="checkbox"
                                                                [formControl]="item.control"
                                                                (change)="checkMasterItem('HumanResources','generalRoles')">
                                                            <label class="form-check-label child">
                                                                {{item.label}}
                                                            </label>
                                                        </div>
                                                    </ng-container>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngb-panel>


                            <ngb-panel id="9" title="Fixed Assets" cardClass="open">
                                <ng-template ngbPanelContent="9">
                                    <div class="accordion-body">
                                        <div class="row">
                                            <div class="form-check mb-2 col-6"
                                                *ngFor="let item of globalArrs.FixedAssets">
                                                <ng-container *ngIf="item.name === 'chFixedAssets' ">
                                                    <input class="form-check-input" type="checkbox"
                                                        [formControl]="item.control"
                                                        (change)="allItemsChecker('FixedAssets',item.control.value!)">
                                                    <label class="form-check-label parent text-info">
                                                        {{item.label}}
                                                    </label>
                                                </ng-container>
                                                <ng-container *ngIf="item.name === 'chFixedAssetsReadOnly'">
                                                    <input class="form-check-input" type="checkbox"
                                                        [formControl]="item.control">
                                                    <label class="form-check-label parent text-info">
                                                        {{item.label}}
                                                    </label>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngb-panel>

                            <ngb-panel id="10" title="System Admin" cardClass="open">
                                <ng-template ngbPanelContent="10">
                                    <div class="accordion-body">
                                        <div class="row">
                                            <div class="form-check mb-2 col-6" *ngFor="let item of globalArrs.SysAdmin">
                                                <ng-container *ngIf="item.name === 'chSystemAdmin' ">
                                                    <input class="form-check-input" type="checkbox"
                                                        [formControl]="item.control"
                                                        (change)="allItemsChecker('SysAdmin',item.control.value!)">
                                                    <label class="form-check-label parent text-info">
                                                        {{item.label}}
                                                    </label>
                                                </ng-container>
                                                <ng-container *ngIf="item.name !== 'chSystemAdmin'">
                                                    <input class="form-check-input" [formControl]="item.control"
                                                        type="checkbox" (change)="checkMasterItem('SysAdmin')">
                                                    <label class="form-check-label child">
                                                        {{item.label}}
                                                    </label>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngb-panel>

                        </ngb-accordion>
                    </div>

                </div>
            </div><!-- end card -->
        </form>
    </div>

</div>


<!-- Role Modal -->
<ng-template #content let-modal>
    <div class="modal-header mb-0">
        <h4 class="modal-title" id="modal-basic-title">Add New Role</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <form [formGroup]="roleForm" (ngSubmit)="submitNewRole(roleForm)">
        <div class="modal-body p-1" style="overflow-y: unset !important;">
            <div class="row p-3">
                <div class="col-12">
                    <!-- Security Role -->
                    <div class="col-12 mb-2">
                        <label for="securityRole">Security Role</label>
                        <input id="securityRole" class="form-control form-control-sm" formControlName="securityRole"
                            [ngClass]="{'is-submitted': (f.securityRole?.touched || uiState.submitted) && f.securityRole?.invalid}" />
                        <span class="invalid-feedback fw-bold mt-0 d-inline-block"
                            *ngIf="(f.securityRole?.touched || uiState.submitted) && f.securityRole?.invalid">Required</span>
                    </div>

                    <!-- Security Role Description -->
                    <div class="col-12 mb-2">
                        <label for="securityRoleDescription">Description</label>
                        <input id="securityRoleDescription" class="form-control form-control-sm"
                            formControlName="securityRoleDescription" />
                    </div>

                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-sm btn-success mx-2 d-flex align-items-center"><i
                    class="ri-add-line mx-1"></i>Add</button>
            <button type="button" class="btn btn-outline-danger btn-sm" (click)="modal.close()">Close</button>
        </div>
    </form>
</ng-template>