<div class="row justify-content-between align-items-center mb-3">
  <div class="col-lg-4 col-md-6 col-sm-12 row align-items-center">
    <div class="col-7 form-group row align-items-center">
      <label class="col-sm-4 col-form-label" for="pagingSizeSelect">Show: </label>
      <div class="col-sm-8">
        <ng-select (change)="onPageSizeChange()" [clearable]="false" [searchable]="false" id="pagingSizeSelect"
          [(ngModel)]="uiState.filters.pageSize">
          <ng-option [value]="25">25</ng-option>
          <ng-option [value]="50">50</ng-option>
          <ng-option [value]="100">100</ng-option>
          <ng-option [value]="150">150</ng-option>
          <ng-option [value]="200">200</ng-option>
        </ng-select>
      </div>
    </div>
    <div class="col">
      <button (click)="exportExcelFile()" class="btn btn-sm btn-outline-primary"><i class="bx bxs-file-export"></i> Copy
        to Excel</button>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-12 d-flex justify-content-end">
    <button class="btn btn-sm btn-info mx-2" (click)="openFilterOffcanvas()">
      <i class="ri-filter-3-line me-1"></i> Filters
    </button>
    <a [routerLink]="'/' + uiState.routerLink.forms" class="btn btn-sm btn-success" *ngIf="
      !(permissions$ | async)?.includes(uiState.privileges.ChClientsRegistryAdministratorReadOnly)">
      <i class="ri-add-line me-1"></i> Add Client</a>
  </div>
</div>
<div class="ag-theme-alpine ag-theme-aaa" appTableView>
  <ag-grid-angular class="gridScrollbar" style="width: 100%; height: 75vh" [gridOptions]="gridOpts">
  </ag-grid-angular>
</div>

<!----------------------------------  --------------------
                      Clint Filter
-------------------------------------------------------->
<div>
  <ng-template #filter let-offcanvas>
    <div class="offcanvas-header">
      <h4 class="offcanvas-title fs-4">Filters</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
    </div>
    <div class="offcanvas-body">
      <form class="row justify-content-center" [formGroup]="filterForm">
        <!-- full Name -->
        <div class="col-12 mb-2">
          <label for="fullName" class="form-label">Full Name</label>
          <ng-select [items]="(lookupData | async)?.AllClients?.content!" [loading]="lookupData ? false : true"
            [clearable]="true" [searchable]="true" bindLabel="name" bindValue="name" id="fullName"
            formControlName="fullName">
          </ng-select>
        </div>
        <!-- Type -->
        <div class="col-12 mb-2">
          <label for="type" class="form-label">Type</label>
          <ng-select [items]="(lookupData | async)?.ClientTypes?.content!" [loading]="lookupData ? false : true"
            [clearable]="true" [searchable]="true" bindLabel="name" bindValue="name" id="type" formControlName="type">
          </ng-select>
        </div>
        <!-- Sponsor ID -->
        <div class="col-12 mb-2">
          <label for="sponsorID" class="form-label">Sponsor ID</label>
          <input type="text" class="form-control" id="sponsorID" placeholder="Sponsor ID" formControlName="sponsorID" />
        </div>
        <!-- Branch -->
        <div class="col-12 mb-2">
          <label for="branch" class="form-label">Branch</label>
          <ng-select [items]="(lookupData | async)?.Branch?.content!" [loading]="lookupData ? false : true"
            placeholder="Select Branch(es)" [clearable]="true" [searchable]="true" bindLabel="name" bindValue="name"
            id="branch" formControlName="branch">
          </ng-select>
        </div>
        <!-- producer -->
        <div class="col-12 mb-2">
          <label for="producer" class="form-label">Producer</label>
          <ng-select [items]="(lookupData | async)?.Producers?.content!" [loading]="lookupData ? false : true"
            [clearable]="true" [multiple]="true" [closeOnSelect]="false" [hideSelected]="true" [searchable]="true"
            bindLabel="name" bindValue="name" id="producer" formControlName="producer"
            [readonly]="!(permissions$ | async)?.includes(uiState.privileges.ChAccessAllProducersClients)">
          </ng-select>
        </div>

        <!-- Commercial No -->
        <div class="col-12 mb-2">
          <label for="commercialNo" class="form-label">Commercial No</label>
          <ng-select [items]="(lookupData | async)?.CommericalNo?.content!" [loading]="lookupData ? false : true"
            [clearable]="true" [searchable]="true" bindLabel="name" bindValue="name" id="commercialNo"
            formControlName="commericalNo">
          </ng-select>
        </div>
        <!-- Status -->

        <div class="col-12 mb-2">
          <label class="form-label" for="status">Status</label>

          <ng-select [items]="(lookupData | async)?.ClientStatus?.content!" [loading]="lookupData ? false : true"
            [clearable]="true" [searchable]="true" [multiple]="true" [hideSelected]="true" [closeOnSelect]="false"
            bindLabel="name" bindValue="name" formControlName="status">
          </ng-select>
        </div>
      </form>
    </div>
    <!-- submit and clear btn -->
    <div class="offcanvas-footer border-top row mb-3 mx-1">
      <div class="col-6 mt-2">
        <button class="btn btn-light btn-sm w-100" (click)="clearFilter()">
          Clear Filter
        </button>
      </div>
      <div class="col-6 mt-2">
        <button class="btn btn-success btn-sm w-100" (click)="onClientFilters()">
          Apply
        </button>
      </div>
    </div>
  </ng-template>
</div>