[col-id="action"] {
  overflow: visible !important;
}

.ag-row.ag-row-focus {
  z-index: 1 !important;
}

.ag-cell:focus {
  border: none !important;
  outline: none;
}

.ps__rail-x,
.ps__rail-y {
  opacity: 0.6;
}

.offcanvas-body {
  .form-control {
    max-height: 30px;
  }
}
