<div class="row justify-content-between align-items-center mb-3">
    <div class="col-lg-2 col-md-3 col-sm-6 form-group row align-items-center">
        <label class="col-sm-4 col-form-label" for="pagingSizeSelect">Show: </label>

        <div class="col-sm-8">
            <ng-select (change)="onPageSizeChange()" [clearable]="false" [searchable]="false" id="pagingSizeSelect"
                [(ngModel)]="uiState.filters.pageSize">
                <ng-option [value]="25">25</ng-option>
                <ng-option [value]="50">50</ng-option>
                <ng-option [value]="100">100</ng-option>
                <ng-option [value]="150">150</ng-option>
                <ng-option [value]="200">200</ng-option>
            </ng-select>

        </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 d-flex justify-content-end">

        <button type="button" class="btn btn-sm btn-primary mx-2 d-flex align-items-center" (click)="openDashboard()">
            Summary
        </button>
        <button type="button" class="btn btn-sm btn-info mx-2 d-flex align-items-center"
            (click)="openFilterOffcanvas()">
            <i class="ri-filter-3-line align-bottom me-1"></i>
            Filters
        </button>
        <a type="button" [routerLink]="'/' + uiState.routerLink.forms"
            class="btn btn-sm btn-success  d-flex align-items-center"
            *ngIf="!(permissions$ | async)?.includes(uiState.privileges.ChCustomerServiceReadOnly)">
            <i class="ri-add-line align-bottom me-1"></i> New Request
        </a>
    </div>
</div>

<div class="ag-theme-alpine" appTableView>
    <ag-grid-angular class="gridScrollbar" style="width: 100%; height: 75vh" [gridOptions]="gridOpts">
    </ag-grid-angular>
</div>

<!----------------------------------  --------------------
                        Client Filter
  -------------------------------------------------------->
<div>
    <ng-template #filter let-offcanvas>
        <div class="offcanvas-header">
            <h4 class="offcanvas-title fs-4">Filters</h4>
            <button type="button" class="btn-close" aria-label="Close"
                (click)="offcanvas.dismiss('Cross click')"></button>
        </div>
        <div class="offcanvas-body">
            <form class="row justify-content-center" [formGroup]="filterForms">
                <!-- Client Name -->
                <div class="mb-3">
                    <label for="Client" class="form-label text-muted fw-bold fs-13">
                        Client Name:
                    </label>
                    <ng-select id="client" class="is-invalid" placeholder="Select Client Name"
                        [items]="(lookupData | async)?.AllClients?.content!" [loading]="lookupData ? false : true"
                        [clearable]="true" [searchable]="true" formControlName="client" bindLabel="name"
                        bindValue="name">
                    </ng-select>
                </div>

                <div class="mb-3">
                    <label for="Status" class="form-label text-muted fw-bold fs-13">Status</label>
                    <ng-select id="Status" class="is-invalid" placeholder="Select Status"
                        [items]="(lookupData | async)?.CServiceStatus?.content!" [loading]="lookupData ? false : true"
                        [clearable]="true" [multiple]="true" [closeOnSelect]="false" [hideSelected]="true"
                        [searchable]="true" formControlName="status" bindLabel="name" bindValue="name">
                    </ng-select>
                </div>

                <div class="mb-3">
                    <label for="Type" class="form-label text-muted fw-bold fs-13">Type</label>
                    <ng-select id="Type" class="is-invalid" placeholder="Select Type"
                        [items]="(lookupData | async)?.TypeOfCustomerServices?.content!"
                        [loading]="lookupData ? false : true" [clearable]="true" [searchable]="true" [multiple]="true"
                        [closeOnSelect]="false" [hideSelected]="true" formControlName="type" bindLabel="name"
                        bindValue="name">
                    </ng-select>
                </div>

                <div class="mb-3">
                    <div class="input-group d-flex justify-content-between align-items-center mb-2">
                        <label for="duration" class="form-label text-muted fw-bold fs-13 mb-0">
                            Waiting Period above :
                        </label>
                        <input id="Checkduration" type="checkbox" (change)="CheckdurationEvt($event)" class="mx-2">
                    </div>
                    <div class="input-group">
                        <!-- <span class="input-group-text">
                            <label
                                class="m-checkbox m-checkbox--solid m-0 p-0 d-flex justify-content-center align-items-center">
                                <input id="Checkduration" type="checkbox" (change)="CheckdurationEvt($event)"
                                    class="mx-2"> Waiting
                                Period above
                            </label>
                        </span> -->
                        <input name="duration" type="number" formControlName="duration"
                            class="form-control form-control-sm text-center" id="duration" min="0" placeholder=""
                            style="max-height: unset !important;">
                        <span class="input-group-text py-1">W. Day(s)</span>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="RequestNo" class="form-label text-muted fw-bold fs-13">
                        Request No :
                    </label>
                    <input name="RequestNo" type="text" class="form-control" formControlName="requestNo" id="RequestNo"
                        placeholder="Request No">
                </div>

                <div class="mb-3">
                    <label for="Branch" class="form-label text-muted fw-bold fs-13">Branch</label>
                    <ng-select id="Branch" class="is-invalid" placeholder="Select Branch" formControlName="branch"
                        [items]="(lookupData | async)?.Branch?.content!" [loading]="lookupData ? false : true"
                        [clearable]="true" [searchable]="true" bindLabel="name" bindValue="name"
                        [readonly]="!(permissions$ | async)?.includes(uiState.privileges.ChAccessAllBrancheCustomer)">
                    </ng-select>
                </div>

                <div class="mb-3">
                    <label for="InsuranceCompany" class="form-label text-muted fw-bold fs-13">Insurance
                        Company</label>
                    <ng-select id="insuranceCompany" class="is-invalid" placeholder="Select Insurance Company"
                        [items]="(lookupData | async)?.InsuranceCompanies?.content!"
                        [loading]="lookupData ? false : true" [clearable]="true" [searchable]="true" [multiple]="true"
                        [closeOnSelect]="false" formControlName="insuranceCompany" bindLabel="name" bindValue="name">
                    </ng-select>
                </div>

                <div class="mb-3">
                    <label for="PendingReason" class="form-label text-muted fw-bold fs-13">Pending
                        Reason</label>
                    <ng-select id="PendingReason" class="is-invalid" placeholder="Select Pending Reason"
                        [items]="(lookupData | async)?.PendingReason?.content!" [loading]="lookupData ? false : true"
                        [clearable]="true" [searchable]="true" [multiple]="true" [closeOnSelect]="false"
                        formControlName="pendingReason" bindLabel="name" bindValue="name">
                    </ng-select>
                </div>

                <div class="mb-3">
                    <label for="ClassOfBusniess" class="form-label text-muted fw-bold fs-13">Class
                        Of Busniess</label>
                    <ng-select id="ClassOfBusniess" class="is-invalid" placeholder="Select Class Of Busniess"
                        [items]="(lookupData | async)?.InsurClasses?.content!" [loading]="lookupData ? false : true"
                        [clearable]="true" [searchable]="true" [multiple]="true" [closeOnSelect]="false"
                        formControlName="classOfBusniess" bindLabel="name" bindValue="name"
                        (change)="getLineOfBusiness($event)">
                    </ng-select>
                </div>

                <div class="mb-3">
                    <label for="LineofBuss" class="form-label text-muted fw-bold fs-13">Line
                        Of Busniess</label>
                    <ng-select id="lineofBuss" class="is-invalid" placeholder="Select Class Of Busniess"
                        [items]="uiState.lineOfBusinessList" [loading]="lookupData ? false : true" [clearable]="true"
                        [searchable]="true" [multiple]="true" [closeOnSelect]="false" formControlName="lineOfBusiness"
                        bindLabel="name" bindValue="name">
                    </ng-select>
                </div>

                <div class="mb-3">
                    <label for="CreatedBy" class="form-label text-muted fw-bold fs-13"> Created
                        by</label>
                    <ng-select id="CreatedBy" class="is-invalid" placeholder="Created By"
                        [items]="(lookupData | async)?.AllUsers?.content!" [loading]="lookupData ? false : true"
                        [clearable]="true" [searchable]="true" formControlName="createdBy" bindLabel="name"
                        bindValue="name"
                        [readonly]="!(permissions$ | async)?.includes(uiState.privileges.ChAccessAllUsersCustomer)">
                    </ng-select>
                </div>


                <!-- Issue -->

                <div class="mb-3">
                    <label for="Deadline" class="form-label text-muted fw-bold fs-13">
                        Deadline:
                    </label>
                    <!-- <app-gregorian-picker (dateChange)="setDeadLineFilter($event)"
                        [submitted]="submitted"></app-gregorian-picker> -->
                    <app-range-picker #datePicker (dateChange)="setDeadLineFilter($event)"></app-range-picker>
                </div>
                <div class="col-12 mh-100"></div>
            </form>
        </div>
        <!-- submit and clear btn -->
        <div class="offcanvas-footer border-top row mb-3 mx-1">
            <div class="col-6 mt-2">
                <button class="btn btn-light btn-sm w-100" (click)="clearFilter(); datePicker.clearDateRange()">
                    Clear Filter
                </button>
            </div>
            <div class="col-6 mt-2">
                <button class="btn btn-success btn-sm w-100" (click)="onCSFilter()">
                    Apply
                </button>
            </div>
        </div>
    </ng-template>
</div>




<!----------------------------------  --------------------
                      Follow Up Canvas
-------------------------------------------------------->
<div>
    <ng-template #followUp let-followOffcanvas>
        <app-sub-loader *ngIf="isLoading"></app-sub-loader>
        <div class="offcanvas-header">
            <h4 class="offcanvas-title fs-4">Follow Up</h4>
            <button type="button" class="btn-close" aria-label="Close"
                (click)="followOffcanvas.dismiss('Cross click')"></button>
        </div>
        <div class="offcanvas-body followUpCanvas chat-conversation p-3 p-lg-4">
            <div class="row justify-content-center">
                <ul class="list-unstyled chat-conversation-list" id="conversation-list">
                    <li #followUpList class="chat-list left" *ngFor="let el of uiState.followUpData.list">
                        <div class="conversation-list">
                            <div class="chat-avatar fs-20 text-muted">
                                <i class="ri-user-voice-fill"></i>
                            </div>
                            <div class="user-chat-content">
                                <div class="ctext-wrap">
                                    <div class="ctext-wrap-content">
                                        <p class="mb-0 ctext-content">{{ el.notes }}</p>
                                    </div>
                                </div>
                                <div class="conversation-name">
                                    <small class="text-muted time">{{ el.savedUser }}</small>
                                    <small class="text-muted time">
                                        {{ el.savedDate | date : "mediumDate" }} </small><br />
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!--end offcanvas-body-->

        <!--offcanvas-footer -->

        <div class="offcanvas-footer border-top row mb-3 mx-1">

            <form [formGroup]="followUpForm" (ngSubmit)="sendFollowUp()">
                <div class="col-12  my-2">
                    <label class="form-label">Users</label>
                    <ng-select [items]="(lookupData | async)?.AllUsers?.content!" [loading]="lookupData ? false : true"
                        [clearable]="true" class="form-control-sm px-0 w-100" appendTo="body" [ngClass]="{
                    'is-invalid':
                      ff.names?.touched && ff.names?.errors
                  }" [multiple]="true" [hideSelected]="true" [closeOnSelect]="false" bindLabel="name" bindValue="name"
                        formControlName="names" placeholder="Select User">
                    </ng-select>
                    <div *ngIf="ff.names?.touched && ff.names?.errors" class="invalid-feedback">
                        required
                    </div>
                </div>
                <div class="mb-2 col-12">
                    <textarea class="form-control text-area" [ngClass]="{
                    'is-invalid': ff.msg?.touched && ff.msg?.errors
                  }" formControlName="msg" rows="3" placeholder="Type A Message"></textarea>
                    <div *ngIf="ff.msg?.touched && ff.msg?.errors" class="invalid-feedback">
                        required
                    </div>
                </div>
                <div class="col-12 mt-2">
                    <button class="btn btn-success btn-sm w-100" type="submit">
                        Send Emails
                    </button>
                </div>
            </form>
        </div>

        <!--end offcanvas-footer -->
    </ng-template>
</div>