<div class="modal-header">
    <h4 class="modal-title">Upload Vehicle</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <div class="col-12 my-2">
        <p>if you don't have Motor File <a class="btn btn-sm btn-info" href="/src/MotorVehiclesListTemplate.xlsx"
                download><i class="ri-file-download-fill"></i>
                File</a> download</p>
    </div>
    <div class="col-12  my-2">
        <div class="mb-3">
            <label for="formFile" class="form-label">Upload Excel File</label>
            <input class="form-control form-control-sm" type="file" id="formFile" (change)="uploadExeceFile($event)"
                #fileInput>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-lg-12 table-responsive">
                <table class="table align-middle table-nowrap mb-0">
                    <thead class="table-light">
                        <tr>
                            <th scope="col">ownerDriver</th>
                            <th scope="col">plateNo</th>
                            <th scope="col">plateChar1</th>
                            <th scope="col">plateChar2</th>
                            <th scope="col">plateChar3</th>
                            <th scope="col">sequenceNo</th>
                            <th scope="col">customID</th>
                            <th scope="col">brandName</th>
                            <th scope="col">model</th>
                            <th scope="col" class="date">inception</th>
                            <th scope="col" class="date">expiry</th>
                            <th scope="col" class="date">kclDate</th>
                            <th scope="col">seats</th>
                            <th scope="col">bodyType</th>
                            <th scope="col">chassisNo</th>
                            <th scope="col">marketValue</th>
                            <th scope="col">repairType</th>
                            <th scope="col">vehicleOwnerID</th>
                            <th scope="col">projectName</th>
                            <th scope="col">ِAction</th>
                        </tr>
                    </thead>
                    <tbody formArray="MotorDataArr">
                        <tr *ngFor="let c of MotorDataArr.controls; index as i">
                            <ng-container [formGroup]="MotorDataArr.at(i)">
                                <td>
                                    <input type="text" class="form-control form-control-sm" placeholder="Owner/Driver"
                                        formControlName="ownerDriver" />
                                </td>
                                <td>
                                    <input type="text" class="form-control form-control-sm" placeholder="Plate No"
                                        formControlName="plateNo" />
                                </td>
                                <td>
                                    <input type="text" class="form-control form-control-sm" placeholder="Plate Char 1"
                                        formControlName="plateChar1" />
                                </td>
                                <td>
                                    <input type="text" class="form-control form-control-sm" placeholder="Plate Char 2"
                                        formControlName="plateChar2" />
                                </td>
                                <td>
                                    <input type="text" class="form-control form-control-sm" placeholder="Plate Char 3"
                                        formControlName="plateChar3" />
                                </td>
                                <td>
                                    <input type="text" class="form-control form-control-sm" placeholder="Sequence No"
                                        formControlName="sequenceNo" />
                                </td>
                                <td>
                                    <input type="text" class="form-control form-control-sm" placeholder="Custom ID"
                                        formControlName="customID" />
                                </td>
                                <td>
                                    <input type="text" class="form-control form-control-sm" placeholder="Brand Name"
                                        formControlName="brandName" />
                                </td>
                                <td>
                                    <input type="text" class="form-control form-control-sm" placeholder="Model"
                                        formControlName="model" />
                                </td>
                                <td>
                                    <app-gregorian-picker [required]="true"
                                        [model]="MotorDataArrControls(i, 'inception').value"
                                        (dateChange)="Dates($event, i,'inception')"
                                        [submitted]="MotorDataArrControls(i, 'inception').invalid && MotorDataArrControls(i, 'inception').touched"></app-gregorian-picker>
                                </td>
                                <td>
                                    <app-gregorian-picker [required]="true"
                                        [model]="MotorDataArrControls(i, 'expiry').value"
                                        (dateChange)="Dates($event, i,'expiry')"
                                        [submitted]="MotorDataArrControls(i, 'expiry').invalid && MotorDataArrControls(i, 'expiry').touched"></app-gregorian-picker>
                                </td>
                                <td>
                                    <app-gregorian-picker [required]="true"
                                        [model]="MotorDataArrControls(i, 'kclDate').value"
                                        (dateChange)="Dates($event, i,'kclDate')"
                                        [submitted]="MotorDataArrControls(i, 'kclDate').invalid && MotorDataArrControls(i, 'kclDate').touched"></app-gregorian-picker>
                                </td>
                                <td>
                                    <input type="text" class="form-control form-control-sm" placeholder="Seats No"
                                        formControlName="seats" />
                                </td>
                                <td>
                                    <input type="text" class="form-control form-control-sm" placeholder="Body Type"
                                        formControlName="bodyType" />
                                </td>
                                <td>
                                    <input type="text" class="form-control form-control-sm" placeholder="Chassis No"
                                        formControlName="chassisNo" />
                                </td>
                                <td>
                                    <input type="text" class="form-control form-control-sm" placeholder="Market Value"
                                        formControlName="marketValue" />
                                </td>
                                <td>
                                    <input type="text" class="form-control form-control-sm" placeholder="Repair Type"
                                        formControlName="repairType" />
                                </td>
                                <td>
                                    <input type="text" class="form-control form-control-sm"
                                        placeholder="Vehicle Owner ID" formControlName="vehicleOwnerID" />
                                </td>
                                <td>
                                    <input type="text" class="form-control form-control-sm" placeholder="Project Name"
                                        formControlName="projectName" />
                                </td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-soft-danger" (click)="removeMedical(i)">
                                        <i class="ri-delete-bin-2-line"></i>
                                    </button>
                                </td>
                            </ng-container>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-sm btn-outline-success d-flex align-items-center mx-2" (click)="submit()">
        <i class="ri-save-line mx-1"></i> Save
    </button>
    <button type="button" class="btn btn-sm btn-outline-info d-flex align-items-center mx-2"
        (click)="getMotorActiveData()">
        <i class="ri-refresh-line mx-1"></i> Reset
    </button>
    <button type="button" class="btn btn-sm btn-outline-warning d-flex align-items-center mx-2"
        (click)="clearMotorDataArr()">
        <i class="ri-delete-bin-line mx-1"></i> Clear
    </button>
    <button type="button" class="btn btn-sm btn-outline-danger d-flex align-items-center"
        (click)="modal.close('Close click')"><i class="ri-close-line mx-1"></i> Close</button>
</div>