<div class="demo-app">

    <div class='demo-app-main'>
        <div class="card">
            <div class="card-body">
                <ng-template #filter let-offcanvas>
                    <div class="offcanvas-header">
                        <h4 class="offcanvas-title">Task Filters</h4>
                        <button type="button" class="btn-close" aria-label="Close"
                            (click)="offcanvas.dismiss('Cross click')"></button>
                    </div>
                    <div class="offcanvas-body">
                        <div class="row g-3">
                            <div class="col-xxl-3 col-sm-12">
                                <label for="filter-task-name">Task Name</label>
                                <div class="search-box">
                                    <input type="text" id="filter-task-name" class="form-control form-control-sm"
                                        placeholder="Search for task name...">
                                    <i class="ri-search-line search-icon"></i>
                                </div>
                            </div>
                            <!--end col-->
                            <div class="col-xxl-3 col-sm-4">
                                <label>Section Name</label>
                                <ng-select>
                                    <option value="" selected>All</option>
                                </ng-select>
                            </div>
                            <!--end col-->
                            <div class="col-xxl-3 col-sm-12 d-none" id="requestNoContainer">
                                <label for="filter-request-no">Request No.</label>
                                <div class="search-box">
                                    <input type="text" id="filter-request-no" class="form-control form-control-sm"
                                        placeholder="Search for request Number...">
                                    <i class="ri-search-line search-icon"></i>
                                </div>
                            </div>
                            <!--end col-->
                            <div class="col-xxl-3 col-sm-12 d-none" id="LeadNoContainer">
                                <label for="filter-lead-no">Lead No.</label>
                                <div class="search-box">
                                    <input type="text" id="filter-lead-no" class="form-control form-control-sm"
                                        placeholder="Search for Lead Number...">
                                    <i class="ri-search-line search-icon"></i>
                                </div>
                            </div>
                            <!--end col-->
                            <div class="col-xxl-3 col-sm-12 d-none" id="claimNoContainer">
                                <label for="filter-claim-no">Claim No.</label>
                                <div class="search-box">
                                    <input type="text" id="filter-claim-no" class="form-control form-control-sm"
                                        placeholder="Search for claim Number...">
                                    <i class="ri-search-line search-icon"></i>
                                </div>
                            </div>

                            <!--end col-->
                            <div class="col-xxl-3 col-sm-4">
                                <label for="filter-assigned-to">Assigned To</label>
                                <ng-select>
                                    <option value="" selected>All</option>
                                </ng-select>
                            </div>
                            <!--end col-->
                            <div class="col-xxl-3 col-sm-4">
                                <label for="filter-assigned-by">Assigned By</label>
                                <ng-select>
                                    <option value="" selected>All</option>
                                </ng-select>
                            </div>
                            <!--end col-->
                            <div class="col-xxl-3 col-sm-4">
                                <label for="filter-status">Status</label>
                                <ng-select>
                                    <option value="" selected>All</option>
                                </ng-select>
                            </div>
                            <!--end col-->
                            <div class="col-xxl-3 col-sm-4">
                                <label for="filter-type">Type</label>
                                <ng-select>
                                    <option value="" selected>All</option>
                                </ng-select>
                            </div>
                            <!--end col-->
                        </div>
                        <!--end row-->

                        <div class="text-end">
                            <button type="button" class="btn btn-info btn-sm" id="filter-btn"> <i
                                    class="ri-equalizer-fill me-1 align-bottom"></i>
                                Filters
                            </button>
                        </div>
                    </div>
                </ng-template>
                <full-calendar #calendar [options]="calendarOptions" [deepChangeDetection]="true">
                    <ng-template #eventContent let-arg>
                        <div placement="top auto" [ngbTooltip]="arg.event.extendedProps.taskDetails || 'No Description'"
                            container="body">
                            <b>{{ arg.timeText }}</b>
                            <i>{{ arg.event.title }}</i>
                        </div>
                    </ng-template>
                </full-calendar>
            </div>
        </div>
    </div>
</div>