<div class="demo-app">

    <div class='demo-app-main'>
        <div class="card">
            <div class="card-body">
                <ng-template #filter let-offcanvas>
                    <app-sub-loader *ngIf="uiState.isLoading"></app-sub-loader>
                    <div class="offcanvas-header">
                        <h4 class="offcanvas-title">Task Filters</h4>
                        <button type="button" class="btn-close" aria-label="Close"
                            (click)="offcanvas.dismiss('Cross click')"></button>
                    </div>
                    <div class="offcanvas-body">
                        <form [formGroup]="formGroup" (ngSubmit)="submitFilter()">
                            <div class="row g-3">
                                <div class="col-xxl-3 col-sm-12">
                                    <label>Task Name</label>
                                    <div class="search-box">
                                        <input type="text" formControlName="taskName"
                                            class="form-control form-control-sm" placeholder="Search for task name...">
                                        <i class="ri-search-line search-icon"></i>
                                    </div>
                                </div>
                                <!--end col-->
                                <div class="col-xxl-3 col-sm-4">
                                    <label>Section Name</label>
                                    <ng-select [clearable]="true" [clearOnBackspace]="true" appendTo="body"
                                        [items]="(formData | async)?.IBSModules?.content!" bindValue="name"
                                        bindLabel="name" placeholder="All" formControlName="module"></ng-select>
                                </div>
                                <!--end col-->
                                <div class="col-xxl-3 col-sm-12" *ngIf="f?.['module']?.value === 'Customer Services'">
                                    <label>Request No.</label>
                                    <div class="search-box">
                                        <input type="text" class="form-control form-control-sm"
                                            placeholder="Search for request Number...">
                                        <i class="ri-search-line search-icon"></i>
                                    </div>
                                </div>
                                <!--end col-->
                                <div class="col-xxl-3 col-sm-12" *ngIf="f?.['module']?.value === 'SalesLead'">
                                    <label>Lead No.</label>
                                    <div class="search-box">
                                        <input type="text" class="form-control form-control-sm"
                                            placeholder="Search for Lead Number...">
                                        <i class="ri-search-line search-icon"></i>
                                    </div>
                                </div>
                                <!--end col-->
                                <div class="col-xxl-3 col-sm-12" *ngIf="f?.['module']?.value === 'Claims'">
                                    <label>Claim No.</label>
                                    <div class="search-box">
                                        <input type="text" class="form-control form-control-sm"
                                            placeholder="Search for claim Number...">
                                        <i class="ri-search-line search-icon"></i>
                                    </div>
                                </div>

                                <!--end col-->
                                <div class="col-xxl-3 col-sm-4">
                                    <label>Assigned To</label>
                                    <ng-select [clearable]="true" [clearOnBackspace]="true" appendTo="body"
                                        [items]="uiState.lists.assign" bindValue="name" bindLabel="name"
                                        placeholder="All" formControlName="assignedTo"></ng-select>
                                </div>
                                <!--end col-->
                                <div class="col-xxl-3 col-sm-4">
                                    <label>Assigned By</label>
                                    <ng-select [clearable]="true" [clearOnBackspace]="true" appendTo="body"
                                        [items]="uiState.lists.assign" bindValue="name" bindLabel="name"
                                        placeholder="All" formControlName="assignedBy"></ng-select>
                                </div>
                                <!--end col-->
                                <div class="col-xxl-3 col-sm-4">
                                    <label>Status</label>
                                    <ng-select [clearable]="true" [clearOnBackspace]="true" appendTo="body"
                                        [items]="['Open', 'Closed']" placeholder="All"
                                        formControlName="status"></ng-select>
                                </div>
                                <!--end col-->
                                <div class="col-xxl-3 col-sm-4">
                                    <label>Type</label>
                                    <ng-select [clearable]="true" [clearOnBackspace]="true" appendTo="body"
                                        [items]="(formData | async)?.TasksTypes?.content!" bindValue="name"
                                        bindLabel="name" placeholder="All" formControlName="type"></ng-select>
                                </div>
                                <!--end col-->
                            </div>
                            <!--end row-->

                            <div class="text-end">
                                <button type="submit" class="btn btn-info btn-sm" id="filter-btn"> <i
                                        class="ri-equalizer-fill me-1 align-bottom"></i>
                                    Filters
                                </button>
                            </div>
                        </form>
                    </div>
                </ng-template>
                <full-calendar #calendar [options]="calendarOptions" [deepChangeDetection]="true">
                    <ng-template #eventContent let-arg>
                        <div placement="top auto" [ngbTooltip]="arg.event.extendedProps.taskDetails || 'No Description'"
                            container="body">
                            <b>{{ arg.timeText }}</b>
                            <i>{{ arg.event.title }}</i>
                        </div>
                    </ng-template>
                </full-calendar>
            </div>
        </div>
    </div>
</div>