<div class="row justify-content-between align-items-center mb-3">
    <div class="col-lg-2 col-md-3 col-sm-6 form-group row align-items-center">
        <label class="col-sm-4 col-form-label" for="pagingSizeSelect">Show: </label>
        <div class="col-sm-8">
            <ng-select (change)="onPageSizeChange()" [clearable]="false" [searchable]="false" id="pagingSizeSelect"
                [(ngModel)]="uiState.filters.pageSize">
                <ng-option [value]="25">25</ng-option>
                <ng-option [value]="50">50</ng-option>
                <ng-option [value]="100">100</ng-option>
                <ng-option [value]="150">150</ng-option>
                <ng-option [value]="200">200</ng-option>
            </ng-select>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 mt-sm-3 d-flex justify-content-end">
        <button class="btn btn-sm btn-info mx-2" (click)="openFilterOffcanvas()">
            <i class="ri-filter-3-line me-1"></i> Filters
        </button>
    </div>
</div>
<!-- grid -->

<div class="ag-theme-alpine" appTableView>
    <ag-grid-angular class="gridScrollbar" style="width: 100%; height: 75vh" [gridOptions]="gridOpts">
    </ag-grid-angular>
</div>


<!----------------------------------  --------------------
                         Filter
  -------------------------------------------------------->
<div>
    <ng-template #filter let-offcanvas>
        <div class="offcanvas-header">
            <h4 class="offcanvas-title fs-4">Filters</h4>
            <button type="button" class="btn-close" aria-label="Close"
                (click)="offcanvas.dismiss('Cross click')"></button>
        </div>
        <div class="offcanvas-body">
            <form class="row justify-content-center" [formGroup]="filterForms">
                <!-- Producer -->
                <div class="mb-3">
                    <label for="CliProducerent" class="form-label text-muted fw-bold fs-13">
                        Producer:
                    </label>
                    <ng-select id="producer" class="is-invalid" placeholder="Select Producer"
                        [items]="(lookupData | async)?.Producers?.content!" [loading]="lookupData ? false : true"
                        [clearable]="true" [searchable]="true" formControlName="producer" bindLabel="name"
                        bindValue="name">
                    </ng-select>
                </div>
                <!-- Client Name -->
                <div class="mb-3">
                    <label for="Client" class="form-label text-muted fw-bold fs-13">
                        Client Name:
                    </label>
                    <ng-select id="clientName" class="is-invalid" placeholder="Select Client"
                        [items]="(lookupData | async)?.ClientsList?.content!" [loading]="lookupData ? false : true"
                        [clearable]="true" [searchable]="true" formControlName="clientName" bindLabel="name"
                        bindValue="name">
                    </ng-select>
                </div>
                <!-- Client ID -->
                <div class="mb-3">
                    <label for="policyNumber" class="form-label text-muted fw-bold fs-13">
                        Policy Number:
                    </label>
                    <input id="policyNumber" type="text" class="form-control" placeholder="Policy Number"
                        formControlName="policyNumber">
                </div>


            </form>
        </div>
        <!-- submit and clear btn -->
        <div class="offcanvas-footer border-top row mb-3 mx-1">
            <div class="col-6 mt-2">
                <button class="btn btn-light btn-sm w-100" (click)="clearFilter();">
                    Clear Filter
                </button>
            </div>
            <div class="col-6 mt-2">
                <button class="btn btn-success btn-sm w-100" (click)="onEditCommissionsFilter()">
                    Apply
                </button>
            </div>
        </div>
    </ng-template>
</div>


<ng-template #edit let-modal>
    <div class="modal-dialog modal-xl modal-dialog-centered  modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Policy</h4>
                <button type="button" class="btn-close" aria-label="Close"
                    (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="modal-body" style="max-height: 70vh;">
                <form [formGroup]="editForm">
                    <div class="container-fluid">
                        <div class="my-3 h-100">
                            <div class="card ribbon-box border  shadow-none mb-lg-0 h-100">
                                <div class="card-body">
                                    <span class="ribbon ribbon-info round-shape"><span>Client Data</span></span>
                                    <div class="row mt-4">
                                        <div class="col-lg-4 col-md-6 col-sm-12 mt-2">
                                            <label for="modalClientID" class="text-muted">Client ID</label>
                                            <input type="number" formControlName="sNo"
                                                class="form-control form-control-sm" id="modalClientID" readonly>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-12 mt-2">
                                            <label for="clientName" class="text-muted">Client Name</label>
                                            <input type="text" formControlName="clientName"
                                                class="form-control form-control-sm" id="modalClientName" readonly>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-12 mt-2">
                                            <div class="accordion-info">
                                                <div class="lables">
                                                    <label for="producers" class="asterisk-input">Producers</label>
                                                </div>
                                                <ng-select id="producer" class="is-invalid"
                                                    placeholder="Select Producer"
                                                    [items]="(lookupData | async)?.Producers?.content!"
                                                    (change)="changeprod($event)" [loading]="lookupData ? false : true"
                                                    [ngClass]="{'is-submitted': (ff.producer?.touched || uiState.submitted) && ff.producer?.invalid}"
                                                    [clearable]="true" [searchable]="true" formControlName="producer"
                                                    bindLabel="name" bindValue="name">
                                                </ng-select>
                                                <div class="invalid-feedback fw-bold"
                                                    *ngIf="(ff.producer?.touched || uiState.submitted) && ff.producer?.invalid">
                                                    Required
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="my-3 h-100">
                            <div class="card ribbon-box border text-muted  shadow-none mb-lg-0 h-100">
                                <div class="card-body">
                                    <span class="ribbon ribbon-info round-shape">
                                        <span>Policy Details</span>
                                    </span>
                                    <div class="row mt-4">
                                        <div class="col-lg-3 col-md-6 col-sm-12  my-2">
                                            <label for="modalAccountNo">A/C No.</label>
                                            <input type="text" formControlName="accNo"
                                                class="form-control form-control-sm" id="modalAccountNo" readonly>
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-12  my-2">
                                            <label for="modalPolicyNo">Policy No.</label>
                                            <input type="text" formControlName="policyNo"
                                                class="form-control form-control-sm" id="modalPolicyNo" readonly>
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-12  my-2">
                                            <label for="modalIssuedBy">Issued By</label>
                                            <input type="text" formControlName="savedBy"
                                                class="form-control form-control-sm" id="modalIssuedBy" readonly>
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-12  my-2">
                                            <label for="modalClassOfInsurance" class="">Class of Insurance</label>
                                            <input type="text" formControlName="className"
                                                class="form-control form-control-sm" id="modalClassOfInsurance"
                                                readonly>
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-12  my-2">
                                            <label for="modalLineOfBussiness">Line of Bussiness</label>
                                            <input type="text" formControlName="lineOfBusiness"
                                                class="form-control form-control-sm" id="modalLineOfBussiness" readonly>
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-12  my-2">
                                            <label for="modalPeriodFrom">Period From</label>
                                            <app-gregorian-picker [model]="ff.periodFrom?.value" [required]="true"
                                                [submitted]="submitted" [disabled]="true"
                                                (dateChange)="periodFrom($event)"></app-gregorian-picker>
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-12  my-2">
                                            <label for="modalPeriodTo">Period To</label>
                                            <app-gregorian-picker [model]="ff.periodTo?.value" [required]="true"
                                                [submitted]="submitted" [disabled]="true"
                                                (dateChange)="periodTo($event)"></app-gregorian-picker>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="my-3 h-100 mb-3">
                            <div class="card ribbon-box border shadow-none mb-lg-0 h-100">
                                <div class="card-body">
                                    <div class="ribbon ribbon-info round-shape">Producers Commissions</div>
                                    <div class="ribbon-content mt-4">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-12 col-sm-12 align-items-end mt-2">
                                                <label for="companyCommissionPerc">Company Commission</label>
                                                <div class="input-group input-group-sm">
                                                    <input type="number" id="companyCommissionPerc"
                                                        (input)="formListeners($event)"
                                                        class="form-control form-control-sm"
                                                        formControlName="compCommPerc" placeholder="0%">
                                                    <span class="input-group-text" id="">%</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-12 col-sm-12 align-items-end mt-2">
                                                <label for="fullCommissionPerc" class="fw-bold text-muted">Full
                                                    Producers
                                                    Commission
                                                </label>
                                                <div class="input-group input-group-sm">
                                                    <input type="number" id="fullCommissionPerc"
                                                        class="form-control form-control-sm"
                                                        formControlName="producerCommPerc"
                                                        (input)="formListeners($event)" placeholder="0%">
                                                    <span class="input-group-text" id="">%</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="my-3 h-100">
                                            <div class="card ribbon-box border shadow-none mb-lg-0 h-100">
                                                <div class="card-body">
                                                    <div class="ribbon-content my-4">
                                                        <div class="row justify-content-center my-4">
                                                            <div class="d-flex flex-column">
                                                                <button type="button"
                                                                    (click)="addProducersCommissions()"
                                                                    class="ms-auto btn btn-sm btn-soft-primary mb-3 bg-gradient waves-effect waves-light"
                                                                    [disabled]="ff.producer?.value?.startsWith('Direct Business')">
                                                                    <i class="ri-contacts-book-2-line"></i>
                                                                    Add
                                                                </button>

                                                                <div class="table-responsive">
                                                                    <table class="table table-nowrap mb-0">
                                                                        <thead class="table-light">
                                                                            <tr>
                                                                                <th scope="col">Producer</th>
                                                                                <th scope="col">Percentage %</th>
                                                                                <th scope="col"></th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody formArrayName="producersCommissions">
                                                                            <tr
                                                                                *ngFor="let c of producersCommissionsArray.controls; index as i">
                                                                                <ng-container [formGroupName]="i">

                                                                                    <td scope="col">
                                                                                        <ng-select id="producers"
                                                                                            class="is-invalid"
                                                                                            appendTo="table"
                                                                                            placeholder="Select Producer"
                                                                                            [items]="(lookupData | async)?.Producers?.content!"
                                                                                            [ngClass]="{'is-submitted': (producersCommissionsControls(i, 'producer').touched || uiState.submitted) && producersCommissionsControls(i, 'producer').invalid}"
                                                                                            [loading]="lookupData ? false : true"
                                                                                            [clearable]="true"
                                                                                            [searchable]="true"
                                                                                            formControlName="producer"
                                                                                            bindLabel="name"
                                                                                            bindValue="name">
                                                                                        </ng-select>
                                                                                    </td>

                                                                                    <td scope="col">
                                                                                        <input type="number"
                                                                                            class="form-control-sm"
                                                                                            id="producerCommissionPerc"
                                                                                            (input)="formListeners($event)"
                                                                                            placeholder="0%"
                                                                                            [ngClass]="{'is-invalid': (producersCommissionsControls(i, 'percentage').touched || uiState.submitted) && producersCommissionsControls(i, 'percentage').invalid}"
                                                                                            formControlName="percentage">
                                                                                    </td>

                                                                                    <td>
                                                                                        <button type="button"
                                                                                            class="btn btn-sm btn-soft-danger"
                                                                                            (click)="removeCommission(i)">
                                                                                            <i
                                                                                                class="ri-delete-bin-2-line"></i>
                                                                                        </button>
                                                                                    </td>

                                                                                </ng-container>
                                                                            </tr>
                                                                            <tr *ngIf="producersCommissionsArray.controls.length === 0"
                                                                                class="my-1 text-center text-dark fw-bold no-item-contact">
                                                                                <td colspan="100">No items show</td>
                                                                            </tr>
                                                                        </tbody>
                                                                        <tfoot id="totalPaymentTermFooter"
                                                                            class="text-danger">
                                                                            <tr>
                                                                                <th>Total</th>
                                                                                <th>
                                                                                    {{uiState.producerCommission.commissionTotals.percentage
                                                                                    }}%
                                                                                </th>
                                                                                <th></th>
                                                                            </tr>
                                                                        </tfoot>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-outline-success" (click)="submitEditForm()">Save</button>
                <button type="button" class="btn btn-sm btn-outline-danger"
                    (click)="modal.close('Close click')">Close</button>
            </div>
        </div>
    </div>
</ng-template>