<div class="row justify-content-between align-items-center mb-3">
    <div class="col-12 d-flex justify-content-end">

        <a type="button" class="btn btn-sm btn-info mx-2  d-flex align-items-center" (click)="openInsuranceDialoge()">
            <i class="ri-add-line align-bottom me-1"></i> Add Insurance Class
        </a>

    </div>
</div>

<div class="ag-theme-alpine" appTableView>
    <ag-grid-angular class="gridScrollbar" style="width: 100%; height: 75vh" [gridOptions]="gridOpts">
    </ag-grid-angular>
</div>

<ng-template #insuranceContent let-modal>
    <div class="modal-header mb-0">
        <h4 class="modal-title" id="modal-basic-title" *ngIf="!uiState.editInsuranceMode">Add Insurance Class</h4>
        <h4 class="modal-title" id="modal-basic-title" *ngIf="uiState.editInsuranceMode">Edit Insurance Class</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>

    <form [formGroup]="InsuranceForm" (ngSubmit)="submitInsuranceData(InsuranceForm)">
        <div class="modal-body p-1" style="overflow-y: unset !important;">
            <div class="row p-3">
                <div class="mt-3 h-100">
                    <div class="card ribbon-box border  shadow-none mb-lg-0 h-100">
                        <div class="card-body">
                            <span class="ribbon ribbon-info round-shape"><span>Insurance
                                    Class</span></span>
                            <div class="col-12 row mt-4">

                                <!-- Insurance Class -->
                                <div class="col-12 mb-2">
                                    <label for="className" class="asterisk-input">Insurance Class</label>
                                    <input id="classNameAr" class="form-control form-control-sm"
                                        [ngClass]="{'is-invalid': (f.className?.touched || uiState.submitted) && f.className?.invalid}"
                                        formControlName="className" />
                                    <span *ngIf="(f.className?.touched || uiState.submitted) && f.className?.invalid"
                                        class="invalid-feedback fw-bold mt-0 d-inline-block">Required</span>
                                </div>

                                <!-- Insurance Class (Ar) -->
                                <div class="col-12 mb-2">
                                    <label for="classNameAr">Insurance Class (Ar)</label>
                                    <input id="classNameAr" class="form-control form-control-sm"
                                        formControlName="classNameAr" />

                                </div>

                                <!-- abbreviation -->
                                <div class="col-12 mb-2">
                                    <label for="abbreviation" class="asterisk-input">Abbreviation</label>
                                    <input id="abbreviation" class="form-control form-control-sm"
                                        [ngClass]="{'is-invalid': (f.className?.touched || uiState.submitted) && f.className?.invalid}"
                                        formControlName="abbreviation" />
                                    <span
                                        *ngIf="(f.abbreviation?.touched || uiState.submitted) && f.abbreviation?.invalid"
                                        class="invalid-feedback fw-bold mt-0 d-inline-block">Required</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-sm btn-soft-success mx-2 d-flex align-items-center"
                    *ngIf="!uiState.editInsuranceMode"><i class="ri-add-line"></i>Add</button>
                <button type="submit" class="btn btn-sm btn-soft-success mx-2 d-flex align-items-center"
                    *ngIf="uiState.editInsuranceMode"><i class="ri-edit-line mx-1"></i>Edit</button>
                <button type="button" class="btn btn-soft-danger btn-sm d-flex align-items-center"
                    (click)="modal.close()">
                    <i class="ri-close-fill"></i> Close</button>
            </div>
        </div>
    </form>
</ng-template>