<form [formGroup]="clientContactFormGroup" (submit)="submitClientContact()">
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 mt-2">
            <label for="name">Name</label>
            <input type="text" name="name" class="form-control form-control-sm clientSearchInputs"
                placeholder="Search By Client ID" id="name" formControlName="contactName"
                [ngClass]="{'is-invalid': (f.contactName?.touched || uiState.submitted) && f.contactName?.invalid}">
            <span *ngIf="(f.contactName?.touched || uiState.submitted) && f.contactName?.invalid"
                class="invalid-feedback fw-bold mt-0 d-inline-block">Required</span>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 mt-2">
            <label for="email">Email</label>
            <input type="text" name="email" class="form-control form-control-sm clientSearchInputs"
                placeholder="Search By Client ID" id="email" formControlName="email"
                [ngClass]="{'is-invalid': (f.email?.touched || uiState.submitted) && f.email?.invalid}">
            <span *ngIf="(f.email?.touched || uiState.submitted) && f.email?.invalid"
                class="invalid-feedback fw-bold mt-0 d-inline-block">Required</span>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 mt-2">
            <label for="tele">Tele</label>
            <input type="text" name="tele" class="form-control form-control-sm clientSearchInputs"
                placeholder="Search By Client ID" id="tele" formControlName="tele">
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 mt-2">
            <label for="mobile">Mobile</label>
            <input type="text" name="mobile" class="form-control form-control-sm clientSearchInputs"
                placeholder="Search By Client ID" id="mobile" formControlName="mobile">
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 mt-2">
            <div class="d-flex justify-content-between align-items-center">
                <label for="Position">Position
                </label>
            </div>
            <ng-select [items]="(lookupData | async)?.Positions?.content!" placeholder="Select Position"
                [loading]="lookupData ? false : true" [hideSelected]="true" [clearable]="true" [searchable]="true"
                bindLabel="name" bindValue="name" formControlName="position" id="Position" appendTo=".modal">
            </ng-select>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 mt-2">
            <div class="d-flex justify-content-between align-items-center">
                <label for="lineOfBusiness">Line Of Business
                </label>
            </div>
            <ng-select [items]="(lookupData | async)?.ContactLineOfBusiness?.content!"
                placeholder="Select Line of Business" [loading]="lookupData ? false : true" [hideSelected]="true"
                [clearable]="true" [searchable]="true" bindLabel="name" bindValue="name"
                formControlName="lineOfBusiness" id="lineOfBusiness" appendTo=".modal">
            </ng-select>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 mt-2">
            <div class="d-flex justify-content-between align-items-center">
                <label for="Branch">Branch
                </label>
            </div>
            <ng-select [items]="(lookupData | async)?.Branch?.content!" placeholder="Select Branch"
                [loading]="lookupData ? false : true" [hideSelected]="true" [clearable]="true" [searchable]="true"
                bindLabel="name" bindValue="name" formControlName="branch" id="Branch" appendTo=".modal">
            </ng-select>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 mt-2">
            <div class="d-flex justify-content-between align-items-center">
                <label for="department">Department
                </label>
            </div>
            <ng-select [items]="(lookupData | async)?.ContactDepartment?.content!" placeholder="Select Department"
                [loading]="lookupData ? false : true" [hideSelected]="true" [clearable]="true" [searchable]="true"
                bindLabel="name" bindValue="name" formControlName="department" id="department" appendTo=".modal">
            </ng-select>
        </div>
        <div class="gap-2 mt-4 d-flex justify-content-end">
            <button id="cancelContactFormBtn" type="button" class="btn btn-soft-danger btn-sm">
                Cancel
            </button>
            <button id="addNewContactFormBtn" type="submit" class="btn btn-info btn-sm">
                Add
            </button>
        </div>
    </div>
</form>