<!-- Client details modal -->

<!-- <ng-template #details let-modal> -->
<div class="modal-header py-2">
  <h4 class="modal-title">Client Details</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
</div>
<div class="modal-body p-3">
  <!-- Start Client Details & Client Types Details & National Address & Contact Details -->
  <div class="row mb-3">
    <!-- Start Client Details Card -->
    <div class="col-lg-8  my-2">
      <div class="card table-details h-100">
        <div class="card-header">
          <h6 class="card-title text-muted mb-0">Client Details</h6>
        </div>
        <div class="card-body row">
          <div class="col-lg-6">
            <blockquote class="blockquote mb-0 table-responsive table-card">
              <table class="table table-borderless mb-0 fs-6">
                <tbody>
                  <tr>
                    <th>Client ID </th>
                    <td>{{ uiState.clientDetails.sNo }}</td>
                  </tr>
                  <tr>
                    <th>Status :</th>
                    <td>
                      <span [ngClass]="{
                            'bg-black':
                              uiState.clientDetails.status ==
                              clientStatus.Blocked,
                            'bg-success':
                              uiState.clientDetails.status == clientStatus.Active,
                            'bg-info':
                              uiState.clientDetails.status ==
                              clientStatus.PendingActivation,
                            'bg-warning':
                              uiState.clientDetails.status ==
                              clientStatus.Prospect,
                            'bg-danger':
                              uiState.clientDetails.status ==
                              clientStatus.Rejected,
                            'text-white': true,
                            rounded: true,
                            'p-1': true
                          }">
                        {{ uiState.clientDetails.status }}
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <th>Client Type </th>
                    <td>{{ uiState.clientDetails.type }}</td>
                  </tr>
                  <tr>
                    <th>Branch </th>
                    <td>{{ uiState.clientDetails.branch }}</td>
                  </tr>
                  <tr>
                    <th>Client Name </th>
                    <td>{{ uiState.clientDetails.fullName }}</td>
                  </tr>
                  <tr>
                    <th>Client Name (AR) </th>
                    <td>{{ uiState.clientDetails.fullNameAr }}</td>
                  </tr>
                  <tr>
                    <th>Producer (Salesman) </th>
                    <td>{{ uiState.clientDetails.producer }}</td>
                  </tr>
                  <tr>
                    <th>Business Type </th>
                    <td>{{ uiState.clientDetails.businessType }}</td>
                  </tr>
                  <tr>
                    <th>Channel </th>
                    <td>{{ uiState.clientDetails.channel }}</td>
                  </tr>
                  <tr>
                    <th>Interface </th>
                    <td>{{ uiState.clientDetails.interface }}</td>
                  </tr>
                  <tr>
                    <th>Screening Result </th>
                    <td>{{ uiState.clientDetails.screeningResult }}</td>
                  </tr>
                  <tr>
                    <th>Official Name </th>
                    <td>{{ uiState.clientDetails.officalName }}</td>
                  </tr>
                </tbody>
              </table>
            </blockquote>
          </div>
          <div class="col-lg-6">
            <blockquote class="blockquote mb-0 table-responsive table-card">
              <table class="table table-borderless mb-0 fs-6">
                <tbody *ngIf="uiState.clientDetails.type === clientType.Corporate">
                  <tr>
                    <th>Registration Status </th>
                    <td>
                      {{ uiState.clientDetails.registrationStatus }}
                    </td>
                  </tr>
                  <tr>
                    <th>Business Activity </th>
                    <td>{{ uiState.clientDetails.businessActivity }}</td>
                  </tr>
                  <tr>
                    <th>Market Segment </th>
                    <td>{{ uiState.clientDetails.marketSegment }}</td>
                  </tr>
                  <tr>
                    <th>Date of Incorporation </th>
                    <td>
                      {{
                      uiState.clientDetails.dateOfIncorporation
                      | date : "dd MMM, y"
                      }}
                    </td>
                  </tr>
                  <tr>
                    <th>Date of Incorporation (Hijri) </th>
                    <td>
                      {{ uiState.clientDetails.dateOfIncorporationHijri | date : "dd MMM, y" }}
                    </td>
                  </tr>
                  <tr>
                    <th>Commercial Registration No. </th>
                    <td>{{ uiState.clientDetails.commericalNo }}</td>
                  </tr>
                  <tr>
                    <th>CR Expiry Date </th>
                    <td>
                      {{ uiState.clientDetails.expiryDate | date : "dd MMM, y" }}
                    </td>
                  </tr>
                  <tr>
                    <th>CR Expiry Date (Hijri) </th>
                    <td>
                      {{ uiState.clientDetails.expiryDateHijri | date : "dd MMM, y"}}
                    </td>
                  </tr>
                  <tr>
                    <th>Sponsor ID </th>
                    <td>{{ uiState.clientDetails.sponsorID }}</td>
                  </tr>
                  <tr>
                    <th>Unified No </th>
                    <td>{{ uiState.clientDetails.unifiedNo }}</td>
                  </tr>
                  <tr>
                    <th>VAT No. </th>
                    <td>{{ uiState.clientDetails.vatNo }}</td>
                  </tr>
                  <tr>
                    <th>Capital </th>
                    <td>{{ uiState.clientDetails.capital }}</td>
                  </tr>
                  <tr>
                    <th>Premium </th>
                    <td>{{ uiState.clientDetails.premium }}</td>
                  </tr>
                </tbody>
                <tbody *ngIf="uiState.clientDetails.type === clientType.Retail">
                  <tr>
                    <th>ID No</th>
                    <td>{{ uiState.clientDetails.idNo }}</td>
                  </tr>
                  <tr>
                    <th>Expiry Date </th>
                    <td>
                      {{ uiState.clientDetails.idExpiryDate | date : "dd MMM, y" }}
                    </td>
                  </tr>
                  <tr>
                    <th>Nationality </th>
                    <td>{{ uiState.clientDetails.nationality }}</td>
                  </tr>
                  <tr>
                    <th>Source of Income </th>
                    <td>{{ uiState.clientDetails.sourceofIncome }}</td>
                  </tr>
                </tbody>
              </table>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
    <!-- End Client Details Card -->

    <!-- Start National Address & Contact Details Card-->
    <div class="col-lg-4  my-2">
      <!-- Start National Address Card-->
      <div class="card table-details h-50">
        <div class="card-header">
          <h6 class="card-title text-muted mb-0">National Address</h6>
        </div>
        <div class="card-body pb-0">
          <blockquote class="blockquote py-0 mb-0 table-responsive table-card">
            <table class="table table-borderless mb-0 fs-6">
              <tbody>
                <tr>
                  <th>Building No </th>
                  <td>{{ uiState.clientDetails.buildingNo }}</td>
                </tr>
                <tr>
                  <th>Street </th>
                  <td>
                    {{ uiState.clientDetails.streetName }}
                  </td>
                </tr>
                <tr>
                  <th>Secondary No </th>
                  <td>{{ uiState.clientDetails.secondryNo }}</td>
                </tr>
                <tr>
                  <th>District </th>
                  <td>{{ uiState.clientDetails.districtName }}</td>
                </tr>
                <tr>
                  <th>Postal Code </th>
                  <td>
                    {{ uiState.clientDetails.postalCode }}
                  </td>
                </tr>
                <tr>
                  <th>City </th>
                  <td>
                    {{ uiState.clientDetails.cityName }}
                  </td>
                </tr>
              </tbody>
            </table>
          </blockquote>
        </div>
      </div>
      <!-- End National Address Card-->
      <!--Start Contact Details  -->
      <div class="card table-details h-40 pb-2 m-0">
        <div class="card-header">
          <h6 class="card-title text-muted mb-0">Contact Details</h6>
        </div>
        <div class="card-body pb-0">
          <blockquote class="blockquote mb-0 table-responsive table-card">
            <table class="table table-borderless mb-0 fs-6">
              <tbody>
                <tr>
                  <th>Phone No. </th>
                  <td>{{ uiState.clientDetails.tele }}</td>
                </tr>
                <tr>
                  <th>Phone No. 2 </th>
                  <td>
                    {{ uiState.clientDetails.tele2 }}
                  </td>
                </tr>
                <tr>
                  <th>Fax No. </th>
                  <td>{{ uiState.clientDetails.fax }}</td>
                </tr>
                <tr>
                  <th>Email </th>
                  <td>{{ uiState.clientDetails.email }}</td>
                </tr>
                <tr>
                  <th>Website </th>
                  <td>
                    {{ uiState.clientDetails.website }}
                  </td>
                </tr>
              </tbody>
            </table>
          </blockquote>
        </div>
      </div>
      <!--End Contact Details  -->
    </div>
    <!-- End National Address & Contact Details Card-->
  </div>
  <!-- End Client Details & Client Types Details & National Address & Contact Details -->
  <!-- Start Clint Contacts -->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <h6 class="card-title text-muted mb-0">
            Client Contacts
          </h6>
        </div>
        <div class="card-body table-responsive table-card">
          <table class="table table-nowrap mb-0">
            <thead class="table-light">
              <th class="table-header">Name</th>
              <th class="table-header">Position</th>
              <th class="table-header">Extension</th>
              <th class="table-header">Mobile</th>
              <th class="table-header">Tele</th>
              <th class="table-header">Email</th>
              <th class="table-header">Branch</th>
              <th class="table-header">Line of Business</th>
              <th class="table-header">Department</th>
            </thead>
            <tbody>
              <tr *ngFor="let item of uiState.clientDetails.clientContacts">
                <td>{{ item.contactName }}</td>
                <td>{{ item.position }}</td>
                <td>{{ item.extension }}</td>
                <td>{{ item.mobile }}</td>
                <td>{{ item.tele }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.branch }}</td>
                <td>{{ item.lineOfBusiness }}</td>
                <td>{{ item.department }}</td>
              </tr>
              <tr *ngIf="uiState.clientDetails.clientContacts?.length == 0">
                <td colspan="100">
                  <div class="alert alert-danger text-center" role="alert">
                    No data found
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- End Clint Contacts -->

  <!-- Start Bank Accounts  -->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <h6 class="card-title text-muted mb-0">
            Bank Accounts
          </h6>
        </div>
        <div class="card-body table-responsive table-card">
          <table class="table table-nowrap mb-0">
            <thead class="table-light">
              <th class="table-header">Bank Name</th>
              <th class="table-header">Branch</th>
              <th class="table-header">Name</th>
              <th class="table-header">Name (Arabic)</th>
              <th class="table-header">IBAN</th>
              <th class="table-header">Swift Code</th>
            </thead>
            <tbody>
              <tr *ngFor="let item of uiState.clientDetails.clientsBankAccounts">
                <td>{{ item.bankName }}</td>
                <td>{{ item.branch }}</td>
                <td>{{ item.fullName }}</td>
                <td>{{ item.arabicName }}</td>
                <td>{{ item.iban }}</td>
                <td>{{ item.swiftCode }}</td>
              </tr>

              <tr *ngIf="uiState.clientDetails.clientsBankAccounts?.length == 0">
                <td colspan="100">
                  <div class="alert alert-danger text-center" role="alert">
                    No data found
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- End Bank Accounts -->
  <!-- Start Documents  -->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <h6 class="card-title text-muted mb-0">Documents</h6>
        </div>
        <div class="card-body table-responsive table-card">
          <table class="table table-nowrap mb-0">
            <thead class="table-light">
              <th class="table-header">File Name</th>
              <th class="table-header">Type</th>
              <th class="table-header">Size</th>
            </thead>
            <tbody>
              <tr *ngFor="
                    let item of uiState.clientDetails.documentList;
                    let index = index
                  ">
                <td>
                  <div class="d-flex align-items-center">
                    <div class="avatar-sm me-2">
                      <div class="avatar-title bg-soft-primary {{
                            item.colorName
                          }} rounded fs-20">
                        <i *ngIf="item.type !== 'image'" class="ri-file-{{ item.className }}"></i>
                        <img *ngIf="item.type == 'image'" [src]="item.data" alt="" />
                      </div>
                    </div>
                    <div><button class="btn btn-link" (click)="downloadFile(item?.data!)">{{ item.name }}</button></div>
                  </div>
                </td>
                <td>{{ (item.contentDescription?.split("/"))![0] }}</td>
                <td>{{ item.size }}</td>
              </tr>

              <tr *ngIf="uiState.clientDetails.documentList?.length == 0">
                <td colspan="100">
                  <div class="alert alert-danger text-center" role="alert">
                    No data found
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- End Documents -->
</div>
<div class="modal-footer py-2">

  <ng-container *ngIf="!(permissions$ | async)?.includes(privileges.ChClientsRegistryAdministratorReadOnly)">
    <!-- Change Status Btns -->
    <button class="btn btn-sm btn-warning" *ngIf="uiState.clientDetails.status == clientStatus.Prospect"
      (click)="changeStatus(clientStatus.PendingActivation)">
      Request Activation
    </button>

    <button class="btn btn-sm btn-success" *ngIf="uiState.clientDetails.status == clientStatus.PendingActivation"
      (click)="changeStatus(clientStatus.Active)">
      Approve
    </button>
    <button class="btn btn-sm btn-danger" *ngIf="uiState.clientDetails.status == clientStatus.PendingActivation"
      (click)="changeStatus(clientStatus.Rejected)">
      Reject
    </button>
    <button class="btn btn-sm btn-secondary" *ngIf="uiState.clientDetails.status == clientStatus.Active"
      (click)="changeStatus(clientStatus.Blocked)">
      Block
    </button>
    <button class="btn btn-sm btn-success" *ngIf="uiState.clientDetails.status == clientStatus.Rejected"
      (click)="changeStatus(clientStatus.Active)">
      Approve
    </button>
    <button class="btn btn-sm btn-secondary" *ngIf="uiState.clientDetails.status == clientStatus.Blocked"
      (click)="changeStatus(clientStatus.Active)">
      Unblock
    </button>

    <!-- Add To Group Btn -->
    <button *ngIf="
      uiState.clientDetails.status == clientStatus.Active &&
      uiState.clientDetails.type == clientType.Retail
    " type="submit" class="btn btn-success btn-sm" (click)="openAddClientToGroupModal(addClientToGroup)">
      Add To Group
    </button>
  </ng-container>

  <!-- Close Btn -->
  <button type="button" class="btn btn-sm btn-outline-danger" (click)="modal.close('Close click')">
    Close
  </button>
</div>
<!-- </ng-template> -->

<ng-template #addClientToGroup let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Client To Group</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <form [formGroup]="addClientToGroupForm" (ngSubmit)="submitAddClientToGroupForm()">
    <div class="modal-body">
      <div class="mb-3">
        <label for="groupName" class="form-label font-weight-bold">Group</label>
        <ng-select id="groupName" [items]="(lookupData | async)?.GroupsList?.content!" placeholder="Select Group Name"
          bindValue="name" bindLabel="name" [searchable]="true" formControlName="groupName" [ngClass]="{
            'is-invalid': form['groupName'].touched && form['groupName'].errors
          }" [loading]="lookupData ? false : true">
        </ng-select>

        <div class="invalid-feedback" *ngIf="form['groupName'].touched && form['groupName'].invalid">
          Required
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-sm btn-success" [disabled]="addClientToGroupForm.invalid">
        Add
      </button>
      <button type="button" class="btn btn-sm btn-outline-danger" (click)="modal.dismiss('Cross click')">
        Cancel
      </button>
    </div>
  </form>
</ng-template>