[col-id="action"] {
  overflow: visible !important;
}

.ag-row.ag-row-focus {
  z-index: 1 !important;
}

.ag-cell:focus {
  border: none !important;
  outline: none;
}

#gridScrollbar .ag-body-viewport,
#gridScrollbar .ag-body-horizontal-scroll-viewport {
  position: relative;
  overflow: hidden !important;
}

.ps__rail-x,
.ps__rail-y {
  opacity: 0.6;
}

table.table tr td:not(:last-child) {
  min-width: 180px;
}
