<ng-template #emailContent let-modal>
  <div class="modal-header p-3 bg-light">
    <h4 class="modal-title">New Message</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <!-- btn for email-List  -->
    <div class="row justify-content-end g-1">
      <div class="col-auto">
        <button class="btn btn-sm btn-info">
          + Add Prospects / Clients Contacts
        </button>
      </div>
      <div class="col-auto">
        <button class="btn btn-sm btn-success">
          + Add Insurance Companies Contacts
        </button>
      </div>
    </div>
    <!-- / -->
    <!--email inputs-->
    <div class="row">
      <div class="col-12 mb-2 position-relative">
        <label for="to" class="form-label"> To: </label>
        <input
          type="text"
          id="to"
          class="form-control"
          placeholder="Type To Emails"
        />
        <div class="position-absolute top-0 end-0">
          <button class="btn btn-link text-dark px-0 fw-bold">Cc</button>
          <button class="btn btn-link text-dark fw-bold">Bcc</button>
        </div>
      </div>
      <div class="col-12 mb-2">
        <label for="cc" class="form-label"> Cc: </label>
        <input
          type="text"
          id="cc"
          class="form-control"
          placeholder="Type Cc Emails"
        />
      </div>
      <div class="col-12 mb-3">
        <label for="bcc" class="form-label"> Bcc: </label>
        <input
          type="text"
          id="bcc"
          class="form-control"
          placeholder="Type BCc Emails"
        />
      </div>
      <div class="col-12 mb-3">
        <div class="input-group input-group-sm">
          <input
            id="sub"
            type="text"
            class="form-control form-control-sm"
            placeholder="Subject"
          />
          <ng-select
            [items]="subject"
            bindLabel="name"
            bindValue="name"
            [clearable]="true"
          >
          </ng-select>
        </div>
      </div>
      <div class="col-12 mb-2">
        <ckeditor
          [editor]="editorData"
          (change)="getEditorData($event)"
        ></ckeditor>
      </div>
    </div>
    <!-- / -->
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-light"
      (click)="modal.close('Close click')"
    >
      Close
    </button>
  </div>
</ng-template>
