<ng-template #emailContent let-modal>
  <div class="modal-header p-3 bg-light">
    <h4 class="modal-title">New Message</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>


  <div class="modal-body newEmailModalBody" #collapse="ngbCollapse" [(ngbCollapse)]="!uiState.modalBody.email">

    <!-- Main Email Body -->
    <div>

      <!-- btn for email-List  -->
      <div class="row justify-content-end g-1" *ngIf="buttons">
        <div class="col-auto">
          <button class="btn btn-sm btn-info"
            (click)="uiState.modalBody.clientContact = true;uiState.modalBody.email = false">
            + Add Prospects / Clients Contacts
          </button>
        </div>
        <div class="col-auto">
          <button class="btn btn-sm btn-success"
            (click)="uiState.modalBody.insuranceCompanyContact = true;uiState.modalBody.email = false">
            + Add Insurance Companies Contacts
          </button>
        </div>
      </div>
      <!-- / -->
      <!--email inputs-->
      <form [formGroup]="mailFormGroup">
        <div class="row">
          <div class="col-12 mb-2 position-relative">
            <div class="d-flex justify-content-between align-items-center">
              <label for="to" class="form-label"> To: </label>
              <div>
                <button class="btn btn-link text-dark py-0 px-1 fw-bold" type="button" (click)="toggleCc()">
                  Cc
                </button>
                <button class="btn btn-link text-dark py-0 px-1 fw-bold" type="button" (click)="toggleBcc()">
                  Bcc
                </button>
              </div>
            </div>
            <ng-select [addTag]="true" [items]="uiState.toList" [multiple]="true" [selectOnTab]="true" [isOpen]="false"
              placeholder="To" formControlName="MailToList" [ngClass]="{
                    'is-submitted': (f.MailToList?.touched || uiState.submitted) && f.MailToList?.invalid
                  }">
            </ng-select>
            <span class="invalid-feedback d-inline-block fw-bold" *ngIf="
                    (f.MailToList?.touched ||  uiState.submitted) && f.MailToList?.invalid
                  ">
              Required
            </span>
          </div>
          <div class="col-12 mb-2 tra" *ngIf="uiState.isCc">
            <label for="cc" class="form-label"> Cc: </label>
            <ng-select [items]="uiState.ccList" [addTag]="true" [multiple]="true" [selectOnTab]="true" [isOpen]="false"
              placeholder="CC" formControlName="EmailCC">
            </ng-select>
          </div>
          <div class="col-12 mb-3" *ngIf="uiState.isBcc">
            <label for="bcc" class="form-label"> Bcc: </label>
            <ng-select [items]="uiState.bccList" [addTag]="true" [multiple]="true" bindLabel="name" [selectOnTab]="true"
              placeholder="BCC" [isOpen]="false" formControlName="EmailBCC">
            </ng-select>
          </div>
          <div class="col-12 mb-3">
            <div class="input-group input-group-sm">
              <input id="sub" type="text" class="form-control form-control-sm" placeholder="Subject"
                formControlName="Subject" [ngClass]="{
                    'is-invalid': (f.Subject?.touched || uiState.submitted) && f.Subject?.invalid
                  }" />
              <span class="invalid-feedback d-inline-block fw-bold"
                *ngIf="(f.Subject?.touched ||  uiState.submitted) && f.Subject?.invalid">
                Required
              </span>
              <ng-select [items]="uiState.priorityList" bindLabel="name" bindValue="name" placeholder="Priority"
                [clearable]="false" formControlName="Priority" class="col-2">
              </ng-select>
            </div>
          </div>
          <div class="col-12 mb-2">
            <ckeditor [editor]="editorData" (change)="getEditorData($event)" formControlName="Body">
            </ckeditor>
            <span class="invalid-feedback d-inline-block fw-bold"
              *ngIf="(f.Body?.touched ||  uiState.submitted) && f.Body?.invalid">
              Required
            </span>
          </div>

          <app-dropzone class="p-0" (files)="documentsList($event)" [UploadedFiles]="docs"></app-dropzone>
        </div>
      </form>
      <!-- / -->
    </div>
    <!-- / -->
  </div>

  <div class="modal-body" #collapse="ngbCollapse" [(ngbCollapse)]="!uiState.modalBody.clientContact">
    <!-- Add Clients Contacts Body -->
    <div>
      <!-- 
        If We wanted To persist the state we should use the follwing condition
        [class]=" uiState.modalBody.clientContact ? '': 'd-none'"
        -------------------------------------------------------------------------
        *ngIf="uiState.modalBody.clientContact"
      -->
      <app-client-contacts *ngIf="uiState.modalBody.clientContact"
        [emailModalInstance]="emailModalInstance"></app-client-contacts>
    </div>
    <!-- / -->
  </div>
  <div class="modal-body" #collapse="ngbCollapse" [(ngbCollapse)]="!uiState.modalBody.insuranceCompanyContact">
    <!-- Add Clients Contacts Body -->
    <div>
      <!-- 
        If We wanted To persist the state we should use the follwing condition
        [class]=" uiState.modalBody.clientContact ? '': 'd-none'"
        --------------------------------------------------------------------------
        *ngIf="uiState.modalBody.insuranceCompanyContact"
      -->
      <app-company-contacts *ngIf="uiState.modalBody.insuranceCompanyContact"
        [emailModalInstance]="emailModalInstance"></app-company-contacts>
    </div>
    <!-- / -->
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-danger" (click)="modal.close('Close click')">
      Discard
    </button>
    <button type="submit" class="btn btn-sm btn-success" *ngIf="uiState.modalBody.email"
      (click)="sendEmail()">Send</button>
  </div>
</ng-template>