<form class="mb-4" [formGroup]="ComplaintsSettingsForm"
    (ngSubmit)="submitComplaintsSettingsData(ComplaintsSettingsForm)" autocomplete="off">
    <div class="container-fluid mb-3">
        <div class="card ribbon-box border shadow-none mb-lg-0 h-100">
            <div class="card-body">
                <div class="ribbon ribbon-info round-shape">
                    Complaints Settings
                </div>
                <div class="row my-4">
                    <div class="col-lg-6 col-md-6 col-sm-12 my-1">
                        <label for="compalintDeadLine" class="asterisk-input">Complaint DeadLine</label>
                        <input id="compalintDeadLine" type="number" class="form-control form-control-sm"
                            [ngClass]="{'is-invalid': (f.compalintDeadLine?.touched || uiState.submitted) && f.compalintDeadLine?.invalid}"
                            formControlName="compalintDeadLine" />
                        <span
                            *ngIf="(f.compalintDeadLine?.touched || uiState.submitted) && f.compalintDeadLine?.invalid"
                            class="invalid-feedback fw-bold mt-0 d-inline-block">Required</span>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 my-1">
                        <label for="reminderDays" class="asterisk-input">Complaint DeadLine</label>
                        <input id="reminderDays" type="number" class="form-control form-control-sm"
                            [ngClass]="{'is-invalid': (f.reminderDays?.touched || uiState.submitted) && f.reminderDays?.invalid}"
                            formControlName="reminderDays" />
                        <span *ngIf="(f.reminderDays?.touched || uiState.submitted) && f.reminderDays?.invalid"
                            class="invalid-feedback fw-bold mt-0 d-inline-block">Required</span>
                    </div>

                </div>
            </div>
            <div class="card">
                <div class="container-fluid">
                    <div class="card-body px-1 py-3">
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-sm btn-success me-2">
                                <i class="ri-add-line"></i>
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>