[col-id="action"] {
  overflow: visible !important;
}

.ag-row.ag-row-focus {
  z-index: 1 !important;
}

.ag-cell:focus {
  border: none !important;
  outline: none;
}

#gridScrollbar .ag-body-viewport,
#gridScrollbar .ag-body-horizontal-scroll-viewport {
  position: relative;
  overflow: hidden !important;
}

.ps__rail-x,
.ps__rail-y {
  opacity: 0.6;
}

.ng-select .ng-select-container {
  min-height: 28px !important;
  height: fit-content !important;
  max-height: fit-content !important;
}
.offcanvas-body {
  .form-control {
    max-height: 30px;
  }
  .form-control.text-area {
    max-height: unset;
  }
}

.status-cards {
  min-height: 180px;
  position: relative;
}

.status-cards {
  .status-card-body {
    min-height: 180px;
    position: relative;
  }
  .noTask::before {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    height: 180px;
    width: 270px;
    margin: 0 auto;
    background-image: url("/assets/images/file.png");
    background-size: cover;
    background-position: center;
  }
}

.followUpCanvas {
  overflow-y: unset !important;
  padding-bottom: unset !important;
}
