// :root CSS dark variables

[data-layout-mode="dark"] {
  // Color system - Dark Mode only
  $gray-100: #1a1d21;
  $gray-200: #212529;
  $gray-300: #2a2f34;
  $gray-400: #878a99;
  $gray-500: #adb5bd;
  $gray-600: #bfc8e2;
  $gray-700: #ced4da;
  $gray-800: #eff2f7;
  $gray-900: #f3f6f9;

  $grays: (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900,
  );

  // Prefix for :root CSS variables
  @each $color, $value in $grays {
    --#{$prefix}gray-#{$color}: #{$value};
  }

  // body
  --#{$prefix}body-bg: #{$gray-100};
  --#{$prefix}body-color: #{$gray-700};
  --#{$prefix}body-color-rgb: #{to-rgb($gray-700)};

  //vertical light
  --#{$prefix}vertical-menu-bg: #{$white};
  --#{$prefix}vertical-menu-item-color: #{darken($gray-400, 16%)};
  --#{$prefix}vertical-menu-item-hover-color: #{$primary};
  --#{$prefix}vertical-menu-item-active-color: #{$primary};
  --#{$prefix}vertical-menu-sub-item-color: #{darken($gray-400, 12%)};
  --#{$prefix}vertical-menu-sub-item-hover-color: #{$primary};
  --#{$prefix}vertical-menu-sub-item-active-color: #{$primary};
  --#{$prefix}vertical-menu-title-color: #{$gray-400};

  //vertical dark
  --#{$prefix}vertical-menu-bg-dark: #{darken($gray-300, 2.5%)};
  --#{$prefix}vertical-menu-item-color-dark: #89929b;
  --#{$prefix}vertical-menu-item-hover-color-dark: #{$white};
  --#{$prefix}vertical-menu-item-active-color-dark: #{$white};
  --#{$prefix}vertical-menu-sub-item-color-dark: #89929b;
  --#{$prefix}vertical-menu-sub-item-hover-color-dark: #{$white};
  --#{$prefix}vertical-menu-sub-item-active-color-dark: #{$white};
  --#{$prefix}vertical-menu-title-color-dark: #89929b;

  // Topbar - (Default Light)
  --#{$prefix}header-bg: #292e32;
  --#{$prefix}header-item-color: #e9ecef;
  // Topbar - Dark
  --#{$prefix}header-bg-dark: #282e32;
  --#{$prefix}header-item-color-dark: #89929b;

  // Topbar Search
  --#{$prefix}topbar-search-bg: #{darken($gray-200, 3%)};
  // Topbar User
  --#{$prefix}topbar-user-bg: #{lighten($gray-300, 3%)};
  --#{$prefix}topbar-user-bg-dark: #{lighten($gray-300, 3%)};

  //footer
  --#{$prefix}footer-bg: #{$gray-200};
  --#{$prefix}footer-color: #{$gray-400};

  // Horizontal nav
  --#{$prefix}topnav-bg: #{lighten($gray-200, 2.5%)};
  --#{$prefix}topnav-item-color: #{$gray-400};
  --#{$prefix}topnav-item-color-active: #{$white};

  // twocolumn menu
  --#{$prefix}twocolumn-menu-iconview-bg: #{$white};
  --#{$prefix}twocolumn-menu-bg: #{$white};

  // two column dark
  --#{$prefix}twocolumn-menu-iconview-bg-dark: var(
    --#{$prefix}vertical-menu-bg-dark
  );
  --#{$prefix}twocolumn-menu-bg-dark: #{darken($gray-300, 1.5%)};
  --#{$prefix}twocolumn-menu-item-color-dark: var(
    --#{$prefix}vertical-menu-item-color-dark
  );
  --#{$prefix}twocolumn-menu-item-active-color-dark: #{$white};
  --#{$prefix}twocolumn-menu-item-active-bg-dark: #{rgba($white, 0.15)};

  // boxed
  --#{$prefix}boxed-body-bg: #{darken($gray-100, 4%)};

  // heading-color
  --#{$prefix}heading-color: #{$gray-700};

  // component variable
  --#{$prefix}light: #{$gray-300};
  --#{$variable-prefix}light-rgb: #{to-rgb($gray-300)};
  --#{$prefix}dark: #{$gray-800};
  --#{$prefix}dark-rgb: #{to-rgb($gray-800)};

  // link
  --#{$prefix}link-color: #{$gray-700};
  --#{$prefix}link-hover-color: #{$gray-700};

  // Border variable
  --#{$prefix}border-color: #{lighten($gray-300, 3.5%)};

  // dropdown
  --#{$variable-prefix}dropdown-bg: #{lighten($gray-200, 3.5%)};
  --#{$variable-prefix}dropdown-link-color: #{$gray-500};
  --#{$variable-prefix}dropdown-link-hover-color: #{shade-color($gray-700, 10%)};
  --#{$variable-prefix}dropdown-link-hover-bg: #{lighten($gray-300, 2%)};
  --#{$prefix}dropdown-border-width: 1px;

  // card
  --#{$variable-prefix}card-bg: #{$gray-200};
  --#{$variable-prefix}card-cap-bg: #{$gray-200};
  --#{$prefix}card-logo-dark: none;
  --#{$prefix}card-logo-light: block;

  // modal
  --#{$variable-prefix}modal-bg: #{$gray-200};

  // nav tabs
  --#{$prefix}nav-tabs-link-active-color: #{$gray-900};
  --#{$prefix}nav-tabs-link-active-bg: #{$gray-300};

  // accordion
  --#{$prefix}accordion-button-active-color: #{$white};

  // progress
  --#{$prefix}progress-bg: #{$gray-300};

  // toast
  --#{$prefix}toast-background-color: #{rgba($gray-300, 0.85)};
  --#{$prefix}toast-border-color: #{rgba($white, 0.1)};
  --#{$prefix}toast-header-border-color: #{rgba($white, 0.05)};

  //list
  --#{$prefix}list-group-hover-bg: #{lighten($gray-200, 2.5%)};

  // popover
  --#{$variable-prefix}popover-bg: #{lighten($gray-200, 1%)};

  // pagination
  --#{$prefix}pagination-hover-bg: #{lighten($gray-200, 4%)};

  //form
  --#{$prefix}input-bg: #{lighten($gray-200, 2%)};
  --#{$prefix}input-border: #{$gray-300};
  --#{$prefix}input-focus-border: #{lighten($gray-300, 4%)};
  --#{$prefix}input-disabled-bg: #{$gray-200};

  // input-group-addon
  --#{$prefix}input-group-addon-bg: #{$gray-300};

  //check
  --#{$prefix}input-check-border: #{lighten($gray-300, 4%)};
}

//sidebar color
[data-sidebar="gradient"] {
  --#{$prefix}vertical-menu-bg-gradient: linear-gradient(
    to right,
    var(--#{$prefix}primary),
    var(--#{$prefix}success)
  );
  --#{$prefix}vertical-menu-border-gradient: var(--#{$prefix}success);
  --#{$prefix}twocolumn-menu-bg-dark: var(--#{$prefix}success);
}

[data-sidebar="gradient-2"] {
  --#{$prefix}vertical-menu-bg-gradient: linear-gradient(
    to right,
    var(--#{$prefix}info),
    var(--#{$prefix}secondary)
  );
  --#{$prefix}vertical-menu-border-gradient: var(--#{$prefix}secondary);
  --#{$prefix}twocolumn-menu-bg-dark: var(--#{$prefix}secondary);
}

[data-sidebar="gradient-3"] {
  --#{$prefix}vertical-menu-bg-gradient: linear-gradient(
    to right,
    var(--#{$prefix}info),
    var(--#{$prefix}success)
  );
  --#{$prefix}vertical-menu-border-gradient: var(--#{$prefix}success);
  --#{$prefix}twocolumn-menu-bg-dark: var(--#{$prefix}success);
}

[data-sidebar="gradient-4"] {
  --#{$prefix}vertical-menu-bg-gradient: linear-gradient(
    to right,
    var(--#{$prefix}dark),
    var(--#{$prefix}primary)
  );
  --#{$prefix}vertical-menu-border-gradient: var(--#{$prefix}primary);
  --#{$prefix}twocolumn-menu-bg-dark: var(--#{$prefix}primary);
}
