<div class="container-fluid offcanvas-body">
    <div class="form-group row align-items-center mb-2">
        <label class="col-sm-1 col-form-label" for="pagingSizeSelect">Claim Type</label>
        <div class="col-sm-3">
            <ng-select [hideSelected]="true" (change)="getSummaryData($event)" [closeOnSelect]="false" [multiple]="true"
                [items]="uiState.claimTypeList" [searchable]="false" id="pagingSizeSelect"
                [(ngModel)]="uiState.claimTypes">
            </ng-select>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-12">
            <div class="ag-theme-alpine ag-theme-aaa" appTableView>
                <ag-grid-angular class="gridScrollbar" style="width: 100%; height: 27vh;"
                    [gridOptions]="clientGridOpts">
                </ag-grid-angular>
            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="ag-theme-alpine ag-theme-aaa" appTableView>
                <ag-grid-angular class="gridScrollbar" style="width: 100%; height: 27vh;" [gridOptions]="ICGridOpts">
                </ag-grid-angular>
            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <ag-charts-angular [options]="chartOptions">
            </ag-charts-angular>
        </div>
    </div>
</div>