<div class="row justify-content-between align-items-center mb-3">
    <div class="col-12 d-flex justify-content-end">

        <a type="button" class="btn btn-sm btn-info mx-2  d-flex align-items-center"
            (click)="openContactsListPositionDialoge()">
            <i class="ri-add-line align-bottom me-1"></i> Add Position
        </a>

    </div>
</div>

<div class="ag-theme-alpine" appTableView>
    <ag-grid-angular class="gridScrollbar" style="width: 100%; height: 75vh" [gridOptions]="gridOpts">
    </ag-grid-angular>
</div>

<ng-template #ContactsListPositionContent let-modal>
    <div class="modal-header mb-0">
        <h4 class="modal-title" id="modal-basic-title" *ngIf="!uiState.editContactsListPositionMode">Add Position</h4>
        <h4 class="modal-title" id="modal-basic-title" *ngIf="uiState.editContactsListPositionMode">Edit Position</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>

    <form [formGroup]="ContactsListPositionForm" (ngSubmit)="submitContactsListPositionData(ContactsListPositionForm)">
        <div class="modal-body p-1" style="overflow-y: unset !important;">
            <div class="row p-3">
                <div class="col-12 row">

                    <div class="col-12 mb-2">
                        <label for="position" class="asterisk-input">Position</label>
                        <input id="position" class="form-control form-control-sm"
                            [ngClass]="{'is-invalid': (f.position?.touched || uiState.submitted) && f.position?.invalid}"
                            formControlName="position" />
                        <span *ngIf="(f.position?.touched || uiState.submitted) && f.position?.invalid"
                            class="invalid-feedback fw-bold mt-0 d-inline-block">Required</span>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-sm btn-success mx-2 d-flex align-items-center"
                *ngIf="!uiState.editContactsListPositionMode"><i class="ri-add-line"></i>Add</button>
            <button type="submit" class="btn btn-sm btn-success mx-2 d-flex align-items-center"
                *ngIf="uiState.editContactsListPositionMode"><i class="ri-edit-line mx-1"></i>Edit</button>
            <button type="button" class="btn btn-soft-danger btn-sm d-flex align-items-center" (click)="modal.close()">
                <i class="ri-close-fill"></i> Close</button>
        </div>
    </form>
</ng-template>