<div class="auth-page-wrapper pt-5">
    <div class="bg-overlay"></div>

    <!-- auth page content -->
    <div class="auth-page-content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-9 col-lg-7 col-xl-6">
                    <div class="card mt-4">

                        <div class="card-body p-4">
                            <div class="text-center mt-2">
                                <div class="text-center mt-sm-5 mb-5 text-white-50">
                                    <div>
                                        <a href="index.html" class="d-inline-block auth-logo">
                                            <img src="assets/images/global/global-logo.png" alt="" height="50"
                                                width="350">
                                        </a>
                                    </div>
                                </div>
                                <h5>Welcome to Shop & Ship</h5>
                                <p class="text-muted">Log in to your account and start your adventure.</p>

                            </div>
                            <div class="p-2 mt-4">
                                <form [formGroup]="loginForm" autocomplete>
                                    <div class="mb-3">
                                        <label class="form-label font-weight-bold" for="email">User </label>
                                        <input type="email" class="form-control" id="email" formControlName="email"
                                            [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
                                            placeholder="Enter email">
                                        <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                                            <div *ngIf="f['email'].errors['required']">email is required</div>
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label font-weight-bold" for="password-input">Password</label>
                                        <div class="position-relative auth-pass-inputgroup mb-3">
                                            <input [type]="fieldTextType ? 'text' : 'password'"
                                                class="form-control pe-5" placeholder="Enter password"
                                                id="password-input" formControlName="password"
                                                [ngClass]="{ 'is-invalid': submitted && f['password'].errors }">
                                            <button
                                                class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted"
                                                type="button" id="password-addon"><i class="mdi align-middle" [ngClass]="{'mdi-eye-off-outline': !fieldTextType, 'mdi-eye-outline': fieldTextType
                                          }" (click)="toggleFieldTextType()"></i></button>
                                            <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                                                <span *ngIf="f['password'].errors['required']">Password is
                                                    required</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-between">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="auth-remember-check">
                                            <label class="form-check-label" for="auth-remember-check">Remember
                                                me</label>
                                        </div>
                                        <div>
                                            <a href="#">forget password ?</a>
                                        </div>
                                    </div>


                                    <div class="mt-4">
                                        <button class="btn save w-100" type="submit" (click)="onSubmit()">Sign
                                            In</button>
                                    </div>
                                    <div class="d-flex justify-content-center my-4">
                                        <div>
                                            <p>Do you have account ?</p>
                                        </div>
                                        <a href="#">Register</a>
                                    </div>
                                    <hr>
                                    <h6 class="text-center">Track your shipment</h6>
                                    <div class="text-center">
                                        <button class="btn btn-sm btn-soft-dark w-50">Tracking</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- end card body -->
                    </div>
                    <!-- end card -->

                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end auth page content -->

    <!-- footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center">
                        <p class="mb-0 text-white">&copy; Global Transport Crafted with <i
                                class="mdi mdi-heart text-danger"></i> by <a class="text-bg-dark px-2" target="_blank"
                                href="#">Global
                                Transport</a> Team
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end Footer -->
</div>
<!-- end auth-page-wrapper -->