<div class="row justify-content-between align-items-center mb-3">
    <div class="col-12 d-flex justify-content-end">

        <a type="button" class="btn btn-sm btn-info mx-2  d-flex align-items-center" (click)="openHospitalsDialoge()">
            <i class="ri-add-line align-bottom me-1"></i> Add Hospital
        </a>

    </div>
</div>

<div class="ag-theme-alpine" appTableView>
    <ag-grid-angular class="gridScrollbar" style="width: 100%; height: 75vh" [gridOptions]="gridOpts">
    </ag-grid-angular>
</div>

<ng-template #HospitalsContent let-modal>
    <div class="modal-header mb-0">
        <h4 class="modal-title" id="modal-basic-title" *ngIf="!uiState.editHospitalsMode">Add Hospital</h4>
        <h4 class="modal-title" id="modal-basic-title" *ngIf="uiState.editHospitalsMode">Edit Hospital</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>

    <form [formGroup]="HospitalsForm" (ngSubmit)="submitHospitalsData()">
        <div class="modal-body p-1" style="overflow-y: unset !important;">
            <div class="row p-3">
                <div class="my-3 h-100">
                    <div class="card ribbon-box border  shadow-none mb-lg-0 h-100">
                        <div class="card-body">
                            <span class="ribbon ribbon-info round-shape"><span>Hospital
                                    Details</span></span>
                            <div class="row mt-4">

                                <div class="col-lg-3 col-md-6 col-sm-12 mt-2">
                                    <label for="name" class="asterisk-input">Name</label>
                                    <input id="name" class="form-control form-control-sm"
                                        [ngClass]="{'is-invalid': (f.name?.touched || uiState.submitted) && f.name?.invalid}"
                                        formControlName="name" />
                                    <span *ngIf="(f.name?.touched || uiState.submitted) && f.name?.invalid"
                                        class="invalid-feedback fw-bold mt-0 d-inline-block">Required</span>
                                </div>

                                <div class="col-lg-3 col-md-6 col-sm-12 mt-2">
                                    <label for="city">City</label>
                                    <input id="city" class="form-control form-control-sm" formControlName="city" />
                                </div>

                                <div class="col-lg-3 col-md-6 col-sm-12 mt-2">
                                    <label for="tele" class="asterisk-input">Tele</label>
                                    <input id="abbreviation" class="form-control form-control-sm"
                                        [ngClass]="{'is-invalid': (f.tele?.touched || uiState.submitted) && f.tele?.invalid}"
                                        formControlName="tele" />
                                    <span *ngIf="(f.tele?.touched || uiState.submitted) && f.tele?.invalid"
                                        class="invalid-feedback fw-bold mt-0 d-inline-block">Required</span>
                                </div>

                                <div class="col-lg-3 col-md-6 col-sm-12 mt-2">
                                    <label for="fax">Fax No.</label>
                                    <input id="fax" class="form-control form-control-sm" formControlName="fax" />
                                </div>

                                <div class="col-lg-3 col-md-6 col-sm-12 mt-2">
                                    <label for="email">Email</label>
                                    <input id="email" class="form-control form-control-sm" formControlName="email" />
                                </div>

                                <div class="col-lg-3 col-md-6 col-sm-12 mt-2">
                                    <label for="address">Address</label>
                                    <input id="address" class="form-control form-control-sm"
                                        formControlName="address" />
                                </div>

                                <div class="col-lg-3 col-md-6 col-sm-12 mt-2">
                                    <label for="specialties">Specialties</label>
                                    <input id="specialties" class="form-control form-control-sm"
                                        formControlName="specialties" />
                                </div>

                                <div class="col-lg-3 col-md-6 col-sm-12 mt-2">
                                    <label for="specialties">Region</label>
                                    <ng-select formControlName="region" placeholder="Region"
                                        [items]="(lookupData | async)?.Regions?.content!" bindLabel="name"
                                        bindValue="name" appendTo="table" [loading]="lookupData ? false : true">
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="my-3 h-100">
                    <div class="card ribbon-box border shadow-none mb-lg-0 h-100">
                        <div class="card-body">
                            <div class="ribbon ribbon-info round-shape">Company Contacts
                            </div>
                            <div class="ribbon-content my-4">
                                <div class="row justify-content-center my-4">
                                    <div class="d-flex flex-column">
                                        <button type="button" (click)="addContact()"
                                            class="ms-auto btn btn-sm btn-soft-primary mb-3 bg-gradient waves-effect waves-light">
                                            <i class="ri-contacts-book-2-line"></i> Add Contact
                                        </button>

                                        <div class="table-responsive">
                                            <table class="table table-nowrap mb-0">
                                                <thead class="table-light">
                                                    <tr>
                                                        <th scope="col">Contact Name</th>
                                                        <th scope="col">Contact Position</th>
                                                        <th scope="col">Contact Email</th>
                                                        <th scope="col">Contact Tele</th>
                                                        <th scope="col"></th>
                                                    </tr>
                                                </thead>
                                                <tbody formArrayName="contactList">
                                                    <tr *ngFor="let c of contactListArray.controls; index as i">
                                                        <ng-container [formGroupName]="i">

                                                            <td scope="col">
                                                                <input type="text" class="form-control form-control-sm"
                                                                    formControlName="Name" placeholder="contact Name" />
                                                            </td>

                                                            <td scope="col">
                                                                <input type="text" class="form-control form-control-sm"
                                                                    formControlName="Position"
                                                                    placeholder="contact Position" />
                                                            </td>

                                                            <td scope="col">
                                                                <input type="text" class="form-control form-control-sm"
                                                                    formControlName="Email"
                                                                    placeholder="contact Email" />
                                                            </td>

                                                            <td scope="col">
                                                                <input type="text" class="form-control form-control-sm"
                                                                    formControlName="Phone"
                                                                    placeholder="contact Tele" />
                                                            </td>

                                                            <td>
                                                                <button
                                                                    *ngIf="uiState.editHospitalsMode && contactListArray.controls[i].disabled"
                                                                    type="button" class="btn btn-sm btn-soft-info me-2"
                                                                    (click)="enableEditingRow(i, 'contact')">
                                                                    <i class="ri-edit-2-line"></i>
                                                                </button>
                                                                <button type="button" class="btn btn-sm btn-soft-danger"
                                                                    (click)="remove(i, 'contact')">
                                                                    <i class="ri-delete-bin-2-line"></i>
                                                                </button>
                                                            </td>

                                                        </ng-container>
                                                    </tr>
                                                    <tr *ngIf="contactListArray.controls.length === 0"
                                                        class="my-1 text-center text-dark fw-bold no-item-contact">
                                                        <td colspan="100">No items show</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="my-3 h-100">
                    <div class="card ribbon-box border shadow-none mb-lg-0 h-100">
                        <div class="card-body">
                            <div class="ribbon ribbon-info round-shape">Hospital Networks
                            </div>
                            <div class="d-flex flex-column">
                                <button type="button" (click)="addNetwork()"
                                    class="ms-auto btn btn-sm btn-soft-primary mb-3 bg-gradient waves-effect waves-light">
                                    <i class="ri-contacts-book-2-line"></i> Add Product
                                </button>
                                <div class="table-responsive">
                                    <table class="table table-nowrap">
                                        <thead class="table-light">
                                            <tr>
                                                <th scope="col">Insurance Company</th>
                                                <th scope="col">VVIP</th>
                                                <th scope="col">VIP</th>
                                                <th scope="col">A+</th>
                                                <th scope="col">A</th>
                                                <th scope="col">A-</th>
                                                <th scope="col">B+</th>
                                                <th scope="col">B</th>
                                                <th scope="col">B-</th>
                                                <th scope="col">C+</th>
                                                <th scope="col">C</th>
                                                <th scope="col">C-</th>
                                                <th scope="col">CA</th>
                                                <th scope="col">CAE</th>
                                                <th scope="col">D</th>
                                                <th scope="col">E</th>
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody formArrayName="networkList">
                                            <tr *ngFor="let c of networkListArray.controls; index as i">
                                                <ng-container [formGroupName]="i">

                                                    <td>
                                                        <ng-select formControlName="InsurCompany"
                                                            placeholder="Insurance Company"
                                                            [items]="(lookupData | async)?.InsuranceCompanies?.content!"
                                                            bindLabel="name" bindValue="name" appendTo="table"
                                                            [loading]="lookupData ? false : true">
                                                        </ng-select>
                                                    </td>

                                                    <td>
                                                        <input type="checkbox" formControlName="ClassVvip">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" formControlName="ClassVip">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" formControlName="ClassAp">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" formControlName="ClassA">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" formControlName="ClassAm">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" formControlName="ClassBp">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" formControlName="ClassB">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" formControlName="ClassBm">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" formControlName="ClassCp">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" formControlName="ClassC">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" formControlName="ClassCm">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" formControlName="ClassCa">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" formControlName="ClassCae">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" formControlName="ClassCD">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" formControlName="ClassE">
                                                    </td>

                                                    <td>
                                                        <button
                                                            *ngIf="uiState.editHospitalsMode && networkListArray.controls[i].disabled"
                                                            type="button" class="btn btn-sm btn-soft-info me-2"
                                                            (click)="enableEditingRow(i, 'network')">
                                                            <i class="ri-edit-2-line"></i>
                                                        </button>
                                                        <button type="button" class="btn btn-sm btn-soft-danger"
                                                            (click)="remove(i, 'network')">
                                                            <i class="ri-delete-bin-2-line"></i>
                                                        </button>
                                                    </td>

                                                </ng-container>
                                            </tr>
                                            <tr *ngIf="networkListArray.controls.length === 0"
                                                class="my-1 text-center text-dark fw-bold no-item-contact">
                                                <td colspan="100">No items show</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-sm btn-success mx-2 d-flex align-items-center"
                *ngIf="!uiState.editHospitalsMode"><i class="ri-add-line"></i>Add</button>
            <button type="submit" class="btn btn-sm btn-success mx-2 d-flex align-items-center"
                *ngIf="uiState.editHospitalsMode"><i class="ri-edit-line mx-1"></i>Edit</button>
            <button type="button" class="btn btn-outline-danger btn-sm" (click)="modal.close()">Close</button>
        </div>
    </form>
</ng-template>