<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <app-sub-loader *ngIf="uiState.isLoading"></app-sub-loader>
    <div class="modal-header">
        <h4 class="modal-title">{{uiState.currentView === uiState.preview.new ? "New" : uiState.currentView ===
            uiState.preview.edit ? "Edit" : uiState.currentView === uiState.preview.view ? "View" : '' }} Activity
        </h4>
        <button type="button" class="btn-close btn-sm" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <div class="text-end" *ngIf="uiState.currentView !== this.uiState.preview.new">
            <button type="button" class="btn btn-sm btn-soft-info ms-2" role="button">
                <i class="ri-history-line align-bottom"></i> History
            </button>
            <button type="button" class="btn btn-sm btn-soft-primary ms-2" role="button" (click)="editTaskData()"
                *ngIf="uiState.currentView === this.uiState.preview.view">
                <i class="ri-edit-2-line align-bottom"></i> Edit
            </button>
            <button type="button" class="btn btn-sm btn-soft-danger ms-2" role="button" (click)="taskPreview()"
                *ngIf="uiState.currentView === this.uiState.preview.edit">
                <i class="ri-close-line align-bottom"></i> Cancel
            </button>
            <button type="button" class="btn btn-soft-success btn-sm ms-2">
                <i class="ri-check-fill align-bottom"></i> Close Task
            </button>
        </div>
        <div #collapse="ngbCollapse" [(ngbCollapse)]="!uiState.isForm">
            <div class="col-sm-12 my-2">
                <label for="module" class="asterisk-input">Section</label>
                <ng-select formControlName="module" id="module" class="is-invalid" placeholder="Select Section Name"
                    bindLabel="name" bindValue="name" (change)="getModuleClients($event.name);"
                    [loading]="formData ? false : true" [items]="(formData| async)?.IBSModules?.content!"
                    [ngClass]="{'is-submitted': (f.module?.touched || uiState.submitted) && f.module?.invalid}">
                    <ng-template ng-option-tmp let-item="item">
                        <div>{{ item.name }}</div>
                    </ng-template>
                </ng-select>
                <div class="invalid-feedback fw-bold"
                    *ngIf="(f.module?.touched || uiState.submitted) && f.module?.invalid">
                    Required
                </div>
            </div>
            <div class="col-sm-12 my-2">
                <label for="type" class="asterisk-input">Activity Type</label>
                <ng-select formControlName="type" class="is-invalid" [items]="(formData| async)?.TasksTypes?.content!"
                    bindLabel="name" bindValue="name" [loading]="formData ? false : true"
                    placeholder="Select Activity Type"
                    [ngClass]="{'is-submitted': (f.type?.touched || uiState.submitted) && f.type?.invalid}">
                    <ng-template ng-option-tmp let-item="item">
                        <div>{{ item.name }}</div>
                    </ng-template>
                </ng-select>
                <div class="invalid-feedback fw-bold" *ngIf="(f.type?.touched || uiState.submitted) && f.type?.invalid">
                    Required
                </div>
            </div>
            <div class="col-sm-12 my-2">
                <label for="clientName">Client</label>
                <ng-select formControlName="clientName" placeholder="Select Client" bindValue="name"
                    (change)="searchModule($event.id)" bindLabel="name" [items]="uiState.lists.clients">
                    <ng-template ng-option-tmp let-item="item">
                        <div>{{ item.id }} | {{ item.name }}</div>
                    </ng-template>
                </ng-select>
            </div>
            <div class="col-sm-12 my-2" *ngIf="f.module?.value">
                <label for="moduleSNo">
                    <span *ngIf="f.module?.value === 'Claims'">Claims Details
                        <small style="font-size: 10px;">Claim No | Client ID | Client Name | Class Of Business |
                            Line Of
                            Business | Policy No |
                            Deadline</small>
                    </span>
                    <span *ngIf="f.module?.value === 'Customer Services'">Customer Service Details
                        <small style="font-size: 10px;">Request No | Client ID | Client Name | Class Of Business
                            | Line Of
                            Business | Policy No |
                            Policy Expiry Date</small>
                    </span>
                    <span *ngIf="f.module?.value === 'SalesLead'">Sales Lead Details
                        <small style="font-size: 10px;">Lead No | Client ID | Client Name | Class Of Business |
                            Line Of
                            Business | Producer |
                            Deadline</small>
                    </span>
                </label>
                <ng-select formControlName="moduleSNo" bindLabel="label" bindValue="no" [items]="uiState.lists.module">
                    <ng-template ng-option-tmp let-item="item">
                        <div style="white-space: pre-wrap; text-overflow: ellipsis">{{ item.label }}</div>
                    </ng-template>
                </ng-select>
            </div>
            <div class="col-sm-12 my-2">
                <label for="assignedTo" class="asterisk-input">Assign To</label>
                <ng-select formControlName="assignedTo" class="is-invalid" placeholder="Select Producer"
                    (change)="searchModule()" bindLabel="name" bindValue="name" [items]="uiState.lists.assignTo"
                    [loading]="formData ? false : true"
                    [ngClass]="{'is-submitted': (f.assignedTo?.touched || uiState.submitted) && f.assignedTo?.invalid}">
                    <ng-template ng-option-tmp let-item="item">
                        <div>{{ item.id }} | {{ item.name }}</div>
                    </ng-template>
                </ng-select>
                <div class="invalid-feedback fw-bold"
                    *ngIf="(f.assignedTo?.touched || uiState.submitted) && f.assignedTo?.invalid">
                    Required
                </div>
            </div>
            <div class="col-sm-12 my-2">
                <label for="taskName" class="asterisk-input">Title</label>
                <input type="text" formControlName="taskName"
                    [ngClass]="{'is-invalid' : (f.taskName?.touched || uiState.submitted) && f.taskName?.invalid}"
                    class="form-control form-control-sm" placeholder="Type Task Name" id="taskName">
                <span class="invalid-feedback fw-bold mt-0">Required</span>
            </div>
            <div class="col-sm-12 my-2">
                <label for="taskDetails">Description</label>
                <textarea formControlName="taskDetails" id="taskDetails" class="form-control form-control-sm"
                    placeholder="Type Task Description" cols="30" rows="4"></textarea>
            </div>
            <div class="col-sm-12 my-2">
                <label class="asterisk-input">Due Date</label>
                <div [ngClass]="{'is-invalid' : (f.start?.invalid || f.end?.invalid) && uiState.submitted}">
                    <app-range-picker [monthCount]="2" (dateChange)="setDate($event)"
                        [selected]="{from: this.clickedDate?.dueDateFrom, to: this.clickedDate?.dueDateTo}"></app-range-picker>
                </div>
                <div class="invalid-feedback fw-bold">
                    Required
                </div>
            </div>
            <div class="col-sm-12 my-2" *ngIf="!uiState.isRange">
                <div class="row">
                    <div class="col-6 mb-2">
                        <label class="form-label asterisk-input">From</label>
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control form-control-sm" mwlFlatpickr [noCalendar]="true"
                                [ngClass]="{'is-invalid' : (f.startTime?.touched || uiState.submitted) && f.startTime?.invalid}"
                                [enableTime]="true" [dateFormat]="'H:i'" placeholder="Select start time"
                                formControlName="startTime">
                            <span class="input-group-text"><i class="ri-time-line"></i></span>
                            <span class="invalid-feedback mt-0">Required</span>
                        </div>
                    </div>
                    <div class="col-6 mb-2">
                        <label class="form-label asterisk-input">Up To</label>
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control form-control-sm" mwlFlatpickr [noCalendar]="true"
                                [ngClass]="{'is-invalid' : (f.endTime?.touched || uiState.submitted) && f.endTime?.invalid}"
                                [enableTime]="true" [dateFormat]="'H:i'" placeholder="Select end time"
                                formControlName="endTime">
                            <span class="input-group-text"><i class="ri-time-line"></i></span>
                            <span class="invalid-feedback mt-0">Required</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div #collapse="ngbCollapse" [(ngbCollapse)]="!uiState.isView">
            <div class="event-details" *ngIf="task">
                <div class="d-flex mb-2">
                    <div class="flex-grow-1 d-flex align-items-center">
                        <div class="flex-shrink-0 me-3">
                            <i class="ri-calendar-event-line text-muted fs-16"></i>
                        </div>
                        <div class="flex-grow-1">
                            <h6 class="d-block fw-bold mb-0" id="event-start-date-tag">
                                {{util.formatDate(task.dueDateFrom)}} To {{util.formatDate(task.dueDateTo)}}
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center mb-2"
                    *ngIf="getTime(task.dueDateFrom) !== getTime(task.dueDateTo)">
                    <div class="flex-shrink-0 me-3">
                        <i class="ri-time-line text-muted fs-16"></i>
                    </div>
                    <div class="flex-grow-1">
                        <h6 class="d-block fw-bold mb-0">
                            {{tConvert(getTime(task.dueDateFrom))}} -
                            {{tConvert(getTime(task.dueDateTo))}}
                        </h6>
                    </div>
                </div>
                <div class="d-flex align-items-center mb-2">
                    <div class="flex-shrink-0 me-3">
                        <i class="ri-apps-line text-muted fs-16"></i>
                    </div>
                    <div class="flex-grow-1">
                        <h6 class="d-block fw-bold mb-0"> {{task.module}} </h6>
                    </div>
                </div>
                <div class="d-flex align-items-center mb-2">
                    <div class="flex-shrink-0 me-3">
                        <i class="ri-hashtag text-muted fs-16"></i>
                    </div>
                    <div class="flex-grow-1">
                        <h6 class="d-block fw-bold mb-0">
                            {{task.claimNo || task.leadNo || task.requestNo}}
                        </h6>
                    </div>
                </div>
                <div class="d-flex mb-2">
                    <div class="flex-grow-1 d-flex align-items-center">
                        <div class="flex-shrink-0 me-3" id="icon-type">
                            <i class="ri-book-open-line text-muted fs-16"></i>
                        </div>
                        <div class="flex-grow-1">
                            <h6 class="d-block fw-bold mb-0">
                                <span class="badge"
                                    [ngClass]="{'bg-danger' : checkExpiration(task.dueDateTo!) && task.status === 'Open', 'bg-warning' : task.status === 'Open', 'bg-success' : task.status === 'Closed'}">
                                    {{task.status}}
                                </span>
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="d-flex mb-2">
                    <div class="flex-grow-1 d-flex align-items-center">
                        <div class="flex-shrink-0 me-3" id="icon-type">
                            <i class="ri-feedback-line text-muted fs-16"></i>
                        </div>
                        <div class="flex-grow-1">
                            <h6 class="d-block fw-bold mb-0">
                                {{task.type}}
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="d-flex mb-2">
                    <div class="flex-grow-1 d-flex align-items-center">
                        <div class="flex-shrink-0 me-3" id="icon-type">
                            <i class="ri-discuss-line text-muted fs-16"></i>
                        </div>
                        <div class="flex-grow-1">
                            <h6 class="d-block fw-bold mb-0">
                                {{task.taskDetails ?? 'No Description'}}
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="d-flex mb-2">
                    <div class="flex-grow-1 d-flex align-items-center">
                        <div class="flex-shrink-0 me-3" id="icon-type">
                            <i class="ri-pencil-line text-muted fs-16"></i>
                        </div>
                        <div class="flex-grow-1">
                            <h6 class="d-block fw-bold mb-0">
                                To: {{task.assignedTo}}
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="d-flex mb-2">
                    <div class="flex-grow-1 d-flex align-items-center">
                        <div class="flex-shrink-0 me-3" id="icon-type">
                            <i class="ri-quill-pen-line text-muted fs-16"></i>
                        </div>
                        <div class="flex-grow-1">
                            <h6 class="d-block fw-bold mb-0">
                                By: {{task.assignedBy}}
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-sm"
            *ngIf="uiState.currentView !== this.uiState.preview.view">Save</button>
    </div>
</form>