<div class="modal-header py-3">
    <h4 class="modal-title">Client Policy Details</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
</div>
<div class="modal-body bg-light p-3 Details">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <!-- Start Client Details Table -->
            <div class="card details-tables pb-3">
                <div class="card-header mb-3">
                    <h6 class="card-title text-muted text-uppercase mb-0">Policy Details</h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="table-responsive table-card">
                                <table class="table table-borderless mb-0">
                                    <tbody id="client-information-table">
                                        <tr>
                                            <th class="fw-semibold">Client ID :</th>
                                            <td>{{ uiState.policyDetails.clientNo }}</td>
                                        </tr>
                                        <tr>
                                            <th class="fw-semibold">Client Name :</th>
                                            <td>{{ uiState.policyDetails.clientName }}</td>
                                        </tr>
                                        <tr>
                                            <th class="fw-semibold">Producer (Salesman) :</th>
                                            <td>{{ uiState.policyDetails.producer }}</td>
                                        </tr>
                                        <tr>
                                            <th class="fw-semibold">A/C No :</th>
                                            <td>{{ uiState.policyDetails.accNo }}</td>
                                        </tr>
                                        <tr>
                                            <th class="fw-semibold">Policy No :</th>
                                            <td>{{ uiState.policyDetails.policyNo }}</td>
                                        </tr>
                                        <tr>
                                            <th class="fw-semibold">Issued By :</th>
                                            <td>{{ uiState.policyDetails.insurComp }}</td>
                                        </tr>
                                        <tr>
                                            <th class="fw-semibold">Class of Insurance :</th>
                                            <td>{{ uiState.policyDetails.className }}</td>
                                        </tr>
                                        <tr>
                                            <th class="fw-semibold">Line of Business :</th>
                                            <td>{{ uiState.policyDetails.lineOfBusiness }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="table-responsive table-card">
                                <table class="table table-borderless mb-0">
                                    <tbody id="client-information-table">
                                        <tr>
                                            <th class="fw-semibold">Issue Date :</th>
                                            <td>{{ (uiState.policyDetails.issueDate != undefined) ?
                                                (uiState.policyDetails.issueDate | date:"dd MMMM,yyyy") : '-' }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="fw-semibold">Inception Date :</th>
                                            <td>{{ (uiState.policyDetails.periodFrom != undefined) ?
                                                (uiState.policyDetails.periodFrom | date:"dd MMMM,yyyy") : '-' }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="fw-semibold">Expiry Date :</th>
                                            <td>{{ (uiState.policyDetails.periodTo != undefined) ?
                                                (uiState.policyDetails.periodTo | date:"dd MMMM,yyyy") : '-' }}</td>
                                        </tr>
                                        <tr>
                                            <th class="fw-semibold">Saved By :</th>
                                            <td>{{ uiState.policyDetails.savedBy }}</td>
                                        </tr>
                                        <tr>
                                            <th class="fw-semibold">Saved On :</th>
                                            <td>{{ (uiState.policyDetails.savedOn != undefined) ?
                                                (uiState.policyDetails.savedOn | date:"dd MMMM,yyyy") : '-' }}</td>
                                        </tr>
                                        <tr>
                                            <th class="fw-semibold">updated By :</th>
                                            <td>{{ uiState.policyDetails.updatedBy }}</td>
                                        </tr>
                                        <tr>
                                            <th class="fw-semibold">Updated On :</th>
                                            <td>{{ (uiState.policyDetails.updatedOn != undefined) ?
                                                (uiState.policyDetails.updatedOn | date:"dd MMMM,yyyy") : '-' }}</td>
                                        </tr>
                                        <tr>
                                            <th class="fw-semibold">Cancelled By :</th>
                                            <td>{{ uiState.policyDetails.cancelledUser }}</td>
                                        </tr>
                                        <tr>
                                            <th class="fw-semibold">Cancelled On :</th>
                                            <td>{{ (uiState.policyDetails.cancelledDate != undefined) ?
                                                (uiState.policyDetails.cancelledDate | date:"dd MMMM,yyyy") : '-' }}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Client Details Table -->
        </div>
    </div>
</div>

<div class="modal-footer">
    <div class="col-lg-12 col-md-12 col-sm-12 mt-sm-3 d-flex justify-content-between">
        <div class="col-12 d-flex justify-content-end align-items-end">
            <button type="button" class="btn btn-sm btn-outline-info mx-2"
                *ngIf="uiState.policyDetails.className === 'Medical'" (click)="UploadMedical(uiState.sno)">Medical
                Active</button>
            <button type="button" class="btn btn-sm btn-outline-info mx-2"
                *ngIf="uiState.policyDetails.className === 'Motor'" (click)="UploadMotor(uiState.sno)">Motor
                Active</button>
            <button type="button" class="btn btn-sm btn-outline-danger mx-2" (click)="modal.close('Close click')">
                Close
            </button>
        </div>
    </div>
</div>