<form class="mb-4" [formGroup]="DefaultEmailsForm" (ngSubmit)="submitDefaultEmailsData(DefaultEmailsForm)"
    autocomplete="off">
    <ngb-accordion #acc="ngbAccordion" activeIds="1">
        <!-- Line Of Business -->
        <ngb-panel id="1" title="Default Emails" cardClass="open my-4">
            <ng-template ngbPanelContent="1">
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
                    <div class="container-fluid mb-3">
                        <div class="card ribbon-box border shadow-none mb-lg-0 h-100">
                            <div class="card-body">
                                <div class="ribbon ribbon-info round-shape">
                                    Default Emails
                                </div>
                                <div class="row my-4">
                                    <div class="col-lg-6 col-md-6 col-sm-12 my-1">
                                        <label for="category" class="asterisk-input">Category</label>
                                        <ng-select id="category" class="is-invalid"
                                            placeholder="Select Class Of Insurance"
                                            [items]="(lookupData | async)?.CategoryOfDefaultEmail?.content!"
                                            [loading]="lookupData ? false : true" (change)="filter($event)"
                                            [ngClass]="{'is-submitted': (f.category?.touched || uiState.submitted) && f.category?.invalid}"
                                            [clearable]="true" [searchable]="true" formControlName="category"
                                            bindLabel="name" bindValue="name">
                                        </ng-select>
                                        <span *ngIf="(f.category?.touched || uiState.submitted) && f.category?.invalid"
                                            class="invalid-feedback fw-bold mt-0 d-inline-block">Required</span>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="container-fluid">
                        <div class="card-body px-1 py-3">
                            <div class="d-flex justify-content-end">
                                <button type="submit" class="btn btn-sm btn-success me-2">
                                    <i class="ri-add-line"></i>
                                    Save
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>

    <div class="row mt-5">
        <div class="col-md-12">
            <label for="item">Email</label>
            <textarea id="item" rows="7" class="form-control form-control-sm" formControlName="item"></textarea>
        </div>
    </div>
</form>