<div class="row justify-content-between align-items-center mb-3">
  <div class="col-lg-2 col-md-3 col-sm-6 form-group row align-items-center">
    <label class="col-sm-4 col-form-label" for="pagingSizeSelect">Show: </label>
    <div class="col-sm-8">
      <ng-select (change)="onPageSizeChange()" [clearable]="false" [searchable]="false" id="pagingSizeSelect"
        [(ngModel)]="uiState.filters.pageSize">
        <ng-option [value]="25">25</ng-option>
        <ng-option [value]="50">50</ng-option>
        <ng-option [value]="100">100</ng-option>
        <ng-option [value]="150">150</ng-option>
        <ng-option [value]="200">200</ng-option>
      </ng-select>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 d-flex justify-content-end">
    <button class="btn btn-sm btn-primary mx-2 d-flex align-items-center" (click)="openDashboard()">
      Summary
    </button>
    <button class="btn btn-sm btn-info mx-2 d-flex align-items-center" (click)="openFilterCanvas(filter)">
      <i class="ri-filter-3-line me-1"></i>
      Filters
    </button>
    <a [routerLink]="'/' + uiState.routerLink.forms" class="btn btn-sm btn-success d-flex align-items-center"
      *ngIf="!(permissions$ | async)?.includes(uiState.privileges.ChClaimsManagementSystemReadOnly)">
      <i class="ri-add-line me-1"></i> New Claim
    </a>
  </div>
</div>
<div class="ag-theme-alpine" appTableView>
  <ag-grid-angular class="gridScrollbar" style="width: 100%; height: 75vh" [gridOptions]="gridOpts">
  </ag-grid-angular>
</div>

<!------------------------------------------------ 
                    Email
-------------------------------------------------->
<app-email-modal [modalData]="uiState.claims.emailData"></app-email-modal>

<!------------------------------------------------ 
                Claims  Filter
-------------------------------------------------->

<div>
  <ng-template #filter let-offcanvas>
    <div class="offcanvas-header">
      <h4 class="offcanvas-title fs-4">Filters</h4>

      <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
    </div>
    <div class="offcanvas-body">
      <form [formGroup]="filterForm" class="row">
        <!-- col client Id -->
        <div class="col-12 mb-3">
          <label for="form-label">Client ID:</label>
          <input type="text" class="form-control form-control-sm" placeholder="Client ID" formControlName="clientId" />
        </div>
        <!-- /col -->
        <!-- col client name -->
        <div class="col-12 mb-3">
          <label for="form-label">Client Name:</label>
          <input type="text" class="form-control form-control-sm" placeholder="Client Name"
            formControlName="clientName" />
        </div>
        <!-- /col -->
        <!-- col claim typ -->
        <div class="co-12 mb-3">
          <label for="form-label">Claim Type:</label>
          <ng-select [multiple]="true" [hideSelected]="true" [closeOnSelect]="false" [loading]="formData ? false : true"
            [items]="(formData | async)?.TypeOfCustomerServices?.content!" bindLabel="name" bindValue="name"
            class="form-control-sm p-0" placeholder="Select Claim Type" formControlName="claimType"></ng-select>
        </div>
        <!-- /col -->
        <!-- col status -->
        <div class="col-12 mb-3">
          <label for="form-label">Status</label>
          <ng-select [multiple]="true" [hideSelected]="true" [clearable]="true" [closeOnSelect]="false"
            [loading]="formData ? false : true" [items]="(formData | async)?.ClaimStatus?.content!" bindLabel="name"
            bindValue="name" class="form-control-sm p-0" placeholder="Select Status" formControlName="status"
            (change)="getSubStatus()"></ng-select>
        </div>
        <!-- /col -->
        <!-- col sub status -->
        <div class="col-12 mb-3">
          <label for="form-label">Sub Status</label>
          <ng-select [multiple]="true" [hideSelected]="true" [closeOnSelect]="false" [clearable]="true"
            [items]="uiState.claims.subStatus!" bindValue="name" class="form-control-sm p-0"
            placeholder="Select Status For Load Sub Status " formControlName="subStatus"></ng-select>
        </div>
        <!-- /col -->
        <!-- col accident date -->
        <div class="col-12 mb-3">
          <label for="form-label ">Accident / Bill Date Range:</label>
          <app-range-picker (dateChange)="accidentDateRange($event)"></app-range-picker>
        </div>
        <!-- /col -->
        <!-- col create on date -->
        <div class="col-12 mb-3">
          <label for="form-label">Create On Date Range:</label>
          <app-range-picker (dateChange)="createOnDateRange($event)"></app-range-picker>
        </div>
        <!-- /col -->
        <!-- col paid amount  -->
        <div class="col-12 mb-3">
          <label for="form-label">Paid Amount</label>
          <div class="input-group input-group-sm">
            <ng-select [clearable]="true" [clearOnBackspace]="false"
              [items]="(formData | async)?.ProductionOperatordList?.content!" bindValue="name" bindLabel="name"
              class="form-control-sm input-group-text p-0 border-0 amount-op" placeholder="Select operator"
              formControlName="combOperatorAmount" (change)="resetPaidAmount2()"></ng-select>
            <input type="number" class="form-control form-control-sm" [placeholder]="
                filterF.combOperatorAmount?.value != 'Between'
                  ? 'Paid Amount'
                  : 'Amount From'
              " (blur)="paidAmount1($event)" />
            <input *ngIf="filterF.combOperatorAmount?.value == 'Between'" type="number"
              class="form-control form-control-sm" placeholder="Amount To" (blur)="paidAmount2($event)" />
          </div>
        </div>
        <!-- /col -->
        <!-- col paid under processing amount -->
        <div class="col-12 mb-3">
          <label for="form-label">Under Processing Amount</label>
          <div class="input-group input-group-sm">
            <ng-select [clearable]="true" [clearOnBackspace]="false"
              [items]="(formData | async)?.ProductionOperatordList?.content!" bindValue="name" bindLabel="name"
              class="form-control-sm input-group-text p-0 border-0 amount-op" placeholder="Select operator"
              formControlName="combOperatorUnderProcessingAmount" (change)="resetProcAmount2()"></ng-select>
            <input type="number" class="form-control form-control-sm" [placeholder]="
                filterF.combOperatorUnderProcessingAmount?.value != 'Between'
                  ? 'Under Processing Amount'
                  : 'Amount From'
              " (blur)="processingAmount1($event)" />
            <input *ngIf="
                filterF.combOperatorUnderProcessingAmount?.value == 'Between'
              " type="number" class="form-control form-control-sm" placeholder="Amount To"
              (blur)="processingAmount2($event)" />
          </div>
        </div>
        <!-- /col -->
        <!-- col claim no  -->
        <div class="col-12 mb-3">
          <label for="form-label">Claim No:</label>
          <input type="text" class="form-control form-control-sm" placeholder="Claim Number"
            formControlName="claimNo" />
        </div>
        <!-- /col -->
        <!-- col insured claim no  -->
        <div class="col-12 mb-3">
          <label for="form-label">Insured Claim No:</label>
          <input type="text" class="form-control form-control-sm" placeholder="Insured Claim Number"
            formControlName="insurCompClaimNo" />
        </div>
        <!-- /col -->
        <!-- col bl / awb no  -->
        <div class="col-12 mb-3">
          <label for="form-label">Bl / Awb No:</label>
          <input type="text" class="form-control form-control-sm" placeholder="Bl / Awb Number"
            formControlName="blawbNo" />
        </div>
        <!-- /col -->
        <!-- col policy no  -->
        <div class="col-12 mb-3">
          <label for="form-label">Policy No:</label>
          <input type="text" class="form-control form-control-sm" placeholder="Policy Number"
            formControlName="policyNo" />
        </div>
        <!-- /col -->
        <!-- chassis / item no  -->
        <div class="col-12 mb-3">
          <label for="form-label">Chassis / Item No:</label>
          <input type="text" class="form-control form-control-sm" placeholder="Chassis / Item Number"
            formControlName="chassisNumber" />
        </div>
        <!-- /col -->
        <!-- col policy / certificate no  -->
        <div class="col-12 mb-3">
          <label for="form-label">Policy / Certificate No:</label>
          <input type="text" class="form-control form-control-sm" placeholder="Policy / Certificate Number"
            formControlName="policyCertificateNo" />
        </div>
        <!-- /col -->
        <!-- col declaration no  -->
        <div class="col-12 mb-3">
          <label for="form-label">Declaration No:</label>
          <input type="text" class="form-control form-control-sm" placeholder="Declaration Number"
            formControlName="declarationNo" />
        </div>
        <!-- /col -->
        <!-- col branch  -->
        <!-- <div class="col-12 mb-3">
          <label for="form-label">Branch:</label>
          <input type="text" class="form-control form-control-sm"
            [readonly]="!(permissions$ | async)?.includes(uiState.privileges.ChAccessAllBrancheClaim)!" />
        </div> -->
        <div class="co-12 mb-3">
          <label for="form-label">Branch:</label>
          <ng-select [loading]="formData ? false : true" [items]="(formData | async)?.Branch?.content!" bindLabel="name"
            bindValue="name" class="form-control-sm p-0" placeholder="Select Branch" formControlName="branch"
            [readonly]="!(permissions$ | async)?.includes(uiState.privileges.ChAccessAllBrancheClaim)!"></ng-select>
        </div>
        <!-- /col -->
        <!-- col insurance company -->
        <div class="co-12 mb-3">
          <label for="form-label">Insurance Company:</label>
          <ng-select [loading]="formData ? false : true" [items]="(formData | async)?.InsuranceCompanies?.content!"
            bindLabel="name" bindValue="name" class="form-control-sm p-0" placeholder="Select Insurance Company"
            formControlName="insurCompany"></ng-select>
        </div>
        <!-- /col -->
        <!-- insurance company -->
        <div class="co-12 mb-3">
          <label for="form-label">Created By:</label>
          <ng-select [loading]="formData ? false : true" [items]="(formData | async)?.AllUsers?.content!"
            bindLabel="name" bindValue="name" class="form-control-sm p-0"
            [readonly]="!(permissions$ | async)?.includes(uiState.privileges.ChAccessAllUsersClaim)!"
            formControlName="savedUser"></ng-select>
        </div>
        <!-- /col -->
        <!-- col  invoice no  -->
        <div class="col-12 mb-3">
          <label for="form-label">Invoice No:</label>
          <input type="text" class="form-control form-control-sm" formControlName="invoiceNo"
            placeholder="Invoice Number" />
        </div>
        <!-- /col -->
        <!-- col  wip no -->
        <div class="col-12 mb-3">
          <label for="form-label">Wip No:</label>
          <input type="text" class="form-control form-control-sm" formControlName="wipNo" placeholder="Wip Number" />
        </div>
        <!-- /col -->
        <!-- col  car plat no -->
        <div class="col-12 mb-3">
          <label for="form-label">Car Plat No:</label>
          <input type="text" class="form-control form-control-sm" formControlName="carNo"
            placeholder="Car Plat Number" />
        </div>
        <!-- /col -->
        <!-- col payment reference   -->
        <div class="col-12 mb-3">
          <label for="form-label">Payment Reference:</label>
          <input type="text" class="form-control form-control-sm" formControlName="paymentDetails"
            placeholder="Payment Reference" />
        </div>
        <!-- /col -->
        <!-- col name of injured  -->
        <div class="col-12 mb-3">
          <label for="form-label">
            Name Of The Injured / Deceased / Fiddler:</label>
          <input type="text" class="form-control form-control-sm" formControlName="nameofInjured"
            placeholder="Name Of The Injured / Deceased / Fiddler" />
        </div>
        <!-- /col -->
        <!-- col loss location   -->
        <div class="col-12 mb-3">
          <label for="form-label">Loss Location:</label>
          <input type="text" class="form-control form-control-sm" formControlName="lossLocation"
            placeholder="Loss Location" />
        </div>
        <!-- /col -->
        <!-- col  shipment name   -->
        <div class="col-12 mb-3">
          <label for="form-label">Shipment Name:</label>
          <input type="text" class="form-control form-control-sm" formControlName="shipmentName"
            placeholder="Shipment Name" />
        </div>
        <!-- /col -->
        <!-- col  member / driver name -->
        <div class="col-12 mb-3">
          <label for="form-label">Member / Driver Name:</label>
          <input type="text" class="form-control form-control-sm" formControlName="memberDriverName"
            placeholder=" Member / Driver Name" />
        </div>
        <!-- /col -->
      </form>
    </div>
    <div class="offcanvas-footer border-top row mb-3 mx-1">
      <div class="col-6 mt-2">
        <button class="btn btn-light btn-sm w-100">Clear Filter</button>
      </div>
      <div class="col-6 mt-2">
        <button class="btn btn-success btn-sm w-100" (click)="submitFilterForm()">
          Apply
        </button>
      </div>
    </div>
  </ng-template>
</div>

<!-----------------------------------------------
                Claims follow up
------------------------------------------------->
<div>
  <ng-template #followUp let-followOffcanvas>
    <app-sub-loader *ngIf="isLoading"></app-sub-loader>

    <div class="offcanvas-header">
      <h4 class="offcanvas-title fs-4">Follow Up</h4>
      <button type="button" class="btn-close" aria-label="Close"
        (click)="followOffcanvas.dismiss('Cross click')"></button>
    </div>
    <div class="offcanvas-body followUpCanvas chat-conversation p-3 p-lg-4">
      <div class="row justify-content-center">
        <ul class="list-unstyled chat-conversation-list" id="conversation-list">
          <li #followUpList class="chat-list left" *ngFor="let el of uiState.claims.followUpData">
            <div class="conversation-list">
              <div class="chat-avatar fs-20 text-muted">
                <i class="ri-user-voice-fill"></i>
              </div>
              <div class="user-chat-content">
                <div class="ctext-wrap">
                  <div class="ctext-wrap-content">
                    <p class="mb-0 ctext-content">{{ el.notes }}</p>
                  </div>
                </div>
                <div class="conversation-name">
                  <small class="text-muted time">{{ el.savedUser }}</small>
                  <small class="text-muted time">
                    {{ el.savedDate | date : "mediumDate" }} </small><br />
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!--end offcanvas-body-->

    <!--offcanvas-footer -->

    <div class="offcanvas-footer border-top row mb-3 mx-1">

      <form [formGroup]="followUpForm" (ngSubmit)="sendFollowUp(followUpForm.value)">
        <div class="col-12  my-2">
          <label class="form-label">Users:</label>
          <ng-select [items]="(formData | async)?.AllUsers?.content!" [loading]="formData ? false : true"
            [clearable]="true" class="px-0 w-100" [ngClass]="{
                    'is-invalid':
                      followUpF.names?.touched && followUpF.names?.errors
                  }" [multiple]="true" [hideSelected]="true" [closeOnSelect]="false" bindLabel="name" bindValue="name"
            formControlName="names" placeholder="Select User">
          </ng-select>
          <div *ngIf="followUpF.names?.touched && followUpF.names?.errors" class="invalid-feedback">
            required
          </div>
        </div>
        <div class="mb-2 col-12">
          <textarea class="form-control text-area" [ngClass]="{
                    'is-invalid': followUpF.msg?.touched && followUpF.msg?.errors
                  }" formControlName="msg" rows="3" placeholder="Type A Message"></textarea>
          <div *ngIf="followUpF.msg?.touched && followUpF.msg?.errors" class="invalid-feedback">
            required
          </div>
        </div>
        <div class="col-12 mt-2">
          <button class="btn btn-success btn-sm w-100" type="submit">
            Send Emails
          </button>
        </div>
      </form>
    </div>

    <!--end offcanvas-footer -->
  </ng-template>
</div>