[col-id="action"] {
  overflow: visible !important;
}

.ag-row.ag-row-focus {
  z-index: 1 !important;
}

.ag-cell:focus {
  border: none !important;
  outline: none;
}

.offcanvas-body {
  .form-control {
    max-height: 30px;
  }
  .form-control.text-area {
    max-height: unset;
  }
}
.ng-select .ng-select-container {
  min-height: 28px !important;
  height: fit-content !important;
  max-height: fit-content !important;
}
.amount-op {
  width: 100px !important;
}
