<div class="row justify-content-between align-items-center mb-3">
  <div class="col-2 form-group row align-items-center">
    <label class="col-sm-2 col-form-label" for="pagingSizeSelect">Show: </label>
    <div class="col-sm-4">
      <ng-select
        (change)="onPageSizeChange()"
        [clearable]="false"
        [searchable]="false"
        id="pagingSizeSelect"
        [(ngModel)]="uiState.filters.pageSize"
      >
        <ng-option [value]="25">25</ng-option>
        <ng-option [value]="50">50</ng-option>
        <ng-option [value]="100">100</ng-option>
        <ng-option [value]="150">150</ng-option>
        <ng-option [value]="200">200</ng-option>
      </ng-select>
    </div>
  </div>
  <div class="col-3 d-flex justify-content-end">
    <button
      class="btn btn-sm btn-info mx-2 d-flex align-items-center"
      (click)="openFilterCanvas(filter)"
    >
      <i class="ri-filter-3-line me-1"></i>
      Filters
    </button>
    <a
      [routerLink]="'/' + uiState.routerLink.forms"
      class="btn btn-sm btn-success d-flex align-items-center"
    >
      <i class="ri-add-line me-1"></i> New Claim
    </a>
  </div>
</div>
<div class="ag-theme-alpine" appTableView>
  <ag-grid-angular
    id="gridScrollbar"
    style="width: 100%; height: 75vh"
    [gridOptions]="gridOpts"
  >
  </ag-grid-angular>
</div>

<!------------------------------------------------ 
                Claims  Filter
-------------------------------------------------->

<div>
  <ng-template #filter let-offcanvas>
    <div class="offcanvas-header">
      <h4 class="offcanvas-title fs-4">Filters</h4>

      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="offcanvas.dismiss('Cross click')"
      ></button>
    </div>
    <div class="offcanvas-body">
      <form [formGroup]="filterForm" class="row justify-content-center">
        <!-- col client Id -->
        <div class="col mb-2">
          <label for="form-label">Client ID:</label>
          <input
            type="text"
            class="form-control form-control-sm"
            placeholder="Client ID"
            formControlName="clientId"
          />
        </div>
        <!-- /col -->
        <!-- col client name -->
        <div class="col mb-2">
          <label for="form-label">Client Name:</label>
          <input
            type="text"
            class="form-control form-control-sm"
            placeholder="Client Name"
            formControlName="clientName"
          />
        </div>
        <!-- /col -->
        <!-- col claim typ -->
        <div class="col mb-2">
          <label for="form-label">Claim Type:</label>
          <ng-select
            [multiple]="true"
            [loading]="formData ? false : true"
            [items]="(formData | async)?.TypeOfCustomerServices?.content!"
            bindLabel="name"
            bindValue="name"
            class="form-control-sm px-0"
            placeholder="Select Claim Type"
            formControlName="claimType"
          ></ng-select>
        </div>
        <!-- /col -->
        <!-- col status -->
        <div class="col mb-2">
          <label for="form-label">Status</label>
          <ng-select
            [multiple]="true"
            [clearable]="true"
            [loading]="formData ? false : true"
            [items]="(formData | async)?.ClaimStatus?.content!"
            bindLabel="name"
            bindValue="name"
            class="form-control-sm px-0"
            placeholder="Select Status"
            formControlName="status"
            (change)="getSubStatus()"
          ></ng-select>
        </div>
        <!-- /col -->
        <!-- col sub status -->
        <div class="col mb-2">
          <label for="form-label">Sub Status</label>
          <ng-select
            [multiple]="true"
            [clearable]="true"
            [items]="uiState.claims.subStatus!"
            bindValue="name"
            class="form-control-sm px-0"
            placeholder="Select Status For Load Sub Status "
            formControlName="subStatus"
          ></ng-select>
        </div>
        <!-- /col -->
        <!-- col accident date -->
        <div class="col mb-2">
          <label for="form-label ">Accident / Bill Date Range:</label>
          <app-range-picker
            (dateChange)="accidentDateRange($event)"
          ></app-range-picker>
        </div>
        <!-- /col -->
        <!-- col create on date -->
        <div class="col mb-2">
          <label for="form-label">Create On Date Range:</label>
          <app-range-picker
            (dateChange)="createOnDateRange($event)"
          ></app-range-picker>
        </div>
        <!-- /col -->
        <!-- col paid amount  -->
        <div class="col mb-2">
          <label for="form-label">Paid Amount</label>
          <div class="input-group input-group-sm">
            <ng-select
              [clearable]="true"
              [clearOnBackspace]="false"
              [items]="(formData | async)?.ProductionOperatordList?.content!"
              bindValue="name"
              bindLabel="name"
              class="form-control-sm input-group-text p-0 border-0 amount-op"
              placeholder="Select operator"
              formControlName="combOperatorAmount"
            ></ng-select>
            <input
              type="number"
              class="form-control form-control-sm"
              [placeholder]="
                filterF.combOperatorAmount?.value != 'Between'
                  ? 'Paid Amount'
                  : 'Amount From'
              "
              (blur)="paidAmount1($event)"
            />
            <input
              *ngIf="filterF.combOperatorAmount?.value == 'Between'"
              type="number"
              class="form-control form-control-sm"
              placeholder="Amount To"
              (blur)="paidAmount2($event)"
            />
          </div>
        </div>
        <!-- /col -->
        <!-- col paid under processing amount -->
        <div class="col mb-2">
          <label for="form-label">Under Processing Amount</label>
          <div class="input-group input-group-sm">
            <ng-select
              [clearable]="true"
              [clearOnBackspace]="false"
              [items]="(formData | async)?.ProductionOperatordList?.content!"
              bindValue="name"
              bindLabel="name"
              class="form-control-sm input-group-text p-0 border-0 amount-op"
              placeholder="Select operator"
              formControlName="combOperatorUnderProcessingAmount"
            ></ng-select>
            <input
              type="number"
              class="form-control form-control-sm"
              [placeholder]="
                filterF.combOperatorUnderProcessingAmount?.value != 'Between'
                  ? 'Under Processing Amount'
                  : 'Amount From'
              "
              (blur)="processingAmount1($event)"
            />
            <input
              *ngIf="
                filterF.combOperatorUnderProcessingAmount?.value == 'Between'
              "
              type="number"
              class="form-control form-control-sm"
              placeholder="Amount To"
              (blur)="processingAmount2($event)"
            />
          </div>
        </div>
        <!-- /col -->
        <!-- col claim no  -->
        <div class="col mb-2">
          <label for="form-label">Claim No:</label>
          <input
            type="text"
            class="form-control form-control-sm"
            placeholder="Claim Number"
            formControlName="claimNo"
          />
        </div>
        <!-- /col -->
        <!-- col insured claim no  -->
        <div class="col mb-2">
          <label for="form-label">Insured Claim No:</label>
          <input
            type="text"
            class="form-control form-control-sm"
            placeholder="Insured Claim Number"
            formControlName="insurCompClaimNo"
          />
        </div>
        <!-- /col -->
        <!-- col bl / awb no  -->
        <div class="col mb-2">
          <label for="form-label">Bl / Awb No:</label>
          <input
            type="text"
            class="form-control form-control-sm"
            placeholder="Bl / Awb Number"
            formControlName="blawbNo"
          />
        </div>
        <!-- /col -->
        <!-- col policy no  -->
        <div class="col mb-2">
          <label for="form-label">Policy No:</label>
          <input
            type="text"
            class="form-control form-control-sm"
            placeholder="Policy Number"
            formControlName="policyNo"
          />
        </div>
        <!-- /col -->
        <!-- chassis / item no  -->
        <div class="col mb-2">
          <label for="form-label">Chassis / Item No:</label>
          <input
            type="text"
            class="form-control form-control-sm"
            placeholder="Chassis / Item Number"
            formControlName="chassisNumber"
          />
        </div>
        <!-- /col -->
        <!-- col policy / certificate no  -->
        <div class="col mb-2">
          <label for="form-label">Policy / Certificate No:</label>
          <input
            type="text"
            class="form-control form-control-sm"
            placeholder="Policy / Certificate Number"
            formControlName="policyCertificateNo"
          />
        </div>
        <!-- /col -->
        <!-- col declaration no  -->
        <div class="col mb-2">
          <label for="form-label">Declaration No:</label>
          <input
            type="text"
            class="form-control form-control-sm"
            placeholder="Declaration Number"
            formControlName="declarationNo"
          />
        </div>
        <!-- /col -->
      </form>
    </div>
    <div class="offcanvas-footer border-top row mb-3 mx-1">
      <div class="col-6 mt-2">
        <button class="btn btn-light btn-sm w-100">Clear Filter</button>
      </div>
      <div class="col-6 mt-2">
        <button
          class="btn btn-success btn-sm w-100"
          (click)="submitFilterForm()"
        >
          Apply
        </button>
      </div>
    </div>
  </ng-template>
</div>
