<div class="row justify-content-between align-items-center mb-3">
  <div class="col-2 form-group row align-items-center">
    <label class="col-sm-2 col-form-label" for="pagingSizeSelect">Show: </label>
    <div class="col-sm-4">
      <ng-select (change)="onPageSizeChange()" [clearable]="false" [searchable]="false" id="pagingSizeSelect"
        [(ngModel)]="uiState.filters.pageSize">
        <ng-option [value]="25">25</ng-option>
        <ng-option [value]="50">50</ng-option>
        <ng-option [value]="100">100</ng-option>
        <ng-option [value]="150">150</ng-option>
        <ng-option [value]="200">200</ng-option>
      </ng-select>
    </div>
  </div>
  <div class="col-3 d-flex justify-content-end">
    <button class="btn btn-sm btn-info mx-2 d-flex align-items-center" (click)="openFilterCanvas(filter)">
      <i class="ri-filter-3-line me-1"></i>
      Filters
    </button>
    <a [routerLink]="'/' + uiState.routerLink.forms" class="btn btn-sm btn-success d-flex align-items-center">
      <i class="ri-add-line me-1"></i> New Claim
    </a>
  </div>
</div>
<div class="ag-theme-alpine" appTableView>
  <ag-grid-angular id="gridScrollbar" style="width: 100%; height: 75vh" [gridOptions]="gridOpts">
  </ag-grid-angular>
</div>

<!------------------------------------------------ 
                Claims  Filter
-------------------------------------------------->

<div>
  <ng-template #filter let-offcanvas>
    <div class="offcanvas-header">
      <h4 class="offcanvas-title fs-4">Filters</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
    </div>
    <form [formGroup]="filterForm">
      <div class="offcanvas-body row">
        <div class="col-12 mb-2">
          <label for="form-label">Client ID:</label>
          <input type="text" class="form-control form-control-sm" placeholder="Client ID" formControlName="clientId" />
        </div>
        <div class="col-12 mb-2">
          <label for="form-label">Client Name:</label>
          <input type="text" class="form-control form-control-sm" placeholder="Client Name"
            formControlName="clientName" />
        </div>
        <div class="col-12 mb-2">
          <label for="form-label">Claim Type:</label>
          <ng-select [multiple]="true" [loading]="formData ? false : true"
            [items]="(formData | async)?.TypeOfCustomerServices?.content!" bindLabel="name" bindValue="name"
            class="form-control-sm px-0" placeholder="Select Claim Type" formControlName="claimType"></ng-select>
        </div>
        <div class="col-12 mb-2">
          <label for="form-label">Status</label>
          <ng-select [multiple]="true" [loading]="formData ? false : true"
            [items]="(formData | async)?.ClaimStatus?.content!" bindLabel="name" bindValue="name"
            class="form-control-sm px-0" placeholder="Select Status" formControlName="status"></ng-select>
        </div>
      </div>
      <div class="offcanvas-footer border-top row mb-3 mx-1">
        <div class="col-6 mt-2">
          <button class="btn btn-light btn-sm w-100">Clear Filter</button>
        </div>
        <div class="col-6 mt-2">
          <button class="btn btn-success btn-sm w-100">Apply</button>
        </div>
      </div>
    </form>
  </ng-template>
</div>