<form [formGroup]="CompanyRequirementsForm" (ngSubmit)="submitCompanyRequirementsData(CompanyRequirementsForm)">
    <div class="container-fluid mx-auto">
        <div class="row card">
            <div class="col-12 card-body">
                <div class=" ribbon-box border shadow-none">
                    <div>
                        <span class="ribbon ribbon-info round-shape"><span>Company Requirements
                            </span></span>
                        <div class="row mt-5 mx-2">

                            <div class="col-lg-4 col-md-6 col-sm-12 my-2">
                                <div class="d-flex justify-content-between align-items-center">
                                    <label class="asterisk-input">Insurance Company
                                    </label>
                                </div>
                                <ng-select id="insuranceCompanyID" class="form-control-sm is-invalid"
                                    placeholder="Select Insurance Company" formControlName="insuranceCompanyID"
                                    (change)="changeCompany($event)" bindValue="id" bindLabel="name"
                                    [loading]="lookupData ? false : true"
                                    [ngClass]="{'is-submitted': (f.insuranceCompanyID?.touched || uiState.submitted) && f.insuranceCompanyID?.invalid}"
                                    [items]="(lookupData | async)?.InsuranceCompanies?.content!">
                                </ng-select>
                                <div>
                                    <span
                                        *ngIf="(f.insuranceCompanyID?.touched || uiState.submitted) && f.insuranceCompanyID?.invalid"
                                        class="invalid-feedback fw-bold mt-0 d-inline-block">Required</span>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-12 my-2">
                                <div class="d-flex justify-content-between align-items-center">
                                    <label class="asterisk-input">Endors Type
                                    </label>
                                </div>
                                <ng-select [items]="(lookupData | async)?.PolicyEndorsTypes?.content!"
                                    class="form-control-sm is-invalid" [loading]="lookupData ? false : true"
                                    (change)="changeEndors($event)" [clearable]="true" [searchable]="true"
                                    bindLabel="name"
                                    [ngClass]="{'is-submitted': (f.endorsType?.touched || uiState.submitted) && f.endorsType?.invalid}"
                                    bindValue="name" id="endorsType" formControlName="endorsType">
                                </ng-select>

                                <div>
                                    <span *ngIf="(f.endorsType?.touched || uiState.submitted) && f.endorsType?.invalid"
                                        class="invalid-feedback fw-bold mt-0 d-inline-block">Required</span>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-12 my-2">
                                <div class="d-flex justify-content-between align-items-center">
                                    <label class="asterisk-input">Class of Insurance
                                    </label>
                                </div>
                                <ng-select id="classofInsurance" class="form-control-sm is-invalid"
                                    placeholder="Select Class Of Insurance" formControlName="classofInsurance"
                                    bindValue="name" bindLabel="name" [loading]="lookupData ? false : true"
                                    [hideSelected]="true" (change)="changeClass($event)"
                                    [ngClass]="{'is-submitted': (f.classofInsurance?.touched || uiState.submitted) && f.classofInsurance?.invalid}"
                                    [items]="(lookupData | async)?.InsurClasses?.content!"
                                    (change)="getLineOfBusiness($event?.name)">
                                </ng-select>

                                <div>
                                    <span
                                        *ngIf="(f.classofInsurance?.touched || uiState.submitted) && f.classofInsurance?.invalid"
                                        class="invalid-feedback fw-bold mt-0 d-inline-block">Required</span>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-12 my-2">
                                <div class="d-flex justify-content-between align-items-center">
                                    <label class="asterisk-input">Line of Business
                                    </label>
                                </div>
                                <ng-select id="lineOfBusiness" class="form-control-sm is-invalid"
                                    placeholder="Select Line of Business" formControlName="lineOfBusiness"
                                    bindValue="name" bindLabel="name" [loading]="lookupData ? false : true"
                                    [hideSelected]="true" (change)="filter($event)"
                                    [ngClass]="{'is-submitted': (f.lineOfBusiness?.touched || uiState.submitted) && f.lineOfBusiness?.invalid}"
                                    (change)="gridApi.setDatasource(dataSource);" [items]="lineOfBussArr">
                                </ng-select>


                                <div>
                                    <span
                                        *ngIf="(f.lineOfBusiness?.touched || uiState.submitted) && f.lineOfBusiness?.invalid"
                                        class="invalid-feedback fw-bold mt-0 d-inline-block">Required</span>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-12 my-2">
                                <label class="asterisk-input">Item
                                </label>
                                <input id="item" class="form-control form-control-sm"
                                    [ngClass]="{'is-invalid': (f.item?.touched || uiState.submitted) && f.item?.invalid}"
                                    formControlName="item" />
                                <span *ngIf="(f.item?.touched || uiState.submitted) && f.item?.invalid"
                                    class="invalid-feedback fw-bold mt-0 d-inline-block">Required</span>

                            </div>

                        </div>
                        <div class="container-fluid">
                            <div class="card-body px-1 py-3">
                                <div class="d-flex justify-content-end">
                                    <button type="submit" class="btn btn-sm btn-soft-success me-2">
                                        <i class="ri-add-line"></i>
                                        Add
                                    </button>
                                    <button type="button" id="sa-warning" (click)="resetCompanyRequirementsForm();"
                                        class="btn btn-sm btn-soft-danger">
                                        <i class="ri-delete-bin-2-line"></i>
                                        Clear
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="ag-theme-alpine" appTableView>
    <ag-grid-angular class="gridScrollbar" style="width: 100%; height: 40vh" [gridOptions]="gridOpts">
    </ag-grid-angular>
</div>