.draggable-items .filezone-container {
  border: 2px solid rgb(133 132 132 / 40%);
  background-color: #e2e2e26e;
}

.draggable-items .filezone-container #img-label {
  color: rgb(134 133 133 / 38%);
}
