<div class="row justify-content-between align-items-center mb-3">
    <div class="col-lg-2 col-md-3 col-sm-6 form-group row align-items-center">
        <label class="col-sm-4 col-form-label" for="pagingSizeSelect">Show: </label>
        <div class="col-sm-8">
            <ng-select (change)="onPageSizeChange()" [clearable]="false" [searchable]="false" id="pagingSizeSelect"
                [(ngModel)]="uiState.filters.pageSize">
                <ng-option [value]="25">25</ng-option>
                <ng-option [value]="50">50</ng-option>
                <ng-option [value]="100">100</ng-option>
                <ng-option [value]="150">150</ng-option>
                <ng-option [value]="200">200</ng-option>
            </ng-select>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 d-flex justify-content-end">
        <button class="btn btn-sm btn-info mx-2 d-flex align-items-center" (click)="openPoliciesFilter()"><i
                class="ri-filter-3-line me-1"></i>
            Filters
        </button>
    </div>
</div>

<div>
    <div class="ag-theme-alpine" appTableView>
        <ag-grid-angular class="gridScrollbar" style="width: 100%; height: 75vh" [gridOptions]="gridOpts">
        </ag-grid-angular>
    </div>
</div>



<!----------------------------------  --------------------
                      Policy Filter
-------------------------------------------------------->
<div>
    <ng-template #filter let-offcanvas>
        <div class="offcanvas-header">
            <h4 class="offcanvas-title fs-4">Filters</h4>
            <button type="button" class="btn-close" aria-label="Close"
                (click)="offcanvas.dismiss('Cross click')"></button>
        </div>
        <div class="offcanvas-body">
            <form class="row justify-content-center" [formGroup]="filterForm">

                <!-- Policy Status -->
                <div class="col-12 mb-3">
                    <label class="form-label">Status</label>
                    <ng-select [items]="uiState.policyStatusList" [loading]="lookupData ? false : true"
                        [clearable]="false" [searchable]="true" bindLabel="name" [closeOnSelect]="false"
                        [hideSelected]="true" [multiple]="true" bindValue="name" id="policyStatus"
                        formControlName="status"
                        [ngClass]="{'is-submitted': (f.status?.touched || uiState.submitted) && f.status?.invalid}">
                    </ng-select>
                    <span class="invalid-feedback fw-bold mt-0"
                        *ngIf="(f.status?.touched || uiState.submitted) && f.status?.invalid">Required</span>
                </div>
                <!-- Our Ref -->
                <div class="col-12 mb-3">
                    <label for="ourRefInput" class="form-label">Our Ref</label>
                    <input type="text" class="form-control form-control-sm" id="ourRefInput" placeholder="Our Ref"
                        formControlName="ourRef" />
                </div>
                <!-- Client Name -->
                <div class="col-12 mb-3">
                    <label for="clientName" class="form-label">Client Name</label>
                    <ng-select [items]="(lookupData | async)?.ClientsList?.content!"
                        [loading]="lookupData ? false : true" [clearable]="true" [searchable]="true" bindLabel="name"
                        bindValue="name" id="clientName" formControlName="clientName">
                    </ng-select>
                </div>
                <!-- Producer -->
                <div class="col-12 mb-3">
                    <label for="producerName" class="form-label">Producer</label>
                    <ng-select [items]="(lookupData | async)?.Producers?.content!" [loading]="lookupData ? false : true"
                        [clearable]="true" [searchable]="true" bindLabel="name" bindValue="name" [multiple]="true"
                        [closeOnSelect]="false" [hideSelected]="true" id="producerName" formControlName="producer"
                        [readonly]="!(permissions$ | async)?.includes(uiState.privileges.ChAccessAllProducersProduction)!">
                    </ng-select>
                </div>
                <!-- Insurance Company -->
                <div class="col-12 mb-3">
                    <label for="insurCompany" class="form-label">Insurance Company</label>
                    <ng-select [items]="(lookupData | async)?.InsuranceCompanies?.content!"
                        [loading]="lookupData ? false : true" [clearable]="true" [searchable]="true" bindLabel="name"
                        bindValue="name" id="insurCompany" formControlName="insurCompany">
                    </ng-select>
                </div>
                <!-- classOfInsurance -->
                <div class="col-12 mb-3">
                    <label for="classOfInsu" class="form-label">Class Of Insurance</label>
                    <ng-select [items]="(lookupData | async)?.InsurClasses?.content!"
                        [loading]="lookupData ? false : true" [clearable]="true" [searchable]="true" bindLabel="name"
                        bindValue="name" id="classOfInsu" formControlName="classOfInsurance"
                        (change)="getLineOfBusiness($event)">
                    </ng-select>
                </div>
                <!-- lineOfBusiness -->
                <div class="col-12 mb-3">
                    <label for="lineofBuss" class="form-label">Line Of Business</label>
                    <ng-select [items]="uiState.lineOfBusinessList" [loading]="lookupData ? false : true"
                        [clearable]="true" [searchable]="true" bindLabel="name" bindValue="name" id="lineofBuss"
                        formControlName="lineOfBusiness">
                    </ng-select>
                </div>
                <!-- PolicyNo -->
                <div class="col-12 mb-3">
                    <label for="policyNoInput" class="form-label">Policy No.</label>
                    <input type="text" class="form-control form-control-sm" id="policyNoInput" placeholder="Policy No"
                        formControlName="policyNo" />
                </div>
                <!-- createdBy -->
                <div class="col-12 mb-3">
                    <label for="created" class="form-label">Created By</label>
                    <ng-select [items]="(lookupData | async)?.AllUsers?.content!" [loading]="lookupData ? false : true"
                        [clearable]="true" [searchable]="true" bindLabel="name" bindValue="name" id="created"
                        [readonly]="!(permissions$ | async)?.includes(uiState.privileges.ChProductionAccessAllUsers)!"
                        formControlName="createdBy">
                    </ng-select>
                </div>
                <!-- Expiry Range -->
                <div class="col-12 mb-3">
                    <label for="user" class="form-label">Expiry Range</label>
                    <app-range-picker (dateChange)="setExpiryRangeFilter($event)"></app-range-picker>
                </div>
                <!-- Inception Range -->
                <div class="col-12 mb-3">
                    <label for="user" class="form-label">Inception Range</label>
                    <app-range-picker (dateChange)="setInceptionRangeFilter($event)"></app-range-picker>
                </div>
            </form>
        </div>
        <!-- submit and clear btn -->
        <div class="offcanvas-footer border-top row mb-3 mx-1">
            <div class="col-6 mt-2">
                <button class="btn btn-light btn-sm w-100" (click)="clearFilter()">
                    Clear Filter
                </button>
            </div>
            <div class="col-6 mt-2">
                <button class="btn btn-success btn-sm w-100" (click)="onPolicyFilters()">
                    Apply
                </button>
            </div>
        </div>
    </ng-template>
</div>