<form class="mb-4" [formGroup]="LineOfBussinessForm" (ngSubmit)="submitLineOfBusinessData(LineOfBussinessForm)"
    autocomplete="off">
    <div class="container-fluid mb-3 mx-auto">
        <div class="row card">
            <div class="col-12 mb-2 card-body">
                <div class=" ribbon-box border shadow-none">
                    <div>
                        <span class="ribbon ribbon-info round-shape"><span>Line Of Business
                            </span></span>
                        <div class="row mt-5 mx-2">
                            <div class="col-lg-3 col-md-6 col-sm-12 my-1">
                                <label for="className" class="asterisk-input">Class Of Insurance</label>
                                <ng-select id="className" class="is-invalid" placeholder="Select Class Of Insurance"
                                    [items]="(lookupData | async)?.InsurClasses?.content!"
                                    [loading]="lookupData ? false : true" (change)="filter($event)"
                                    [ngClass]="{'is-submitted': (f.className?.touched || uiState.submitted) && f.className?.invalid}"
                                    [clearable]="true" [searchable]="true" formControlName="className" bindLabel="name"
                                    bindValue="name">
                                </ng-select>
                                <span *ngIf="(f.className?.touched || uiState.submitted) && f.className?.invalid"
                                    class="invalid-feedback fw-bold mt-0 d-inline-block">Required</span>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-12 my-1">
                                <label for="lineofBusiness" class="asterisk-input">Line Of Business</label>
                                <input id="lineofBusiness" class="form-control form-control-sm"
                                    [ngClass]="{'is-invalid': (f.lineofBusiness?.touched || uiState.submitted) && f.lineofBusiness?.invalid}"
                                    formControlName="lineofBusiness" />
                                <span
                                    *ngIf="(f.lineofBusiness?.touched || uiState.submitted) && f.lineofBusiness?.invalid"
                                    class="invalid-feedback fw-bold mt-0 d-inline-block">Required</span>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-12 my-1">
                                <label for="lineofBusinessAr">Class Of Business (Ar)</label>
                                <input id="lineofBusinessAr" class="form-control form-control-sm"
                                    formControlName="lineofBusinessAr" />
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-12 my-1">
                                <label for="abbreviation" class="asterisk-input">Abbreviation</label>
                                <input id="abbreviation" class="form-control form-control-sm"
                                    [ngClass]="{'is-invalid': (f.abbreviation?.touched || uiState.submitted) && f.abbreviation?.invalid}"
                                    formControlName="abbreviation" />
                                <span *ngIf="(f.abbreviation?.touched || uiState.submitted) && f.abbreviation?.invalid"
                                    class="invalid-feedback fw-bold mt-0 d-inline-block">Required</span>
                            </div>

                        </div>
                        <div class="container-fluid">
                            <div class="card-body px-1 py-3">
                                <div class="d-flex justify-content-end">
                                    <button type="submit" class="btn btn-sm btn-soft-success me-2">
                                        <i class="ri-add-line"></i>
                                        Add
                                    </button>
                                    <button type="button" id="sa-warning" (click)="resetLineOfBusinessForm();"
                                        class="btn btn-sm btn-soft-danger">
                                        <i class="ri-delete-bin-2-line"></i>
                                        Clear
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="ag-theme-alpine" appTableView>
    <ag-grid-angular class="gridScrollbar" style="width: 100%; height: 50vh" [gridOptions]="gridOpts">
    </ag-grid-angular>
</div>

<ng-template #LineOfBussinessContent let-modal>
    <div class="modal-header mb-0">
        <h4 class="modal-title" id="modal-basic-title">Edit Line Of Business</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>

    <form [formGroup]="LineOfBussinessForm" (ngSubmit)="submitLineOfBusinessData(LineOfBussinessForm)">
        <div class="modal-body p-1" style="overflow-y: unset !important;">
            <div class="row p-3">
                <div class="mt-3 h-100">
                    <div class="card ribbon-box border  shadow-none mb-lg-0 h-100">
                        <div class="card-body">
                            <span class="ribbon ribbon-info round-shape"><span>Line
                                    Of Business</span></span>
                            <div class="col-12 row mt-4">

                                <div class="col-12 mb-2">
                                    <label for="className" class="asterisk-input">Line Of Insurance</label>
                                    <ng-select id="className" class="is-invalid" placeholder="Select Class Of Insurance"
                                        [items]="(lookupData | async)?.InsurClasses?.content!"
                                        [loading]="lookupData ? false : true" (change)="filter($event)"
                                        [ngClass]="{'is-submitted': (f.className?.touched || uiState.submitted) && f.className?.invalid}"
                                        [clearable]="true" [searchable]="true" formControlName="className"
                                        bindLabel="name" bindValue="name">
                                    </ng-select>
                                    <span *ngIf="(f.className?.touched || uiState.submitted) && f.className?.invalid"
                                        class="invalid-feedback fw-bold mt-0 d-inline-block">Required</span>
                                </div>
                                <div class="col-12 mb-2">
                                    <label for="lineofBusiness" class="asterisk-input">Line Of Business</label>
                                    <input id="lineofBusiness" class="form-control form-control-sm"
                                        [ngClass]="{'is-invalid': (f.lineofBusiness?.touched || uiState.submitted) && f.lineofBusiness?.invalid}"
                                        formControlName="lineofBusiness" />
                                    <span
                                        *ngIf="(f.lineofBusiness?.touched || uiState.submitted) && f.lineofBusiness?.invalid"
                                        class="invalid-feedback fw-bold mt-0 d-inline-block">Required</span>
                                </div>

                                <div class="col-12 mb-2">
                                    <label for="lineofBusinessAr">Class Of Business (Ar)</label>
                                    <input id="lineofBusinessAr" class="form-control form-control-sm"
                                        formControlName="lineofBusinessAr" />

                                </div>

                                <div class="col-12 mb-2">
                                    <label for="abbreviation" class="asterisk-input">Abbreviation</label>
                                    <input id="abbreviation" class="form-control form-control-sm"
                                        [ngClass]="{'is-invalid': (f.abbreviation?.touched || uiState.submitted) && f.abbreviation?.invalid}"
                                        formControlName="abbreviation" />
                                    <span
                                        *ngIf="(f.abbreviation?.touched || uiState.submitted) && f.abbreviation?.invalid"
                                        class="invalid-feedback fw-bold mt-0 d-inline-block">Required</span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" *ngIf="uiState.editLineOfBusinessMode"
                    class="btn btn-sm btn-soft-success mx-2 d-flex align-items-center"><i
                        class="ri-edit-line mx-1"></i>Edit</button>
                <button type="button" class="btn btn-soft-danger btn-sm d-flex align-items-center"
                    (click)="modal.close()">
                    <i class="ri-close-fill"></i> Close</button>
            </div>
        </div>
    </form>
</ng-template>