@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-alpine.css";
@import "ag-grid-community/dist/styles/ag-theme-alpine-dark.css";

label.asterisk-input {
	position: relative;
	&::after {
		content: " *";
		color: #f17171;
		font-weight: bold;
	}
}

div.asterisk-div {
	position: relative;
	&::after {
		content: " *";
		position: absolute;
		right: 0;
		top: 0;
		margin-right: 10px;
		margin-top: 5px;
		color: #f17171;
		font-weight: bold;
		font-size: 18px;
	}
}

.groupsTable .ag-row {
	cursor: pointer;
}

// **** NG - SELECT ****//
.ng-select-container {
	min-height: calc(1.5em + 0.5rem + 1px) !important;
	max-height: calc(1.5em + 0.5rem + 1px) !important;
	background-color: var(--vz-input-bg) !important;
	border-color: var(--vz-input-border) !important;
}

.ng-input > input,
.ng-option-disabled,
.ng-option,
.ng-value {
	color: var(--vz-body-color) !important;
}
.ng-option-disabled,
.ng-option {
	background-color: var(--vz-input-bg) !important;
	background-color: var(--vz-input-bg) !important;
}

.ng-dropdown-panel {
	border: 1px solid var(--vz-input-border) !important;
}

.ng-option-marked {
	background-color: var(--vz-dropdown-link-hover-bg) !important;
}

.ng-select.ng-invalid.ng-touched.is-invalid .ng-select-container,
.ng-select.ng-invalid.is-submitted .ng-select-container {
	border-color: #f17171 !important;
}

.filezone-container {
	padding: 10px;
	background-color: var(--vz-card-bg);
	border: 2px dashed #878a99;
	/* border: 2px dashed rgb(133 132 132 / 23%); */
	border-radius: 10px;
	height: 270px;
	table td,
	table th {
		vertical-align: middle;
	}
	input {
		display: none;
	}
	#img-label {
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		color: #878a99;
		/* color: rgb(134, 133, 133); */
		font-size: 20px;
		font-weight: bolder;
		cursor: pointer;
		height: 100%;
		width: 100%;
		i {
			font-size: 80px;
			font-weight: 400;
		}
		div span {
			color: #878a99 !important;
		}
	}

	@media screen {
		font-size: 15px;
	}
}
.preview-multiple-imgs {
	.file-output-icon {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 35px;
		width: 70px;
		height: 70px;
	}
	table th,
	table td {
		vertical-align: middle;
	}
	&.active {
		display: block;
	}
	img {
		width: 250px;
		margin: 0 auto;
		&#file-preview {
			width: 80px;
			height: 80px;
		}
	}
}

//dragula.css
.gu-mirror {
	position: fixed !important;
	margin: 0 !important;
	z-index: 9999 !important;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	pointer-events: none;
}
/* high-performance display:none; helper */
.gu-hide {
	left: -9999px !important;
}
/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
	-webkit-user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	user-select: none !important;
}
/* added to the source element while its mirror is dragged */
.gu-transit {
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
}
