<configuration>
   <system.webServer>

      <!-- <caching>         
         <profiles>
            <add varybyquerystring="/" location="Any" duration="10:00:00" policy="CacheForTimePeriod">
         </profiles>
      </caching> -->

      <staticContent>
         <!-- <clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="500.00:00:00" /> -->
         <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
      </staticContent>
      <modules runAllManagedModulesForAllRequests="true"/>
         <cors enabled="true" failUnlistedOrigins="true">
            <add origin="*" />
        </cors>
      <rewrite>
         <rules>

            <!-- HTTPS Redirection Rule -->
             <rule name="Redirect to https" stopProcessing="true">
               <match url=".*" />
               <conditions>
                  <add input="{HTTPS}" pattern="off" ignoreCase="true" />
               </conditions>
               <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
            </rule> 

            <!-- Angular Routes Configuration Rule -->
            <rule name="Angular Routes" stopProcessing="true">
               <match url=".*" />
               <conditions logicalGrouping="MatchAll">
                  <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                  <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
               </conditions>
               <action type="Rewrite" url="/index.html" />
            </rule>

         </rules>
      </rewrite>

      <httpErrors>
      </httpErrors>
      
   </system.webServer>
</configuration>
