<form class="mb-4" [formGroup]="ClaimsStatusForm" (ngSubmit)="submitClaimsStatusData(ClaimsStatusForm)"
    autocomplete="off">
    <ngb-accordion #acc="ngbAccordion" activeIds="1">
        <!-- Line Of Business -->
        <ngb-panel id="1" title="Claims Status" cardClass="open my-4">
            <ng-template ngbPanelContent="1">
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
                    <div class="container-fluid mb-3">
                        <div class="card ribbon-box border shadow-none mb-lg-0 h-100">
                            <div class="card-body">
                                <div class="ribbon ribbon-info round-shape">
                                    Claims Status
                                </div>
                                <div class="row my-4">

                                    <div class="col-lg-6 col-md-6 col-sm-12 my-1">
                                        <label for="status" class="asterisk-input">Status</label>
                                        <ng-select id="status" class="form-control-sm is-invalid"
                                            placeholder="Select Status" formControlName="status" bindValue="name"
                                            bindLabel="name" (change)="filter($event)"
                                            [loading]="lookupData ? false : true"
                                            [items]="(lookupData | async)?.ClaimStatus?.content!">
                                        </ng-select>
                                        <span *ngIf="(f.status?.touched || uiState.submitted) && f.status?.invalid"
                                            class="invalid-feedback fw-bold mt-0 d-inline-block">Required</span>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-12 my-1">
                                        <label for="claimNotes" class="asterisk-input">Notes</label>
                                        <input id="claimNotes" class="form-control form-control-sm"
                                            [ngClass]="{'is-invalid': (f.claimNotes?.touched || uiState.submitted) && f.claimNotes?.invalid}"
                                            formControlName="claimNotes" />
                                        <span
                                            *ngIf="(f.claimNotes?.touched || uiState.submitted) && f.claimNotes?.invalid"
                                            class="invalid-feedback fw-bold mt-0 d-inline-block">Required</span>
                                    </div>

                                </div>

                                <div class="card">
                                    <div class="container-fluid">
                                        <div class="card-body px-1 py-3">
                                            <div class="d-flex justify-content-end">
                                                <button type="submit" class="btn btn-sm btn-success me-2">
                                                    <i class="ri-add-line"></i>
                                                    Add
                                                </button>
                                                <button type="button" id="sa-warning" (click)="resetClaimsStatusForm();"
                                                    class="btn btn-sm btn-soft-danger">
                                                    <i class="ri-delete-bin-2-line"></i>
                                                    Clear
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>
</form>

<div class="ag-theme-alpine" appTableView>
    <ag-grid-angular class="gridScrollbar" style="width: 100%; height: 40vh" [gridOptions]="gridOpts">
    </ag-grid-angular>
</div>

<ng-template #ClaimsStatusContent let-modal>
    <div class="modal-header mb-0">
        <h4 class="modal-title" id="modal-basic-title">Edit Claims Status</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>

    <form [formGroup]="ClaimsStatusForm" (ngSubmit)="submitClaimsStatusData(ClaimsStatusForm)">
        <div class="modal-body p-1" style="overflow-y: unset !important;">
            <div class="row p-3">
                <div class="col-12 row">

                    <div class="col-lg-12 col-md-12 col-sm-12 my-1">
                        <label for="status" class="asterisk-input">Status</label>
                        <ng-select id="status" class="form-control-sm is-invalid" placeholder="Select Status"
                            formControlName="status" bindValue="name" bindLabel="name" (change)="filter($event)"
                            [loading]="lookupData ? false : true" [items]="(lookupData | async)?.ClaimStatus?.content!">
                        </ng-select>
                        <span *ngIf="(f.status?.touched || uiState.submitted) && f.status?.invalid"
                            class="invalid-feedback fw-bold mt-0 d-inline-block">Required</span>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 my-1">
                        <label for="claimNotes">Status Notes</label>
                        <input id="claimNotes" class="form-control form-control-sm"
                            [ngClass]="{'is-invalid': (f.claimNotes?.touched || uiState.submitted) && f.claimNotes?.invalid}"
                            formControlName="claimNotes" />
                        <span *ngIf="(f.claimNotes?.touched || uiState.submitted) && f.claimNotes?.invalid"
                            class="invalid-feedback fw-bold mt-0 d-inline-block">Required</span>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" *ngIf="uiState.editClaimsStatusMode"
                    class="btn btn-sm btn-success mx-2 d-flex align-items-center"><i
                        class="ri-edit-line mx-1"></i>Edit</button>
                <button type="button" class="btn btn-outline-danger btn-sm" (click)="modal.close()">Close</button>
            </div>
        </div>
    </form>
</ng-template>