<form
  [formGroup]="formGroup"
  autocomplete="off"
  (ngSubmit)="submitForm()"
  id="AddLeadForm"
>
  {{ formGroup.value | json }}
  <ngb-accordion #acc="ngbAccordion" activeIds="1,2,3,4">
    <!-- start sales lead details acc   -->
    <ngb-panel id="1" title="Sales Lead Details" cardClass="open my-4">
      <ng-template ngbPanelContent>
        <div
          id="collapseOne"
          class="accordion-collapse collapse show"
          aria-labelledby="headingOne"
        >
          <div class="container-fluid mb-3">
            <div class="card ribbon-box border shadow-none mb-lg-0 pb-1">
              <div class="card-body">
                <div class="ribbon ribbon-info round-shape">Lead Details</div>
                <div class="ribbon-content mt-4 text-muted">
                  <!-- Lead Type Row -->
                  <div class="row my-2">
                    <div class="col-sm-2 col-md-2 col-lg-2">Lead Type:</div>
                    <div class="col-sm-10 col-md-10 col-lg-10 d-flex">
                      <div class="form-check me-5">
                        <input
                          formControlName="leadType"
                          class="form-check-input"
                          type="radio"
                          value="New"
                          id="leadTypeNew"
                          checked
                        />
                        <label for="leadTypeNew" class="form-check-label"
                          >New</label
                        >
                      </div>
                      <div class="form-check">
                        <input
                          formControlName="leadType"
                          class="form-check-input"
                          type="radio"
                          value="Renewal"
                          id="leadTypeRen"
                        />
                        <label for="leadTypeRen" class="form-check-label"
                          >Renewal</label
                        >
                      </div>
                    </div>
                  </div>
                  <!-- /row -->
                  <!-- Client | Group & Producer row  -->
                  <div class="row my-2">
                    <!-- col check client | group -->
                    <div
                      class="col-sm-2 col-md-5 col-lg-2 d-flex flex-column my-1"
                    >
                      <div class="form-check mb-2">
                        <input
                          name="check"
                          class="form-check-input"
                          type="radio"
                          id="client"
                          (change)="changeToClient()"
                          checked
                        />
                        <label for="client" class="form-check-label"
                          >Client</label
                        >
                      </div>
                      <div class="form-check">
                        <input
                          name="check"
                          class="form-check-input"
                          type="radio"
                          id="group"
                          (change)="changeToGroup()"
                        />
                        <label for="group" class="form-check-label"
                          >Group</label
                        >
                      </div>
                    </div>
                    <!-- /col -->
                    <!-- col select client | group -->
                    <div class="col-sm-10 col-md-7 col-lg-5 d-flex flex-column">
                      <label for="client" class="asterisk-input">
                        {{ uiState.isClient ? "Client" : "Group" }}</label
                      >
                      <div class="input-group input-group-sm">
                        <ng-select
                          #clintSelect
                          id="client"
                          formControlName="name"
                          bindValue="name"
                          bindLabel="name"
                          class="form-control form-control-sm"
                          aria-describedby="inputGroup-sizing-sm"
                          (change)="getClientId($event)"
                          [loading]="formData ? false : true"
                          [items]="
                            uiState.isClient
                              ? (formData | async)?.AllClients?.content!
                              : (formData | async)?.GroupsList?.content!
                          "
                          [ngClass]="{
                            'is-submitted': submitted && f.name?.invalid
                          }"
                          placeholder="{{
                            uiState.isClient ? 'Select Client' : 'Select Group'
                          }}"
                        >
                          <ng-template ng-option-tmp let-item="item">
                            <div>{{ item.id }} | {{ item.name }}</div>
                          </ng-template>
                        </ng-select>
                        <button
                          class="input-group-text btn-outline-success btn-sm"
                          id="inputGroup-sizing-sm"
                          [title]="
                            uiState.isClient
                              ? 'Add New Client'
                              : 'Add New Group'
                          "
                          [routerLink]="
                            uiState.isClient
                              ? '/clients/create'
                              : '/clients/groups'
                          "
                        >
                          <i class="ri-user-add-line align-middle"></i>
                        </button>
                      </div>
                      <div
                        class="invalid-feedback fw-bold d-block"
                        *ngIf="
                          (f.name?.touched || submitted) && f.name?.invalid
                        "
                      >
                        Required
                      </div>
                    </div>
                    <!-- /col -->
                    <!-- col producer -->
                    <div class="col-sm-10 col-md-7 col-lg-5 d-flex flex-column">
                      <label for="producer" class="asterisk-input">
                        Producer</label
                      >
                      <ng-select
                        id="Producer"
                        class="form-control-sm"
                        placeholder="Select Producer"
                        formControlName="producer"
                        bindValue="name"
                        bindLabel="name"
                        [loading]="formData ? false : true"
                        [items]="(formData | async)?.Producers?.content!"
                        [ngClass]="{
                          'is-submitted': submitted && f.producer?.invalid
                        }"
                      >
                      </ng-select>
                      <div
                        class="invalid-feedback fw-bold d-block"
                        *ngIf="
                          (f.producer?.touched || submitted) &&
                          f.producer?.invalid
                        "
                      >
                        Required
                      </div>
                    </div>
                    <!-- /col -->
                  </div>
                  <!-- /row -->
                </div>
              </div>
            </div>
            <!-- insurance Det & Currently Insured row  -->
            <div class="row my-2">
              <div class="col-lg-6 my-2">
                <div class="card ribbon-box border shadow-none mb-lg-0 pb-1">
                  <div class="card-body">
                    <div class="ribbon ribbon-info round-shape">
                      Insurance Details
                    </div>
                    <div class="ribbon-content mt-4 text-muted">
                      <div class="row">
                        <div
                          class="col-sm-12 col-md-6 col-lg-6 my-2 d-flex flex-column"
                        >
                          <label for="classOfInc" class="asterisk-input">
                            Class of Insurance</label
                          >
                          <ng-select
                            id="classOfInc"
                            class="form-control-sm"
                            placeholder="Select Class Of Insurance"
                            formControlName="classOfBusiness"
                            bindValue="name"
                            bindLabel="name"
                            [loading]="formData ? false : true"
                            [items]="(formData | async)?.InsurClasses?.content!"
                            [ngClass]="{
                              'is-submitted':
                                submitted && f.classOfBusiness?.invalid
                            }"
                            (change)="getLineOfBusiness($event.name)"
                          >
                          </ng-select>
                          <div
                            class="invalid-feedback fw-bold d-block"
                            *ngIf="
                              (f.classOfBusiness?.touched || submitted) &&
                              f.classOfBusiness?.invalid
                            "
                          >
                            Required
                          </div>
                        </div>
                        <div
                          class="col-sm-12 col-md-6 col-lg-6 my-2 d-flex flex-column"
                        >
                          <label for="lineOfBus" class="asterisk-input">
                            Line of Business</label
                          >
                          <ng-select
                            id="lineOfBus"
                            class="form-control-sm"
                            placeholder="Select Lien Of Business"
                            formControlName="lineOfBusiness"
                            bindValue="name"
                            bindLabel="name"
                            [loading]="formData ? false : true"
                            [items]="lineOfBussArr"
                            [ngClass]="{
                              'is-submitted':
                                submitted && f.lineOfBusiness?.invalid
                            }"
                          >
                          </ng-select>
                          <div
                            class="invalid-feedback fw-bold d-block"
                            *ngIf="
                              (f.lineOfBusiness?.touched || submitted) &&
                              f.lineOfBusiness?.invalid
                            "
                          >
                            Required
                          </div>
                        </div>
                        <div
                          class="col-sm-12 col-md-6 col-lg-6 my-2 d-flex flex-column"
                        >
                          <label for="estPremium">Estimated Premium</label>
                          <div class="input-group input-group-sm">
                            <input
                              type="number"
                              class="form-control form-control-sm"
                              aria-describedby="inputGroup-sizing-sm"
                              formControlName="estimatedPremium"
                            />
                            <span
                              class="input-group-text"
                              id="inputGroup-sizing-sm"
                              >SAR</span
                            >
                          </div>
                        </div>
                        <!-- col Deadline -->
                        <div
                          class="col-sm-12 col-md-6 col-lg-6 my-2 d-flex flex-column"
                        >
                          <label
                            for="deadline"
                            [ngClass]="{
                              'asterisk-input': uiState.isDeadline
                            }"
                            >Deadline</label
                          >
                          <div class="input-group input-group-sm">
                            <span
                              class="input-group-text"
                              id="inputGroup-sizing-sm"
                            >
                              <input
                                type="checkbox"
                                class="form-check-input-sm"
                                value="true"
                                formControlName="chDeadlinebool"
                                (change)="toggleDeadline($event)"
                            /></span>

                            <input
                              type="text"
                              ngbDatepicker
                              #d="ngbDatepicker"
                              placeholder="yyyy-mm-dd"
                              class="form-control form-control-sm"
                              (click)="d.toggle()"
                              formControlName="deadLine"
                              [ngClass]="{
                                'is-invalid': submitted && f.deadLine?.invalid
                              }"
                              readonly
                            />

                            <button
                              class="btn btn-outline-secondary ri-calendar-2-line"
                              type="button"
                              (click)="d.toggle()"
                            ></button>
                          </div>
                          <div
                            class="invalid-feedback fw-bold d-block"
                            *ngIf="
                              (f.deadLine?.touched || submitted) &&
                              f.deadLine?.invalid
                            "
                          >
                            Required
                          </div>
                        </div>
                        <!-- /col -->
                        <!-- col Insurance Companies -->
                        <div class="col-sm-12 my-2 d-flex flex-column">
                          <label for="PrefInCompnies"
                            >Preferred Insurance Companies</label
                          >
                          <ng-select
                            id="PrefInCompnies"
                            class="form-control-sm"
                            placeholder="Choose Companies"
                            formControlName="preferedInsurComapnies"
                            bindLabel="name"
                            bindValue="name"
                            [multiple]="true"
                            [items]="
                              (formData | async)?.InsuranceCompanyName?.content!
                            "
                            [loading]="formData ? false : true"
                            (change)="getQuotingArr($event)"
                          >
                          </ng-select>
                        </div>
                        <!-- /col -->
                        <!-- col Acc Details -->
                        <div class="col-sm-12 my-2 d-flex flex-column">
                          <label for="accDetails" class="asterisk-input"
                            >Account Details (Business size ...etc)</label
                          >
                          <textarea
                            id="accDetails"
                            class="form-control form-control-sm"
                            rows="3"
                            formControlName="policyDetails"
                            [ngClass]="{
                              'is-invalid':
                                submitted && f.policyDetails?.invalid
                            }"
                          ></textarea>
                        </div>
                        <div
                          class="invalid-feedback fw-bold d-block"
                          *ngIf="
                            (f.policyDetails?.touched || submitted) &&
                            f.policyDetails?.invalid
                          "
                        >
                          Required
                        </div>
                        <!-- /col -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Currently Insured Section -->
              <div class="col-lg-6 my-2">
                <div class="card ribbon-box border shadow-none mb-lg-0 pb-1">
                  <div class="card-body">
                    <div class="ribbon ribbon-info round-shape d-flex">
                      <input
                        type="checkbox"
                        class="form-check-input-sm me-1"
                        (change)="toggleCurInsured($event)"
                      />
                      <span>Currently Insured</span>
                    </div>
                    <div class="ribbon-content mt-4 text-muted">
                      <div class="row">
                        <!-- col Expiry Date   -->
                        <div class="col-sm-12 col-md-6 col-lg-6">
                          <label
                            for="expiryDate"
                            [ngClass]="{
                              'asterisk-input': uiState.isCurrentIns
                            }"
                            >Expiry Date</label
                          >
                          <div class="input-group input-group-sm">
                            <input
                              type="text"
                              ngbDatepicker
                              #d2="ngbDatepicker"
                              placeholder="yyyy-mm-dd"
                              class="form-control form-control-sm"
                              (click)="d2.toggle()"
                              formControlName="existingPolExpDate"
                              [ngClass]="{
                                'is-invalid':
                                  submitted && f.existingPolExpDate?.invalid
                              }"
                              readonly
                            />

                            <button
                              class="btn btn-outline-secondary ri-calendar-2-line"
                              type="button"
                              (click)="d2.toggle()"
                            ></button>
                            <div
                              class="invalid-feedback fw-bold d-block"
                              *ngIf="
                                (f.existingPolExpDate?.touched || submitted) &&
                                f.existingPolExpDate?.invalid
                              "
                            >
                              Required
                            </div>
                          </div>
                        </div>
                        <!-- /col -->
                        <!-- col Policy No  -->
                        <div class="col-sm-12 col-md-6 col-lg-6">
                          <label
                            for="policyNo"
                            [ngClass]="{
                              'asterisk-input': uiState.isCurrentIns
                            }"
                            >Policy No</label
                          >
                          <input
                            id="policyNo"
                            type="text"
                            class="form-control form-control-sm"
                            formControlName="currentPolicyNo"
                            [ngClass]="{
                              'is-invalid':
                                submitted && f.currentPolicyNo?.invalid
                            }"
                          />
                          <div
                            class="is-invalid invalid-feedback fw-bold d-block"
                            *ngIf="
                              (f.currentPolicyNo?.touched || submitted) &&
                              f.currentPolicyNo?.invalid
                            "
                          >
                            Required
                          </div>
                        </div>

                        <!-- /col -->
                        <!-- col current insurance broker -->
                        <div class="col-sm-12 my-2">
                          <label
                            for="curIncBroker"
                            [ngClass]="{
                              'asterisk-input': uiState.isCurrentIns
                            }"
                            >Current Insurance Broker
                          </label>
                          <ng-select
                            id="curIncBroker"
                            class="form-control-sm"
                            placeholder="Select Current Broker"
                            formControlName="currentBroker"
                            bindLabel="name"
                            bindValue="name"
                            [ngClass]="{
                              'is-invalid':
                                submitted && f.currentBroker?.invalid
                            }"
                            [items]="
                              (formData | async)?.InsuranceBrokersList?.content!
                            "
                            [loading]="formData ? false : true"
                          >
                          </ng-select>
                          <div
                            class="is-invalid invalid-feedback fw-bold d-block"
                            *ngIf="
                              (f.currentBroker?.touched || submitted) &&
                              f.currentBroker?.invalid
                            "
                          >
                            Required
                          </div>
                        </div>
                        <!-- /col -->
                        <!-- col current insurance company -->
                        <div class="col-sm-12 my-2">
                          <label
                            for="curIncCompany "
                            [ngClass]="{
                              'asterisk-input': uiState.isCurrentIns
                            }"
                            >Current Insurance Company
                          </label>
                          <ng-select
                            id="curIncCompany"
                            class="form-control-sm"
                            placeholder="Select Current Company"
                            formControlName="currentInsurer"
                            bindLabel="name"
                            bindValue="name"
                            [ngClass]="{
                              'is-submitted':
                                submitted && f.currentInsurer?.invalid
                            }"
                            [items]="
                              (formData | async)?.InsuranceCompanyName?.content!
                            "
                            [loading]="formData ? false : true"
                          >
                          </ng-select>
                          <div
                            class="is-invalid invalid-feedback fw-bold d-block"
                            *ngIf="
                              (f.currentInsurer?.touched || submitted) &&
                              f.currentInsurer?.invalid
                            "
                          >
                            Required
                          </div>
                        </div>
                        <!-- /col -->
                        <!-- col  existing policy details -->
                        <div class="col-sm-12 my-2 d-flex flex-column">
                          <label
                            for="polDetails"
                            [ngClass]="{
                              'asterisk-input': uiState.isCurrentIns
                            }"
                            >Existing Policy Details (Business
                            size,...etc)</label
                          >
                          <textarea
                            id="polDetails"
                            class="form-control form-control-sm"
                            rows="4"
                            formControlName="existingPolDetails"
                            [ngClass]="{
                              'is-invalid':
                                submitted && f.existingPolDetails?.invalid
                            }"
                          ></textarea>
                          <div
                            class="is-invalid invalid-feedback fw-bold d-block"
                            *ngIf="
                              (f.existingPolDetails?.touched || submitted) &&
                              f.existingPolDetails?.invalid
                            "
                          >
                            Required
                          </div>
                        </div>
                        <!-- /col -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /row -->
          </div>
        </div>
      </ng-template>
    </ngb-panel>
    <!-- end sales lead details acc -->
    <!-- start requirement acc -->
    <ngb-panel id="2" title="Requirement" cardClass="open my-4">
      <ng-template ngbPanelContent>
        <div
          id="collapseOne"
          class="accordion-collapse collapse show"
          aria-labelledby="headingTwo"
        >
          <div class="container-fluid mb-3">
            <div class="row my-2">
              <div class="col-lg-6">
                <div class="card ribbon-box border shadow-none mb-lg-0 pb-1">
                  <div class="card-body">
                    <div class="ribbon ribbon-info round-shape">Quoting</div>
                    <div class="ribbon-content mt-4 text-muted">
                      <div class="row my-2">
                        <!-- col select company  -->
                        <div class="col-12 mt-2">
                          <div class="input-group input-group-sm">
                            <ng-select
                              class="form-control form-control-sm"
                              aria-describedby="inputGroup-sizing-sm"
                              placeholder="Select company"
                              bindLabel="name"
                              bindValue="name"
                              [items]="quotingArr"
                              (change)="quotCompany($event.name)"
                            >
                            </ng-select>

                            <button
                              class="input-group-text btn-outline-success btn-sm"
                              id="inputGroup-sizing-sm"
                              title="Search Company"
                              type="button"
                              (click)="getQuotRequirements()"
                            >
                              <i class="ri-search-line align-middle"></i>
                            </button>
                          </div>
                        </div>
                        <!-- /col -->
                        <!-- col start table -->
                        <div class="col-12 table-responsive my-2">
                          <table class="table table-nowrap">
                            <thead class="table-light">
                              <tr>
                                <th>
                                  <div>
                                    <input
                                      type="checkbox"
                                      class="text-dark form-check-input"
                                    />
                                  </div>
                                </th>
                                <th>Company</th>
                                <th>Item</th>
                              </tr>
                            </thead>
                            <tbody></tbody>
                          </table>
                        </div>
                        <!-- col end table -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="card ribbon-box border shadow-none mb-lg-0 pb-1">
                  <div class="card-body">
                    <div class="ribbon ribbon-info round-shape">
                      Policy Issuance
                    </div>
                    <div class="ribbon-content mt-4 text-muted">
                      <div class="row my-2">
                        <!-- col select company  -->
                        <div class="col-12 mt-2">
                          <div class="input-group input-group-sm">
                            <ng-select
                              class="form-control form-control-sm"
                              aria-describedby="inputGroup-sizing-sm"
                              placeholder="Select company"
                              [items]="quotingArr"
                            >
                            </ng-select>

                            <button
                              class="input-group-text btn-outline-success btn-sm"
                              id="inputGroup-sizing-sm"
                              title="Search Company"
                            >
                              <i class="ri-search-line align-middle"></i>
                            </button>
                          </div>
                        </div>
                        <!-- /col -->
                        <!-- col start table -->
                        <div class="col-12 table-responsive my-2">
                          <table class="table table-nowrap">
                            <thead class="table-light">
                              <tr>
                                <th>
                                  <div>
                                    <input
                                      type="checkbox"
                                      class="text-dark form-check-input"
                                    />
                                  </div>
                                </th>
                                <th>Company</th>
                                <th>Item</th>
                              </tr>
                            </thead>
                            <tbody></tbody>
                          </table>
                        </div>
                        <!-- col end table -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-panel>
    <!-- end requirement acc -->
    <!-- start lead activities acc   -->
    <ngb-panel id="3" title="Lead Activities" cardClass="open my-4">
      <ng-template ngbPanelContent>
        <div
          id="collapseOne"
          class="accordion-collapse collapse show"
          aria-labelledby="headingThree"
        >
          <div class="container-fluid mb-3">
            <div class="row my-2">
              <!-- col activity log -->
              <div class="col-lg-6 my-2">
                <div class="card ribbon-box border shadow-none mb-lg-0 pb-1">
                  <div class="card-body">
                    <div class="ribbon ribbon-info round-shape">
                      Activity Log
                    </div>

                    <div class="ribbon-content mt-2 text-muted">
                      <div class="d-flex justify-content-end">
                        <button
                          (click)="addActivityLog()"
                          type="button"
                          class="btn btn-sm btn-soft-primary bg-gradient waves-effect waves-light"
                        >
                          Add Log
                        </button>
                      </div>
                      <div class="table-responsive">
                        <table class="table table-nowrap mt-2">
                          <thead class="table-light text-center">
                            <tr>
                              <th>Type</th>
                              <th>Date</th>
                              <th>Note</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody formArrayName="salesActivityLogList">
                            <tr
                              *ngFor="
                                let c of activityLogArray.controls;
                                index as i
                              "
                            >
                              <ng-container [formGroupName]="i">
                                <td>
                                  <div>
                                    <ng-select
                                      appendTo="body"
                                      class="form-control-sm"
                                      placeholder="log Type"
                                      dropdownPosition="top"
                                      formControlName="logType"
                                      bindLabel="name"
                                      bindValue="name"
                                      [ngClass]="{
                                        'is-submitted':
                                          submitted &&
                                          activityLogControls(i, 'logType')
                                            .invalid
                                      }"
                                      [items]="
                                        (formData | async)?.LogType?.content!
                                      "
                                      [loading]="formData ? false : true"
                                    ></ng-select>

                                    <div
                                      class="invalid-feedback fw-bold d-block"
                                      *ngIf="
                                        (activityLogControls(i, 'logType')
                                          .touched ||
                                          submitted) &&
                                        activityLogControls(i, 'logType')
                                          .invalid
                                      "
                                    >
                                      Required
                                    </div>
                                  </div>
                                </td>
                                <td>
                                  <div
                                    class="input-group input-group-sm custom-inp-group"
                                  >
                                    <input
                                      type="text"
                                      ngbDatepicker
                                      #d3="ngbDatepicker"
                                      placeholder="yyyy-mm-dd"
                                      class="form-control form-control-sm"
                                      (click)="d3.toggle()"
                                      formControlName="logDate"
                                      [ngClass]="{
                                        'is-invalid':
                                          submitted &&
                                          activityLogControls(i, 'logDate')
                                            .invalid
                                      }"
                                    />

                                    <button
                                      class="btn btn-outline-secondary ri-calendar-2-line"
                                      type="button"
                                      (click)="d3.toggle()"
                                    ></button>
                                  </div>
                                  <div
                                    class="invalid-feedback fw-bold d-block"
                                    *ngIf="
                                      (activityLogControls(i, 'logDate')
                                        .touched ||
                                        submitted) &&
                                      activityLogControls(i, 'logDate').invalid
                                    "
                                  >
                                    Required
                                  </div>
                                </td>
                                <td>
                                  <div>
                                    <textarea
                                      class="form-control form-control-sm"
                                      rows="1"
                                      formControlName="logNotes"
                                      [ngClass]="{
                                        'is-invalid':
                                          submitted &&
                                          activityLogControls(i, 'logNotes')
                                            .invalid
                                      }"
                                    ></textarea>
                                  </div>
                                  <div
                                    class="invalid-feedback fw-bold d-block"
                                    *ngIf="
                                      (activityLogControls(i, 'logNotes')
                                        .touched ||
                                        submitted) &&
                                      activityLogControls(i, 'logNotes').invalid
                                    "
                                  >
                                    Required
                                  </div>
                                </td>
                                <td class="text-center">
                                  <div>
                                    <button
                                      type="button"
                                      class="btn btn-sm btn-soft-danger"
                                      (click)="remove(i, 'activityLog')"
                                    >
                                      <i class="ri-delete-bin-2-line"></i>
                                    </button>
                                  </div>
                                </td>
                              </ng-container>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /col -->
              <!-- col competitors -->
              <div class="col-lg-6 my-2">
                <div class="card ribbon-box border shadow-none mb-lg-0 pb-1">
                  <div class="card-body">
                    <div class="ribbon ribbon-info round-shape">
                      Competitors
                    </div>

                    <div class="ribbon-content mt-2 text-muted">
                      <div class="d-flex justify-content-end">
                        <button
                          (click)="addCompetitor()"
                          type="button"
                          class="ms-auto btn btn-sm btn-soft-primary bg-gradient waves-effect waves-light"
                        >
                          Add Competitors
                        </button>
                      </div>
                      <div class="table-responsive">
                        <table class="table table-nowrap mt-2">
                          <thead class="table-light text-center">
                            <tr>
                              <th>Competitors</th>
                              <th>Note</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody formArrayName="salesLeadCompetitorsList">
                            <tr
                              *ngFor="
                                let c of competitorsArray.controls;
                                index as i
                              "
                            >
                              <ng-container [formGroupName]="i">
                                <td>
                                  <div>
                                    <input
                                      type="text"
                                      class="form-control form-control-sm py-0"
                                      formControlName="competitor"
                                      [ngClass]="{
                                        'is-invalid':
                                          submitted &&
                                          competitorControls(i, 'competitor')
                                            .invalid
                                      }"
                                    />
                                  </div>
                                  <div
                                    class="invalid-feedback fw-bold d-block"
                                    *ngIf="
                                      (competitorControls(i, 'competitor')
                                        .touched ||
                                        submitted) &&
                                      competitorControls(i, 'competitor')
                                        .invalid
                                    "
                                  >
                                    Required
                                  </div>
                                </td>

                                <td>
                                  <div>
                                    <textarea
                                      class="form-control form-control-sm"
                                      rows="1"
                                      formControlName="competitorNotes"
                                    ></textarea>
                                  </div>
                                </td>
                                <td class="text-center">
                                  <div>
                                    <button
                                      type="button"
                                      class="btn btn-sm btn-soft-danger"
                                      (click)="remove(i, 'competitor')"
                                    >
                                      <i class="ri-delete-bin-2-line"></i>
                                    </button>
                                  </div>
                                </td>
                              </ng-container>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /col -->
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-panel>
    <!-- end lead activities acc  -->
    <!-- start Document acc -->
    <ngb-panel id="4" title="Documents" cardClass="open my-4">
      <ng-template ngbPanelContent="6">
        <app-dropzone
          [UploadedFiles]="docs"
          (files)="documentsList($event)"
          #dropzone
        ></app-dropzone>
      </ng-template>
    </ngb-panel>
    <!-- end document acc -->
  </ngb-accordion>

  <!-- branch -->
  <div class="card">
    <div class="container-fluid">
      <div class="card-body px-1 py-3">
        <div class="row my-2">
          <div class="col-sm-4">
            <div class="form-check">
              <input
                type="checkbox"
                formControlName="sendToUW"
                id="sentTo"
                class="form-check-input"
                (change)="checkSentUW($event)"
              />
              <label for="sentTo">Send to U / W</label>
            </div>
          </div>
          <div class="col-sm-4">
            <ng-select
              placeholder="Choose Branch"
              class="form-control form-control-sm"
              bindLabel="name"
              bindValue="name"
              [items]="(formData | async)?.Branch?.content!"
              [loading]="formData ? false : true"
            >
            </ng-select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Buttons -->
  <div class="card">
    <div class="container-fluid">
      <div class="card-body px-1 py-3">
        <div class="d-flex justify-content-end">
          <button type="submit" class="btn btn-sm btn-success me-2">
            <i class="ri-save-2-fill"></i>
            Save
          </button>
          <button
            type="button"
            id="sa-warning"
            class="btn btn-sm btn-soft-danger"
          >
            <i class="ri-delete-bin-2-line"></i>
            Clear
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
