.ng-select.form-control-sm {
  padding: 0 !important;
  border: unset !important;
}
.input-right {
  direction: rtl;
}
.custom-btn {
  position: absolute;
  right: 2px;
  top: 5px;
}

.custom-inp-group {
  position: unset !important;
}
