<div class="row justify-content-between align-items-center mb-3">
    <div class="col-lg-4 col-md-6 col-sm-12 form-group row align-items-center">
        <div class="col-7 form-group row align-items-center">
            <label class="col-sm-4 col-form-label" for="pagingSizeSelect">Show: </label>
            <div class="col-sm-8">
                <ng-select (change)="onPageSizeChange()" [clearable]="false" [searchable]="false" id="pagingSizeSelect"
                    [(ngModel)]="uiState.filters.pageSize">
                    <ng-option [value]="25">25</ng-option>
                    <ng-option [value]="50">50</ng-option>
                    <ng-option [value]="100">100</ng-option>
                    <ng-option [value]="150">150</ng-option>
                    <ng-option [value]="200">200</ng-option>
                </ng-select>
            </div>
        </div>
        <div class="col">
            <button (click)="exportExcelFile()" class="btn btn-sm btn-outline-primary"><i
                    class="bx bxs-file-export"></i> Copy
                to Excel</button>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12 d-flex justify-content-end">
        <button class="btn btn-sm btn-info mx-2 d-flex align-items-center" (click)="openPoliciesFilter()"><i
                class="ri-filter-3-line me-1"></i>
            Filters
        </button>
        <a [routerLink]="'/' + uiState.routerLink.forms" class="btn btn-sm btn-success  d-flex align-items-center"
            *ngIf="!(permissions$ | async)?.includes(uiState.privileges.ChProductionReadOnly)">
            <i class="ri-add-line me-1"></i> New Policy
        </a>
    </div>
</div>

<div>
    <div class="ag-theme-alpine" appTableView>
        <ag-grid-angular class="gridScrollbar" style="width: 100%; height: 75vh" [gridOptions]="gridOpts">
        </ag-grid-angular>
    </div>
</div>



<!----------------------------------  --------------------
                      Policy Filter
-------------------------------------------------------->
<div>
    <ng-template #filter let-offcanvas>
        <div class="offcanvas-header">
            <h4 class="offcanvas-title fs-4">Filters</h4>
            <button type="button" class="btn-close" aria-label="Close"
                (click)="offcanvas.dismiss('Cross click')"></button>
        </div>
        <div class="offcanvas-body">
            <form class="row justify-content-center" [formGroup]="filterForm">
                <!-- Policy Status -->
                <div class="col-12 mb-3">


                    <div class="d-flex justify-content-between align-items-center">
                        <label for="policyStatus" class="form-label">Policy Status</label>
                        <div>
                            <label for="checkall1" class="mx-2">Select All</label>
                            <input type="checkbox" id="checkall1" [formControl]="allStatusControl"
                                (change)="checkAllToggler(allStatusControl.value!,'policyStatus')">
                        </div>
                    </div>

                    <ng-select [items]="(lookupData | async)?.PolicyStatus?.content!"
                        [loading]="lookupData ? false : true" [clearable]="false" [searchable]="true" bindLabel="name"
                        [closeOnSelect]="false" [hideSelected]="true" [multiple]="true" bindValue="name"
                        id="policyStatus" formControlName="status"
                        [ngClass]="{'is-submitted': (f.status?.touched || uiState.submitted) && f.status?.invalid}">
                    </ng-select>
                    <span class="invalid-feedback fw-bold mt-0"
                        *ngIf="(f.status?.touched || uiState.submitted) && f.status?.invalid">Required</span>
                </div>
                <!-- Branch -->
                <div class="col-12 mb-3">
                    <label for="branchName" class="form-label">Branch</label>
                    <ng-select [items]="(lookupData | async)?.Branch?.content!" [loading]="lookupData ? false : true"
                        [clearable]="true" [searchable]="true" bindLabel="name" bindValue="name" id="branchName"
                        [readonly]="!(permissions$ | async)?.includes(uiState.privileges.ViewAllBranchs)!"
                        formControlName="branch">
                    </ng-select>
                </div>
                <!-- Our Ref -->
                <div class="col-12 mb-3">
                    <label for="ourRefInput" class="form-label">Our Ref</label>
                    <input type="text" class="form-control form-control-sm" id="ourRefInput" placeholder="Our Ref"
                        formControlName="ourRef" />
                </div>
                <!-- Client Name -->
                <div class="col-12 mb-3">
                    <label for="clientName" class="form-label">Client Name</label>
                    <ng-select [items]="(lookupData | async)?.ClientsList?.content!"
                        [loading]="lookupData ? false : true" [clearable]="true" [searchable]="true" bindLabel="name"
                        bindValue="name" id="clientName" formControlName="clientName">
                    </ng-select>
                </div>
                <!-- Producer -->
                <div class="col-12 mb-3">
                    <label for="producerName" class="form-label">Producer</label>
                    <ng-select [items]="(lookupData | async)?.Producers?.content!" [loading]="lookupData ? false : true"
                        [clearable]="true" [searchable]="true" bindLabel="name" bindValue="name" [multiple]="true"
                        [closeOnSelect]="false" [hideSelected]="true" id="producerName" formControlName="producer"
                        [readonly]="!(permissions$ | async)?.includes(uiState.privileges.ChAccessAllProducersProduction)!">
                    </ng-select>
                </div>
                <!-- Insurance Company -->
                <div class="col-12 mb-3">
                    <label for="insurCompany" class="form-label">Insurance Company</label>
                    <ng-select [items]="(lookupData | async)?.InsuranceCompanies?.content!" [multiple]="true"
                        [hideSelected]="true" [closeOnSelect]="false" [loading]="lookupData ? false : true"
                        [clearable]="true" [searchable]="true" bindLabel="name" bindValue="name" id="insurCompany"
                        formControlName="insurCompany">
                    </ng-select>
                </div>
                <!-- classOfInsurance -->
                <div class="col-12 mb-3">
                    <label for="classOfInsu" class="form-label">Class Of Insurance</label>
                    <ng-select [items]="(lookupData | async)?.InsurClasses?.content!" [multiple]="true"
                        [hideSelected]="true" [closeOnSelect]="false" [loading]="lookupData ? false : true"
                        [clearable]="true" [searchable]="true" bindLabel="name" bindValue="name" id="classOfInsu"
                        (change)="getLineOfBusiness($event)" formControlName="classOfInsurance">
                    </ng-select>
                </div>
                <!-- lineOfBusiness -->
                <div class="col-12 mb-3">
                    <label for="lineofBuss" class="form-label">Line Of Business</label>
                    <ng-select [items]="uiState.lineOfBusinessList" [loading]="lookupData ? false : true"
                        [multiple]="true" [hideSelected]="true" [closeOnSelect]="false" [clearable]="true"
                        [searchable]="true" bindLabel="name" bindValue="name" id="lineofBuss"
                        formControlName="lineOfBusiness">
                    </ng-select>
                </div>
                <!-- PolicyNo -->
                <div class="col-12 mb-3">
                    <label for="policyNoInput" class="form-label">Policy No.</label>
                    <input type="text" class="form-control form-control-sm" id="policyNoInput" placeholder="Policy No"
                        formControlName="policyNo" />
                </div>
                <!-- EndorsNo -->
                <div class="col-12 mb-3">
                    <label for="endorsNoInput" class="form-label">Endors No.</label>
                    <input type="text" class="form-control form-control-sm" id="endorsNoInput" placeholder="EndorsNo"
                        formControlName="endorsNo" />
                </div>
                <!-- Policy Endors Type-->
                <div class="col-12 mb-3">
                    <label for="polEndorsType" class="form-label">Policy Endors Type</label>
                    <ng-select [items]="(lookupData | async)?.PolicyEndorsTypes?.content!"
                        [loading]="lookupData ? false : true" [clearable]="true" [searchable]="true" bindLabel="name"
                        bindValue="name" id="polEndorsType" formControlName="policyEndorsType">
                    </ng-select>
                </div>
                <!-- CLIENT DN/CN NO -->
                <div class="col-12 mb-3">
                    <label for="clientDN" class="form-label">Client DN/CN No.</label>
                    <input type="text" class="form-control form-control-sm" id="clientDN" placeholder="Client DN/CN NO"
                        formControlName="clientDNCNNo" />
                </div>
                <!-- COMPANY COMMISION DN/CN NO -->
                <div class="col-12 mb-3">
                    <label for="commDNCN" class="form-label">Company Commission DN/CN No.</label>
                    <input type="text" class="form-control form-control-sm" id="commDNCN"
                        placeholder="Company Commission DN/CN NO" formControlName="companyCommisionDNCNNo" />
                </div>
                <!-- OUR DN/CN NO -->
                <div class="col-12 mb-3">
                    <label for="ourDNCNNo" class="form-label">Our DN/CN No.</label>
                    <input type="text" class="form-control form-control-sm" id="ourDNCNNo" placeholder="Our DN/CN NO"
                        formControlName="ourDNCNNo" />
                </div>
                <!-- createdBy -->
                <div class="col-12 mb-3">
                    <label for="created" class="form-label">Created By</label>
                    <ng-select [items]="(lookupData | async)?.AllUsers?.content!" [loading]="lookupData ? false : true"
                        [clearable]="true" [searchable]="true" bindLabel="name" bindValue="name" id="created"
                        [readonly]="!(permissions$ | async)?.includes(uiState.privileges.ChProductionAccessAllUsers)!"
                        formControlName="createdBy">
                    </ng-select>
                </div>

                <!-- Issue Range -->
                <div class="col-12 mb-3">
                    <label for="user" class="form-label">Deadline Range</label>
                    <app-range-picker (dateChange)="setIssueRangeFilter($event)"></app-range-picker>
                </div>
                <!-- Finance Approve Range -->
                <div class="col-12 mb-3">
                    <label for="user" class="form-label">Finance Approve Range</label>
                    <app-range-picker (dateChange)="setFinApprovedRangeFilter($event)"></app-range-picker>
                </div>
                <!-- Inception Range -->
                <div class="col-12 mb-3">
                    <label for="user" class="form-label">Inception Range</label>
                    <app-range-picker (dateChange)="setInceptionRangeFilter($event)"></app-range-picker>
                </div>
                <!-- Finance Entry Range -->
                <div class="col-12 mb-3">
                    <label for="user" class="form-label">Finance Entry Range</label>
                    <app-range-picker (dateChange)="setFinEntryRangeFilter($event)"></app-range-picker>
                </div>
                <!-- Expires In Days -->
                <div class="col-12 mb-3">
                    <label class="m-checkbox m-checkbox--solid">
                        <input name="Amount" id="filterAmount" type="checkbox" formControlName="amount"
                            (change)="disableAmountFilter()"> Amount
                    </label>
                    <div class="row">
                        <div class="col">
                            <ng-select [items]="(lookupData | async)?.ProductionFieldList?.content!"
                                [loading]="lookupData ? false : true" [clearable]="true" [searchable]="true"
                                bindLabel="name" bindValue="name" id="created" formControlName="field">
                            </ng-select>
                        </div>
                        <div class="col">
                            <ng-select [items]="(lookupData | async)?.ProductionOperatordList?.content!"
                                [loading]="lookupData ? false : true" [clearable]="true" [searchable]="true"
                                bindLabel="name" bindValue="name" id="created" formControlName="operatordList">
                            </ng-select>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col">
                            <input id="filterAmountNo" name="AmountNo" type="number" min="0"
                                class="form-control form-control-sm" placeholder="0.00" formControlName="amountNo">
                        </div>

                        <div class="col" id="Amount2Div" *ngIf="f.operatordList?.value === 'Between' ">
                            <input id="filterAmountNo2" name="AmountNo2" type="number" min="0"
                                class="form-control form-control-sm" placeholder="0.00" formControlName="amountNo2">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- submit and clear btn -->
        <div class="offcanvas-footer border-top row mb-3 mx-1">
            <div class="col-6 mt-2">
                <button class="btn btn-light btn-sm w-100" (click)="clearFilter()">
                    Clear Filter
                </button>
            </div>
            <div class="col-6 mt-2">
                <button class="btn btn-success btn-sm w-100" (click)="onPolicyFilters()">
                    Apply
                </button>
            </div>
        </div>
    </ng-template>
</div>