<div class="row justify-content-between align-items-center mb-3">
    <div class="col-2 form-group row align-items-center">
        <label class="col-sm-2 col-form-label" for="pagingSizeSelect">Show: </label>
        <div class="col-sm-4">
            <ng-select (change)="onPageSizeChange()" [clearable]="false" [searchable]="false" id="pagingSizeSelect"
                [(ngModel)]="uiState.filters.pageSize">
                <ng-option [value]="25">25</ng-option>
                <ng-option [value]="50">50</ng-option>
                <ng-option [value]="100">100</ng-option>
                <ng-option [value]="150">150</ng-option>
                <ng-option [value]="200">200</ng-option>
            </ng-select>
        </div>
    </div>
    <div class="col-3 d-flex justify-content-end">
        <button class="btn btn-sm btn-info mx-2 d-flex align-items-center" (click)="openPoliciesFilter()"><i
                class="ri-filter-3-line me-1"></i>
            Filters
        </button>
        <button class="btn btn-sm btn-info mx-2 d-flex align-items-center" (click)="openPolicyDetailsTest(12363)"><i
                class="ri-filter-3-line me-1"></i>
            Details
        </button>
        <a [routerLink]="'/' + uiState.routerLink.forms" class="btn btn-sm btn-success  d-flex align-items-center">
            <i class="ri-add-line me-1"></i> New Policy
        </a>
    </div>
</div>

<div>
    <div class="ag-theme-alpine" appTableView>
        <ag-grid-angular id="gridScrollbar" style="width: 100%; height: 75vh" [rowData]="uiState.policies.list"
            [gridOptions]="gridOpts">
        </ag-grid-angular>
    </div>
</div>



<!----------------------------------  --------------------
                      Policy Filter
-------------------------------------------------------->
<div>
    <ng-template #filter let-offcanvas>
        <div class="offcanvas-header">
            <h4 class="offcanvas-title fs-4">Filters</h4>
            <button type="button" class="btn-close" aria-label="Close"
                (click)="offcanvas.dismiss('Cross click')"></button>
        </div>
        <div class="offcanvas-body">
            <form class="row justify-content-center" [formGroup]="filterForm">
                <!-- Policy Status -->
                <div class="col-12 mb-2">
                    <label for="policyStatus" class="form-label">Policy Status:</label>
                    <ng-select [items]="(lookupData | async)?.PolicyStatus?.content!"
                        [loading]="lookupData ? false : true" [clearable]="true" [searchable]="true" bindLabel="name"
                        [multiple]="true" bindValue="name" id="policyStatus" formControlName="status">
                    </ng-select>
                </div>
                <!-- Branch -->
                <div class="col-12 mb-2">
                    <label for="branchName" class="form-label">Branch:</label>
                    <ng-select [items]="(lookupData | async)?.Branch?.content!" [loading]="lookupData ? false : true"
                        [clearable]="true" [searchable]="true" bindLabel="name" bindValue="name" id="branchName"
                        formControlName="branch">
                    </ng-select>
                </div>
                <!-- Our Ref -->
                <div class="col-12 mb-2">
                    <label for="ourRefInput" class="form-label">Our Ref:</label>
                    <input type="text" class="form-control" id="ourRefInput" placeholder="Our Ref"
                        formControlName="ourRef" />
                </div>
                <!-- Client Name -->
                <div class="col-12 mb-2">
                    <label for="clientName" class="form-label">Client Name:</label>
                    <ng-select [items]="(lookupData | async)?.ClientsList?.content!"
                        [loading]="lookupData ? false : true" [clearable]="true" [searchable]="true" bindLabel="name"
                        bindValue="name" id="clientName" formControlName="clientName">
                    </ng-select>
                </div>
                <!-- Producer -->
                <div class="col-12 mb-2">
                    <label for="producerName" class="form-label">Producer:</label>
                    <ng-select [items]="(lookupData | async)?.Producers?.content!" [loading]="lookupData ? false : true"
                        [clearable]="true" [searchable]="true" bindLabel="name" bindValue="name" [multiple]="true"
                        id="producerName" formControlName="producer">
                    </ng-select>
                </div>
                <!-- Insurance Company -->
                <div class="col-12 mb-2">
                    <label for="insurCompany" class="form-label">Insurance Company:</label>
                    <ng-select [items]="(lookupData | async)?.InsuranceCompanies?.content!"
                        [loading]="lookupData ? false : true" [clearable]="true" [searchable]="true" bindLabel="name"
                        bindValue="name" id="insurCompany" formControlName="insurCompany">
                    </ng-select>
                </div>
                <!-- classOfInsurance -->
                <div class="col-12 mb-2">
                    <label for="classOfInsurance" class="form-label">Class Of Insurance</label>
                    <ng-select [items]="(lookupData | async)?.InsurClasses?.content!"
                        [loading]="lookupData ? false : true" [clearable]="true" [searchable]="true" bindLabel="name"
                        bindValue="name" id="classOfInsurance" (change)="getLineOfBusiness($event)"
                        formControlName="classOfInsurance">
                    </ng-select>
                </div>
                <!-- producer -->
                <div class="col-12 mb-2">
                    <label for="producer" class="form-label">Producer</label>
                    <ng-select [items]="(lookupData | async)?.Producers?.content!" [loading]="lookupData ? false : true"
                        [clearable]="true" [searchable]="true" bindLabel="name" bindValue="name" id="producer"
                        formControlName="producer">
                    </ng-select>
                </div>

                <!-- DeadLine Range -->
                <div class="col-12 mb-2">
                    <label for="user" class="form-label">Deadline Range:</label>
                    <!-- <app-range-picker (dateChange)="setDeadLineFilter($event)"></app-range-picker> -->
                </div>
                <!-- Saved On Range -->

                <div class="col-12 mb-2">
                    <label for="user" class="form-label">Saved On Range:</label>
                    <!-- <app-range-picker (dateChange)="setSavedOnFilter($event)"></app-range-picker> -->
                </div>
                <!-- Expires In Days -->
                <div class="col-12 mb-2">
                    <label for="expireIn" class="form-label">Expires In:</label>
                    <div class="input-group input-group-sm">
                        <input type="text" type="number" class="form-control" id="expireIn" placeholder="Full Name"
                            formControlName="expireIn" />
                        <span class="input-group-text" id="Days">Days</span>
                    </div>
                </div>
            </form>
        </div>
        <!-- submit and clear btn -->
        <div class="offcanvas-footer border-top row mb-3 mx-1">
            <div class="col-6 mt-2">
                <button class="btn btn-light btn-sm w-100" (click)="clearFilter()">
                    Clear Filter
                </button>
            </div>
            <div class="col-6 mt-2">
                <button class="btn btn-success btn-sm w-100" (click)="onPolicyFilters()">
                    Apply
                </button>
            </div>
        </div>
    </ng-template>
</div>