<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex align-items-center flex-wrap gap-2">
                    <div class="flex-grow-1">
                        <h4 class="card-title m-0">Groups List</h4>
                    </div>
                    <div class="flex-shrink-0">
                        <div class="hstack text-nowrap gap-2">
                            <button type="button" class="btn btn-success add-btn btn-sm"
                                (click)="openAddGroupDialoge(content)">
                                <i class="ri-add-fill me-1 align-bottom"></i> Add Group
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ag-theme-alpine" appTableView>
            <ag-grid-angular class="gridScrollbar" class="groupsTable" style="width: 100%; height: 60vh;"
                [gridOptions]="gridOpts">
            </ag-grid-angular>
        </div>
    </div>
    <div class="col-lg-8 col-md-6 col-sm-12">
        <app-groups-clients [group]="selectedGroup" [groupsList]="uiState.group.list"></app-groups-clients>
    </div>


    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <form [formGroup]="addGroupForm" (ngSubmit)="submitCreateClientGroup()">
            <div class="modal-body">
                <div>
                    <label for="groupName">Group Name</label>
                    <div class="input-group">
                        <input id="groupName" class="form-control form-control-sm" formControlName="groupName"
                            [ngClass]="{ 'is-submitted': (form['groupName'].touched || uiState.submitted) && addGroupForm.invalid }" />
                        <div class="invalid-feedback mt-0 d-inline-block"
                            *ngIf="(form['groupName'].touched || uiState.submitted) && addGroupForm.invalid">
                            Required</div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-sm btn-success">Save</button>
                <button type="button" class="btn btn-sm btn-outline-danger"
                    (click)="modal.close('cancel')">Cancel</button>
            </div>
        </form>
    </ng-template>
</div>